@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.component,
form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-around;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.1rem;
}

ion-item {
  border-bottom: 1px solid #fff;
  margin-right: 30px;
}



@media(max-width: 425px) {
  form {
    justify-content: center;
  }
}

@media(max-width: 800px) {


  .component {
  background-color: var(--ion-color-primary);
  }

  .component {
    justify-content: space-around;
    form {
      flex-direction: column;
      ion-item {
        margin: 0;
      }
    }
  }
}

@media(min-width: 1440px) {
  ion-item {
    width: 300px;
    
  }
  .img-component{
    margin-left: 128px;
    height: 378px;

    
  }
}


