<app-toolbar></app-toolbar>

<ion-content>


  <div class="header-h1">
    <h2 class="header-title">Consumo problemático de sustancias psicoactivas</h2>
    <img style="position: absolute; height: 21px; position: absolute; left: 270px; top: 19px;" src="../../../assets/pdf genero/piririn-2.png">
    <img style="position: absolute;left: 5px;top: 13px;height: 36px" src="../../../assets/pdf genero/circulo-verde.png">
     <img style="position: absolute;height: 34px;transform: scaleX(-1);top: 97px; right: 358px;" src="../../../assets/imgHome/circle-lightblue.png">
     <img style="position: absolute; top: 200px; height: 140px; left: 200px;" src="../../../assets/pdf bullying/Image_009.png">
  </div>

  <div class="div-svg-header" >
    <svg viewBox="0 0 500 150" preserveAspectRatio="none"><path style="fill: #d7e36a;" class="lv-wave" d="M-76.46,42.92 C112.02,-45.88 486.17,116.94 577.03,-29.11 L515.52,-20.22 L-25.11,-14.30 Z"></path></svg>
   </div>

  <ion-card class="consumo margin-card-default card-no-shadow" >

    <ion-card-content>
      <div class="consumo-content">
        <p>
        En la etapas inicial y media de la adolescencia (desde los 11 a los 17 años), desarrollás una imagen propia y construcción de un rol que, en general, te lleva a proyectarte y potenciarte ante y con l@s demás.
      </p>
      <br>
      <p>
        Este es un momento en el que empezás a ser y sentirte más autónomo/a e independiente frente a tu núcleo familiar o contexto y es probable que busques la aceptación e integración en grupos sociales: amig@s, compañer@s de club, o de cualquier espacio de pertenencia.
      </p>
      <br>
      <p>
        La necesidad de pertenecer a un grupo, es una característica de todas las personas por la necesidad del ser humano de socializar y referirse con pares, colegas, etc. En este compartir, muchas veces, podés exponerte a comportamientos de riesgo, como el consumo excesivo de alcohol u otras sustancias, como una manera de experimentación, de compartir, de transgredir los límites conocidos.

      </p>
      <br>
      <p>
        Esto no signiﬁca que necesariamente tengas o vayas a tener un problema de adicción o un consumo problemático. Pero, el inicio temprano del consumo de sustancias, puede aumentar la probabilidad de progresar hacia la dependencia, además de las consecuencias inmediatas de los efectos de las diferentes sustancias .

      </p>
      <br>
      <p>
        Se entiende como sustancia psicoactiva a cualquiera que produzca efectos sobre el sistema nervioso central con la capacidad de cambiar la percepción, el estado de ánimo y/o el comportamiento.

      </p>
      <br>
      <p>
        Ninguna persona responde de igual manera, ante una misma sustancia. Y aquí, radica uno de los problemas: Lo que a una persona no le genera ninguna modiﬁcación en su experiencia, a otra le puede traer un trastorno físico que puede ser momentáneo o duradero.

      </p>
      <br>
      <p>Un consumo es problemático cuando una persona se ve afectada negativamente en forma ocasional o crónica en una o más áreas vitales como ser: Su salud física o mental, sus relaciones sociales primarias (familia, pareja, amig@s) o relaciones sociales secundarias (trabajo, estudio, club, etc).</p>
    </div>
    <br>
    <div class="consumo-content">
      <h2 class="title__section">Consumo de alcohol</h2>
      <br>
      <p>A lo largo de la historia, las bebidas alcohólicas han sido consumidas en muchas sociedades como símbolo de inclusión al grupo social, un símbolo de celebración o un acto sacro. Sin embargo, el alcohol es una droga psicoactiva legal ampliamente consumida por las/los adolescentes en nuestro país y por otros rangos etarios.</p>
      <br>
      <p>La Organización Mundial de la Salud (OMS) recomienda la abstinencia completa de alcohol en menores de 18 años y su venta es ilegal, según la legislación nacional.</p>
      <br>
      <p>El riesgo de dependencia en la edad adulta puede tardarse en disminuir, si la incorporación del consumo de bebidas alcohólicas se produjo de muy joven. Esto se debe a que todavía no se ha alcanzado la etapa adulta y el/la joven se encuentra en una fase de formación y desarrollo, por lo que las consecuencias para la salud son mayores que para una persona adulta</p>
    </div>
    <br>
    <div  class="consumo-content">
      <h2 class="title__section">Potenciales daños</h2>
      <br>
      <p>Además de los riesgos derivados de la ingesta de alcohol en la salud física, los daños más perjudiciales a estas edades se producen en la salud mental.</p>
      <br>
      <p>El cerebro del/la adolescente, osea tu cerebro, se encuentra en constante desarrollo y crecimiento ya que es donde vas a adquirir todas las capacidades de razonamiento, planiﬁcación, procesamiento de la información, capacidad discursiva y todas las propiedades del pensamiento abstracto. El consumo de alcohol durante esta etapa de adquisición y desarrollo de estas habilidades, puede estancar tu proceso y dar como resultado un adult@ que presente importantes carencias en el pensamiento maduro.</p>
      <br>
      <p>El alcohol también perjudica las zonas del cerebro responsables de la memoria y del aprendizaje, que también se encuentran en desarrollo y que diﬁcultan sobremanera y perjudican tu capacidad de crear y almacenar recuerdos, tu capacidad de atención y concentración.</p>
      <br>
      <p>Estas habilidades son imprescindibles para el desarrollo de tu educación y aprendizaje, por lo que, a la larga, su carencia o su desarrollo incompleto, pueden traer graves consecuencias para el desarrollo de todo tu potencial o tu talento.</p>
      <br>
      <p>La Organización Mundial de la Salud (OMS) establece una serie de perjuicios derivados del consumo de alcohol, entre los que destacan:</p>
      <br>
      <p>- Fomento de las relaciones sexuales sin protección, lo que acarrea el contagio de enfermedades de transmisión sexual y otros riesgos como el embarazo precoz.</p>
      <br>
      <p>- Accidentes de tráﬁco y tránsito, que representan una de las mayores causas de muerte prematura entre los jóvenes.</p>
      <br>
      <p>- Proliferación y desarrollo de la violencia, especialmente de la violencia de género.</p>
      <br>
      <p>El alcohol es una sustancia depresora que afecta al sistema nervioso central, y el organismo de los menores de 18 años no está lo suﬁcientemente desarrollado como para metabolizarlo, por lo que los afecta más que a l@s adult@s. La enzima que metaboliza el alcohol en el hígado funciona correctamente recién entre los 18 y los 20 años, por eso, las borracheras en los adolescentes son más agudas y peligrosas. También el consumo en personas gestantes, es de riesgo.</p>
      <br>
      <p>El consumo de alcohol, puede ser causante de distintas enfermedades, discapacidades, trastornos y daños como afecciones cerebrocardiovasculares, epilepsia, pancreatitis aguda y crónica, diabetes, hipertensión arterial, cirrosis hepática, trastornos depresivos y neuropsiquiátricos, úlcera péptica, diversas formas de cáncer, problemas óseos, violencia y lesiones no intencionales, entre otras como la propensión a aumentos de comportamientos suicidas.</p>
      <br>
      <p>Para que se produzcan estos daños, no es necesario que bebas en grandes cantidades o durante un tiempo prolongado.</p>
      <br>
      <p>El problema del consumo de bebidas alcohólicas es tan grave que según la OMS: “una de cada cinco muertes de jóvenes está relacionada con el alcohol”.</p>
    </div>
      <br>
      <div class="sugerencias-content">
        <h2 class="title__section">
          <span>Sugerencias</span>
        </h2>
        <br>
        <p>Es importante que si se van a juntar a celebrar a hacer una PREVIA.</p>
        <div style="text-align: center;">
          <img class="img3" src="../../../assets/pdf consumo problematico/Image_013.png">
        </div>
       
        <div class="otros-efectos"> 
          <h2 class="title__section" style="background-color: rgb(215, 227, 106); color: rgb(60, 36, 111);">Si alguien consumió alcohol en exceso</h2>
          <p>-Si se descompensa o se desmaya, ponel@ de costado, para que no se ahogue, si vomita.</p>
          <br>
          <p>-Lleval@ a un lugar tranquilo y ventilado.</p>
          <br>
          <p>
            -Pedir ayuda a una persona adulta de conﬁanza.
          </p>
          <br>
          <p>=Llamá a Emergencias Médicas al 107 SAME o al de su prepaga.</p>
          <br>
          <p>-Aﬂojále la ropa. Abrigál@.</p>
          <br>
          <p>-No l@ dejes solo.</p>
          <br>
          <p>- Si está en condiciones, dale mucha agua.</p>
        </div>

          <img class="img-consumo-1" src="../../../assets/pdf consumo problematico/Image_007.png">

      </div>
    </ion-card-content>
  </ion-card>

  <img src="../../../assets/imgHome/lineaVioleta.png">

  <ion-card class="consumo margin-card-default card-no-shadow">

    <ion-card-content>
      <div class="tabaco-content">
        <h2 class="title__section">Tabaco</h2>
        <br>
        <p>El tabaco tiene consecuencias muy graves para las personas y se va agravando más cuando su inicio se produce en edades tempranas.</p>
        <br>

        <p>El consumo de tabaco es una importante causa de enfermedad cardiovascular que puede generar un destino fatal.</p>
        <br>

        <p>Entre los tipos de productos del tabaco consumidos por alumn@s de escuela secundaria se incluyen: cigarrillos electrónicos, narguiles, cigarrillos, cigarros, tabaco sin humo, pipas, snus (tabaco de consumo oral), bidis (cigarrillos de tabaco enrollado) y tabaco soluble.</p>
        <br>

        <p>El consumo de tabaco, muchas veces se inicia cuando el resto del grupo de amig@s lo hace, o cuando hay algunos problemas afectivos o falta de cuidado del entorno familiar, que no sabe si quiera que sus hij@s fuman, también ocurre que las personas jóvenes comienzan a fumar, cuando en sus hogares hay humo de tabaco.</p>
        <br>

        <p>En Vicente López existe una ordenanza municipal que prohíbe la exposición publicitaria en via publica y en comercios de productos de tabado o relacionados con el tabaco, porque sabemos ques es perjudicial para la salud y que la mayoría de las personas fumadoras se arrepienten de haberse iniciado en el tabaco a lo largo de su vida. Principalmente porque los niveles de dependencia que genera son tan fuertes, que a futuro en difícil dejarlo.</p>
        <br>
        <h2 class="title__section" style="color: rgb(60, 36, 111);">Centros de salud de cesación tabáquica</h2>
        <div>

        <ion-button
          class="button__hero"
          expand="block"
          shape="round"
          href="https://www.vicentelopez.gov.ar/turnos-salud"
          target="_blank"
        >
          Pedí turno
        </ion-button>
      </div>
        <br>

      <div>
        <h2 class="title__section">Riesgos en la salud</h2>
        <br>
        <p>

          Entre los problemas de menor riesgo de salud causados por el tabaco se incluyen: deterioro dental, daños metabólicos, tos frecuente, aumento de ﬂema, disminución del sistema inmunitario y del buen estado físico, envejecimiento prematuro de la piel, aumento del riesgo de cataratas, baja densidad ósea, mayor riesgo de artritis, etc. Pero también conlleva a enfermedades más riesgosas, aumentando la probabilidad de daños al corazón y vasos sanguíneos y riesgo de cánceres de boca, pulmón, laringe, faringe, esófago, riñón, cuello uterino, hígado, vejiga, páncreas, estómago, colon, recto y leucemia mieloide.

        </p>
        <br>
        <p>Otras enfermedades que pueden afectar gravemente a la persona por el consumo de tabaco son las enfermedades pulmonares obstructivas crónicas (EPOC), las cuáles aumentan su riesgo en mayor consumo, sin tener una cura.</p>
      </div>
    </div>
      <br>
      <div>
        <h1 style="color: rgb(60, 36, 111); background-color: rgb(214, 168, 202);"> Los beneficios de dejar de fumar:</h1>
        <br>
        <div style="text-align: center;">
        <img  class="img1" src="../../../assets/pdf consumo problematico/Image_009.png">
      </div>
    </div>


    </ion-card-content>
  </ion-card>

  <ion-card class="consumo margin-card-default card-no-shadow">

    <ion-card-content>
      <div class="drogas-content">
      <h2 class="title__section">Drogas</h2>
      <h3> <span style="background-color: rgb(215, 227, 106);">Drogas según su origen:</span></h3>
      <br>
      <p> <span style="background-color: rgb(215, 227, 106); ">Drogas naturales:</span> Son aquellas que se recogen directamente de la naturaleza para ser consumidas por una persona, tales como: marihuana, hojas de coca, hongos, opio, etc.</p>
      <br>
      <p><span style="background-color: rgb(215, 227, 106);">Drogas semisintéticas:</span> Por procesos de laboratorio de las drogas naturales se obtiene otra sustancia. Ejemplo: heroína, cocaína.</p>
      <br>
      <p><span style="background-color: rgb(215, 227, 106); ">Drogas sintéticas:</span> Sustancias producidas o elaboradas solo en laboratorios por elementos químicos.</p>
      <br>
      <p>La dependencia a sustancias (o adicciones) se da cuando las personas tienen la necesidad inevitable de consumirla y se depende física y/o psíquicamente de ella. Aparece una necesidad de cantidades marcadamente crecientes de la misma para conseguir el efecto deseado (tolerancia), consumiendo en muchos casos para aliviar o evitar los síntomas de abstinencia.</p>
      <br>
      </div>

      <ion-grid class="drogas-content">
        <ion-row>
          <ion-col size="12" size-lg="8">

            <h2 class="title__section">Daños</h2>
            <br>
            <p>NO todas las drogas causan los mismos daños, pero la mayoría de las drogas sintéticas generan:</p>
            <br>

            <img class="img2"src="../../../assets/pdf consumo problematico/Image_012.png">

          </ion-col>

          <ion-col size="12" size-lg="4">
            <img src="../../../assets/pdf consumo problematico/Image_011.png">
          </ion-col>

        </ion-row>
      </ion-grid>


    <div class="otros-efectos"> 
      <h2 class="title__section">También el consumo de sustancias puede afectar en:</h2>
      <br>
      <p>- El crecimiento y desarrollo cerebral.</p>
      <br>
      <p>- Se da con mayor frecuencia con otros comportamientos arriesgados, como tener relaciones sexuales sin protección y conducir de manera peligrosa.</p>
      <br>
      <p>- Efectos negativos del consumo de drogas durante el embarazo o la lactancia: El consumo de drogas o medicamentos por parte de una mujer embarazada puede hacer que el/la beb@ sufra de abstinencia al nacer, una afección conocida como síndrome de abstinencia neonatal. Algun@s niñ@s que estuvieron expuestos a las drogas tendrán problemas de desarrollo relacionados con el comportamiento.</p>
    </div>
     </ion-card-content>
  </ion-card>

  <div class="div-svg-contacto-top">
    <svg class="svg-contacto-top"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: var(--ion-color-dark);stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
  </div>

   <div class="contacto-content">
     <img class="img-contacto-1" src="../../../assets/imgHome/circle-lightblue.png">

     <ion-card class="contacto-content margin-card-default card-no-shadow">
       <ion-card-content>


      <h2 class="title__section" style="color: white;">Contacto y servicios</h2>

      <p>Linea 141 (Nacional)</p>

      <p>Para solicitar asistencia y escucha:</p>

     <br>
     <img class="img-contacto-3" src="../../../assets/pdf genero/piririn-2.png">
     <img class="img-contacto-2" src="../../../assets/imgHome/circulo-verde.png">
      <ion-button
      class="button__hero"
      expand="block"
      shape="round"
      routerLink="/salud-sexual"
    >
    <a href="https://www.argentina.gob.ar/jefatura/sedronar"  style="text-decoration: none; color: white;">Más info</a> </ion-button>

      <p>Ante cualquier emergencia llamar al 107 SAME o acudir a la Guardia del Hospital Municipal B. Houssay Las 24 hs los 365 días del año</p>

      <p>Ingreso de Emergencias, por calle Caseros 1865, Florida.</p>

      <div style="text-align: center;">
     <ion-button
      class="button__hero"
      expand="block"
      shape="round"
      routerLink="/salud-sexual"
    >
    <a href="https://www.vicentelopez.gov.ar/turnos-salud"  style="text-decoration: none; color: white;">Consultanos</a> </ion-button>

    </div>

  </ion-card-content>
</ion-card>
  </div>

  <!-- <div class="div-svg-contacto-bottom" >
    <svg class="svg-contacto-bottom"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
  </div> -->




  <app-footer></app-footer>

</ion-content>
