
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 1.8rem;
  }
  
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
    font-family: 'bitter', sans-serif;
    font-weight: bold
  }

//header

.header-h1{
    background-color: #d7e36a; 
    font-size: 2rem;
    width: 100%;
    display: flex ;
    height: 300px; text-align: center;
}

.header-title{
    font-size: 3rem;color: black;top: 49px;top: 24px;position: absolute; left: 1px;
}

.img3{
    height: 150px;
}

.img2{
    height: 120px;
}
.img1{
    height: 259px;
}
/// Consumo de alcohol


.consumo-content h1{
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(60, 36, 111);
    
}

.consumo-content p{
    color: #3c246f;
    text-align: justify;}
    

.sugerencias-content span{
    color: rgb(60, 36, 111);
    background-color: rgb(164, 210, 200);
}
.sugerencias-content p{
    color: #3c246f;}


.sugerencias-content h1{
    font-size: 3rem;
}

//Tabaco

.tabaco-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}
.tabaco-content p{
    color: #3c246f;}

    .button1{ padding: 15px;border-radius: 30px;background-color: rgb(75, 21, 116); color: white;
    }

//Drogas

.drogas-content{
    text-align: justify;
}

.drogas-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.drogas-content p{
    color: #3c246f;}


//contacto

.contacto-content{
    background-color: black;
    color: white;
    text-align: justify;
    padding: 16px;
    font-size: 14px
}

.contacto-content p{
    color: white;
}

.button2{
    padding: 15px;
      border-radius: 30px;
      background-color: white;
      color: black;
}
  

//SVG

.div-svg-header{
    height: 27px;
}

.div-svg-contacto-top{   
    height: 33px;
    
}

.svg-contacto-top{
    
    fill: rgb(255, 255, 255);position: relative;bottom: 79px; transform: scaleY(-1);
}



.div-svg-contacto-bottom{
    height: 155px;
}

.svg-contacto-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;
}



@media (min-width: 1146.98px){


    //Header

    .header-title{
    font-size: 6rem;
    color: black;
    top: 103px;
    position: absolute;
    left: 235px;
    }


    //SVG

    .div-svg-header{
        height: 147px;
    }

    .div-svg-contacto-top{
        
        height: 158px;
    }

    .svg-contacto-bottom{
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;
    }
    

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom:387px;
    }

  

    //Consumo

    .consumo{
        margin-right: 122px;
        margin-left: 113px;

    }

    .consumo p{
        font-size: 3rem;

    }

    .consumo h1{
        font-size: 7rem;
        font-weight: bold;
    }

    .img1{
        height: 452px;
        width: 50%;
}

.button1{
    padding: 33px;
    border-radius: 30px;
    background-color: rgb(75, 21, 116);
    color: white;
    width: 254px;
    font-size: 3rem;
}

//Drogas

.img2{
    width: 50%;
    height: 276px;
}

.img3{
    height: 411px;
    width: 50%;
}

//Contacto

.contacto-content p{
    font-size: 3rem;

}

.contacto-content h1{
    font-size: 7rem;
    font-weight: bold;


}

.button2{
      background-color: white;
      padding: 33px;
      border-radius: 30px;
      width: 254px;
      font-size: 3rem;
}
    





}











