@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.header img{
  display: none;
}
.button__hero {
  display: block;
  margin: 10px auto;
  font-size: 1rem;
  width: 170px;
  height: 40px;
  }

  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

.card-no-shadow {
  box-shadow: none;
}
.title__section {
  color: var(--ion-color-primary);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}


//header


.header{
  position: absolute;
  bottom: 618px;
text-align: center;
}



/// Consumo de alcohol


.consumo-content p{
  color: #3c246f;
  text-align: left;
  }

.sugerencias-content span{
  color: rgb(60, 36, 111);
  background-color: rgb(164, 210, 200);
}

.sugerencias-content p{
  color: #3c246f;
}

.sugerencias-content h1{
  font-size: 3rem;
}

.otros-efectos{
  color: #3c246f;
}
//Tabaco

ul, li {
  color: var(--ion-color-dark);
}

.tabaco-content p {
  color: #3c246f;
}


//Drogas

.drogas-content {
  text-align: justify;
  h3 {
    font-size: 1.5rem;
    color: var(--ion-color-primary);
  }
  span {
    font-weight: bold;
  }
}

.drogas-content p {
  color: #3c246f;
}


//contacto

.contacto-content{
  background-color: black;
  color: white;
  text-align: left;
  padding: 16px;
  font-size: 14px
}

.contacto-content h2{
  text-align: left;
}

.contacto-content p{
  color: white;
}



//SVG





.svg-contacto-top{

    fill: rgb(255, 255, 255);position: relative;bottom: -20px; transform: scaleY(-1);
}




.svg-contacto-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;
}

.img-consumo-1{
    display: none;
}

.img-contacto-1{
    display: none;
}

.img-contacto-2{
    display: none;
}


.img-contacto-3{
    display: none;
}

@media (min-width: 800px){

  .margin-card-default{
    margin: 0px 160px 1px 160px;
    max-width: 900px;
  }

  .header{
    bottom: 477px;
    position: absolute;
  } 

  .header img{
    display: block;
  }

  .img-header{
    margin-top: 111px;
    }

    .header h2{
      text-align: left;
      font-size: 4.5rem;
    }

    .button-footer{
      float: left;
    }
}


@media (min-width: 1400px){
  .befenicios h2{
    font-size: 4rem;
  }

  .title__section {
    font-size: 4rem !important;
  }

    .margin-card-default{
        margin: 0px 271px 1px 271px;
        max-width: 1330px;
    }



    //Header

    .header{
      
    bottom: 253px;

    }

    .img-header{
    margin-top: 111px;
    }

    .header h2{
      text-align: left;
      font-size: 6.5rem;
    }
    
    .header-contenedor-padre{
      height: 965px;
    }


    //SVG



    .svg-contacto-bottom{
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;
    }


    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom:-20px;
    }



    //Consumo

    .img-consumo-1{
        position: relative;
        left: 655px;
        bottom: 59px;
        height: 29px;
        display: block;
    }


    .consumo p{
        font-size: 1.5rem;

    }

    .consumo h2{
        font-size: 3.5rem;
       
        text-align: left;
    }

    .img1{
      height: 877px;
      width: 1089px;
}

.button1{
    padding: 33px;
    border-radius: 30px;
    background-color: rgb(75, 21, 116);
    color: white;
    width: 254px;
    font-size: 3rem;
}

//Drogas

.img2{
    width: 757px;
    height: 296px;
}

.img3{
  height: 528px;
  width: 1033px;
}

//Contacto

.contacto-content p{
    font-size: 1.5rem;

}

.contacto-content h2{
    font-size: 4rem;



}

.button2{
      background-color: white;
      padding: 33px;
      border-radius: 30px;
      width: 254px;
      font-size: 3rem;
}

.img-contacto-1{
    left: 0px;
    display: block;
    position: absolute;
    transform: scaleX(-1);
}

.img-contacto-2{
    display: block;
    position: absolute;
    left: 929px;
    top: 251px;
}

.img-contacto-3{
    display: block;
    position: absolute;
    left: 711px;
    top: 61px;
}





}











