.bullying-content{
    line-height: normal;
    color:rgb(60, 36, 111);
    

}

.bullying-bigbox{
    background-color: #d5e26a;
    border: 1px solid #93c;
    margin: 15px;
}

.bullying-content h1{
    font-weight: bold;
    text-align: center;
    margin: 15px;
    
}

.bullying-content p{
    line-height: 1.5;
    
}

.bullying-bigbox h1 {
    font-weight: bold;
    text-align: center;
    color:rgb(60, 36, 111);
    font-size: 2.5rem;
    margin-bottom: 10px; 
}


.bullying-close-icon{
    width: 100%;
    background-color: #d5e26a;
    border-bottom: 1px solid #93c; 
    float: right;
    box-sizing: border-box;
}

//consecuencias

.consecuencias-content{
    font-size: 3rem;
    line-height: normal;
    color:rgb(60, 36, 111);
    justify-content: center;
    margin-bottom: 10px;
    

}

.consecuencias-content h1{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    
    
    
}

.consecuencias-content p{
    line-height: 1.5;
    
    margin-bottom: 10px;
    
}

//cyberbullying

  