<app-toolbar></app-toolbar>
<ion-content>
  <div>
    <img class="img-header" src="../../../assets/pdf bullying/Image_001.png" >
    </div>


  <ion-card>
    <ion-card-content>
      
      <ion-grid>
        <ion-row>

          <ion-col  size="12" size-lg="6">
            <img class="img1" src="../../../assets/pdf bullying/5.png">
 
          </ion-col>

          <ion-col class="bullying-content" size="12" size-lg="6">
            <h1>¿Qué es el bullying?</h1>
    
              <p>Es el acoso físico o psicológico que l@s compañer@s de colegio hacen a otro/a estudiante.</p>
          
              <p>Bullying es humillar, maltratar, intimidar, avergonzar, burlar de manera sostenida y sistemática a otra persona que queda sometida a soportarlo.</p>
    
            
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card-content>
      </ion-card>


      <div class="condiciones" >
        <h1 style="font-weight: bold; text-align: center;  color:rgb(60, 36, 111);">Para que haya acoso debe haber</h1>
        <div class="bullying-bigbox">
          
          <div class="emergencia-close-icon">
            <img style="float: right;" src="../../../assets/x-caja.png"> 
           </div>
          <div class="bullying-content" style="text-align: justify; padding: 10px; ">
          <p >- Una víctima atacada por un grupo de pares.</p>
          
          <p >- Desigualdad de poder entre el/la más “fuerte” y el/la más “débil”.</p>
          
          <p> - Existencia de acción agresiva reiterada en el tiempo.</p>
          
          <p >- Espectadores (más o menos participativos)</p>
          </div>
        </div>
      </div>

  
  <ion-card class="consecuencias">
    
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <h1>¿Qué consecuencias puede tener?</h1>
          <p>
            Severos problemas de autoestima a veces a largo plazo, a veces para toda la vida.
          </p>
          
          <p>Algunos alcanzan tal nivel de tristeza, desesperación, miedo y desesperanza que se enferman.</p>
          
          <p>Un/a chico/a hostigado/a sabe o imagina lo que “debería haber hecho” pero simplemente no puede hacerlo, al quedar debilitada/o a lo largo del tiempo, y con baja autoestima lo cual le dificulta defenderse o reaccionar.</p>
          
          <p>Insistirle con "no pasa nada" "qué te va a hacer", lo hace sentir mucho más vulnerable aún....</p>
          
          <p>L@s chic@s que viven constantemente mirando y siendo testigos de situaciones de violencia, se sienten desamparados e indefensos.</p>
      

        </ion-col>
        <ion-col  size="12" size-lg="4">
          <img class="img2" src="../../../assets/pdf bullying/Image_004.png">
        </ion-col>
      </ion-row>
    </ion-grid>
      <div class="consecuencias">
      
        <h1>¿Qué hacer frente al bullying?</h1>
        <p>
          Hablar con una persona adulta, un/a docente o familiar de confianza y contarle por lo que están pasando es fundamental.
        </p>
        <p style="font-size: bold;"><strong>Buscá ayuda hasta sentirte escuchado/a y pedí alguna acción al respecto.</strong></p>
        
        <p>Las escuelas deberían trabajar grupalmente estos temas para la convivencia escolar. Si no lo hacen, una vez enterado/as están cometiendo el error de estar siendo cómplices del bullying.</p>
        
        <p>Contarle a alguien de tu familia ayuda a no quedarse solo/a con esos sentimientos desagradables de ser acosado y además te ayudará a exigir acciones a la escuela.</p>
        
        <p>Si presenciás un acto de acoso o bullying, no te quedes callado/a, proponé charlarlo en clase o contale a las autoridades para que se ocupen de la temática de manera preventiva. <span style="font-weight: bold;">Siempre vas a estar ayudando a la persona acosada.</span></p>
        </div>

      </ion-card-content>

      
      
    
  </ion-card>

  <img src="../../../assets/pdf bullying/stop-bullying-3.png" style="width: 100%;">


  <ion-card class="consecuencias"> 
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="4">

            <img src="../../../assets/pdf bullying/stop-bullying-2.png">

          </ion-col>

          <ion-col size="12" size-lg="8">

            <p>
              En la situación en la cual un/a menor de edad atormenta, amenaza, hostiga, humilla o molesta a otr@ mediante el uso de dispositivos informáticos.
            </p>
            <p>
              A diferencia del ciberacoso, el hostigamiento requiere que ambas partes sean menores de edad. Características que lo hacen peligroso: Instantáneo, difícil de cuantificar, réplica exponencial, permanencia y el alcance ilímitado.
            </p>
            
          </ion-col>
        </ion-row>
      </ion-grid>
     
    
      
    </ion-card-content>
  </ion-card>

  <ion-card class="consecuencias">

    <ion-card-content>
      <div >
      
  
      
        <h1>Formas de Hostigamiento cibernético:</h1>
        
        <p>-Mostrar imágenes reales o manipuladas de alguien con el fin de humillar a la persona acosada.</p>
        
        <p>-Crear perfiles falsos para desarrollar espacios de votación y que la víctima sea catalogada de manera ofensiva por alguno de sus rasgos.</p>
        
        <p>-Usurpar identidad para generar reacciones sobre la víctima.</p>
        
        <p>-Enviar mensajes amenazantes.</p>
        
        <p>-Generar cadenas de mails ofensivos, etc.</p>
      
        <h1 style="background-color: #D6E26C; ">¿Qué hacer frente al Cyberbullying?</h1>


        <p>-No contribuir a masificar, ni amplificar el mensaje o la foto ofensiva</p>
        
        <p>-Recopilar información para denunciar y blanquear;</p>
        
        <p>-Contener a la víctima, pero no en la web, para evitar la viralización del problema; y evitar que la víctima busque compulsivamente online lo que están diciendo sobre el/ella.</p>
        
        <p>-En tiempos de Covid-19 aumentan los mensajes de aliento, de cuidado y cariño, pero también los que discriminan.</p>
        
        <p>El Ciberbullying se puede denunciar en el Observatorio de Internet de INADI. La recepción de casos se realiza vía correo electrónico a observatoriointernet@inadi.gob.ar.</p>
 
      
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card class="consecuencias">
    <ion-card-content>
      <ion-grid>
        <ion-row>

          <ion-col size="12" size-lg="8">
              <h1 style=" text-align: left;">¿Qué es el Grooming?</h1>
              
              <p>El GROOMING es la acción deliberada de una persona adulta que acosa sexualmente a una niña, niño o adolescente a través de un medio digital como una computadora o un teléfono celular o una Tablet, mediante la interacción entre dos o más personas, a través de por ejemplo redes sociales, correo electrónico, mensajes de texto, sitios de chat o juegos en línea.</p>
              
              <p>Las personas adultas que realizan grooming suelen generar uno o varios perfiles falsos, haciéndose pasar por un niño, niña o adolescente, buscando generar una relación de amistad y confianza con el o la menor a quien quieren acosar.</p>
              

          </ion-col>

          <ion-col size="12" size-lg="4">

            <img src="../../../assets/pdf bullying/Image_015.png">

            
          </ion-col>
          <ion-col size="12">
            <h1 >¿Cómo actúan los acosadores que hacen grooming?</h1>
            <div class="como-actuan" >
            <p >- Se muestran como alguien amigable</p>
              <p > - Buscan generar conﬁanza con la persona</p>
              
              <p >- Acosan y extorsionan</p>
              
              <p >- Contacto físico</p>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <div class="div-svg-contacto-top">
    <svg class="svg-contacto-top"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: #c8b5ed;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
  </div> 
      <div class="contacto">
        
      <h1 >Servicios</h1>
      <div>
      <p style="font-weight: bold;">Centro Municipal de la Niñez y Adolescencia de Vicente López</p>
      
      <p>Hipólito Yrigoyen 4848, Florida Oeste, Buenos Aires</p>
      
      <p>Teléfono 4711-2800 Int. 4415</p>
      
     
      <p style="font-weight: bold;"> Emergencias 109</p>
      <p style="font-weight: bold;">Urgencia médica 107</p>
      
  
      <p style="font-weight: bold;">Servicio local</p>
      
      <p style="font-weight: bold;">2225-8109 guardia 24 hs</p>
      
      <p style="font-weight: bold;"> 4711-2800 interno 4417 /4407 lunes a viernes de 8 a 14 hs</p>
      
      <p style="font-weight: bold;">servicio.local@vicentelopez.gov.ar</p>
      
  
      <p>Comisaría de la Mujer y la Familia 2111-2218</p>
      
      <p>Auditoría General de Asuntos Internos: 0800 999 8358 o</p>
      
      <p>denunciasai@mseg.gba.gov.ar</p>
     </div>


</div>
<div class="div-svg-contacto-bottom" >
  <svg class="svg-contacto-bottom"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: #c8b5ed;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
</div>

  <app-footer></app-footer>

</ion-content>
