@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.component{
  display: block;
  height: 350px;
  background-color: var(--ion-color-primary);
  background-image: url("../../../assets/suscribite\ datto\ \(1\).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bold{
  font-weight: bold;
}

.button__hero {
  width: 170px;
  height: 40px;
  font-size: 1.5rem;
  }

  h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    }

.card-no-shadow {
    box-shadow: none;
  }

.title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 1.5rem;
   
  }

  ul li {
    font-size: 1rem;
    padding: 5px;
    text-align: initial;
  }
 

.bullying-content{
  line-height: normal;
  color:rgb(60, 36, 111);
  text-align: left;
}

.bullying-bigbox{
  background-color: #f0f0f0;
  border: 1px solid #93c;
  margin:15px;
}

.bullying-content h1{
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.bullying-content p{
    line-height: 1.5;
    font-size: 1rem;

}

.bullying-bigbox h1 {
  font-weight: bold;
  text-align: center;
  color:rgb(60, 36, 111);
  font-size: 2.5rem;
  margin-bottom: 10px;
}


.bullying-close-icon{
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #93c;
  float: right;
  box-sizing: border-box;
}

.emergencia-close-icon{
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #93c;
  float: right;
  box-sizing: border-box;
  padding: 6px;
}


//consecuencias

.consecuencias{
  text-align: left;
  line-height: normal;
  color:rgb(60, 36, 111);
  justify-content: center;
  margin-bottom: 10px;
}


.consecuencias p{
  line-height: 1.5;
  color:rgb(60, 36, 111);
  margin-bottom: 10px;
  font-size: 1rem;
}

.como-actuan{
  text-align: left;
  line-height: normal;
  background-color: #a3cfc5;
}

//Contacto

.contacto{
 background-color: #c8b5ed;
 color: #3c246f;
 text-align: left;
}

  .contacto h1{
    font-size: 1.5rem;
  }

  //SVG

 


  .svg-contacto-top {
    fill: #c8b5ed;
    position: relative;
    bottom: -29px;
    transform: scaleY(-1);
  }



  .svg-contacto-bottom{
    fill: #c8b5ed;
    position: relative;
    bottom: 20px;
  }

  .img-contacto2-1{
    display: none;
  }


  .img-contacto2-2{
    display: none;
  }


  .contacto-2{
    background-color: black;
    color: white;
  }

  .img-stop{
    display: none;
  }

  .left{
    text-align: left;
  }

  .condiciones-content{
    color: #3c246f;     
    text-align: left;
    font-weight: bold;
  }

  @media (min-width: 800px){

    .margin-card-default{
      margin: 0px 160px 1px 160px;
   
    }

    .condiciones-content p{
      font-size: 2rem;
     
      color:rgb(60, 36, 111);
    }

    .bullying-grid{
      position: relative;
      bottom: 331px;
      margin: 0px 100px 0px 100px;
    }

    .bullying-contenedor-padre{
      height: 429px;
    }

 

    .que-hacer-bullying{
      margin: 0px 200px 0px 200px;
    }

}


@media (min-width: 1400px)  {



  .title__section {
    font-size: 3rem !important;
  }

    .margin-card-default{
        margin: 16px 279px 1px 279px;
        max-width: 1330px;
    }

    //Header

    .img-header{
        width: 100%;
    }

    //Bullying

    .img-stop{
      display: block;
      text-align: center;

      img{
        width: 600px;
      }
    }

    .bullying-contenedor-padre{
      height: 491px;
      h2{
        text-align: left;
      }
    }

    .img-grid-bullying{
      margin: 65px;
    }

    .bullying-grid{
      position: relative;
      bottom: 435px;

    p{
      font-size: 1.2rem;
    }
  }

    .que-hacer-bullying{
        margin: 17px 200px 0px 200px;

        p{
          font-size: 2.5rem;
        }
    }

    

    .bullying-content h2{
        font-size: 1.8rem;
        color:rgb(60, 36, 111);
        font-weight: bold;
    }

    .bullying-content p{
        font-size: 1.5rem;
        color:rgb(60, 36, 111);
    }

    .condiciones-content{
      font-size: 2.5rem;

    }


    //Condiciones

  

    .condiciones-content{
      text-align: left;
     
     
      padding: 20px;
    }


    .condiciones p{
        font-size: 2.5rem;
        

    }

    .condiciones h2{
        font-size: 1.8rem;
    }

    //Consecuencias

    .consecuencias .como-actuan p{
      font-size: 2.5rem;
    }

    .consecuencias{
        text-align: left;
        color:rgb(60, 36, 111);
        line-height: 1.5;
    }

    .consecuencias .que-hacer-bullying p{
      font-size: 2rem;
      padding: 15px;
    }


    .consecuencias p{
        font-size: 1.5rem;
        line-height: 1.5;

    }

    .consecuencias h2{
        font-size: 1.8rem;

    }

    .img2{
        margin-top: 92px;
    }

  
    //Contacto

    .contacto{
        background-color: #c8b5ed; color: #3c246f;
        }


        .contacto h2{
            font-size: 1.8rem;
        }

        .contacto p{
            font-size: 1.5rem;
        }


    .contacto-2{
        background-color: black;
        color: white;
        height: 240px;
        text-align: left;
        }


        .contacto-2 h2{
            font-size: 3rem;
        }

        .contacto-2 p{
            font-size: 1.5rem;
        }


    .img-contacto2-1{
        display: block;
        position: absolute;
        margin: 16px 0px 0px 1028px;
    }


    .img-contacto2-2{
        display: block;
        position: absolute;
        margin: -155px 0px 0px 1527px;
    }





       //SVG



  
 

    .svg-contacto-bottom{

        fill: #c8b5ed;position: relative;bottom: 2px;
    }









}

@media (min-width: 1700px){
  .bullying-grid{
    bottom: 510px;
  }
}



