.gestion-header{
    color: rgb(60, 36, 111);
    text-align: center;
    background-color: #c8b5ed;
    height: 465px;

}

.img1{
    padding-top: 69px;
    padding-left: 52px;
}

.gestion-header h1{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 30px;
}


//Ansiedad

.ansiedad-content{
    text-align: justify;
}

.ansiedad-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.ansiedad-content p{
    color: rgb(60, 36, 111);
}

//Emociones

.nombrar-emociones p{
    font-size:2rem;
    font-style: italic;
    color: rgb(60, 36, 111);
}

.nombrar-emociones{
    margin:15px;
}

.algunas-emociones h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.algunas-emociones p{
    
    color: rgb(60, 36, 111);
}

.cinco-cosas{
    color: rgb(60, 36, 111);
    font-weight: bold;

}

.cinco-cosas h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

//CONTACTO

.contacto-content{
    color: rgb(60, 36, 111);
}

.contacto-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.contacto-button-2{
    width: 68%;padding: 15px;border-radius: 30px;background-color: rgb(75, 21, 116); color: white;
}

//Depresion

.depresion-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.depresion-content p{
    
    color: rgb(60, 36, 111);
}

//Contacto

.contacto-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.contacto-content p{
  
    color: rgb(60, 36, 111);
}

.contacto-1{
   background-color: #dbeb63;padding: 16px;font-size: 14px;

}

//svg

.div-svg1{
    height: 33px;
}
.div-svg2{
    height: 33px;
}


.svg1{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}

//Contacto 2

.contacto-2{
    background-color: #8cb8a9; padding: 16px; color:#3c246f; font-size: 14px;
}
    




@media (min-width: 1146.98px){

    //Header

    .gestion-header{
        color: rgb(60, 36, 111);
        text-align: center;
        background-color: #c8b5ed;
        height: 819px;
    
    }

    .gestion-header h1{
        font-size: 10rem;
        font-weight: bold;
        left: 173px;
        top: 315px;
    
    }
        
    .gestion-header img{
        position: relative;
        top: 74px;
        width: 599px;
        right: 226px;
    
    }

    //Ansiedad

    .ansiedad{
        margin-right: 122px;
        margin-left: 113px;
    }

    .ansiedad p{
        font-size: 3rem;

    }

    .ansiedad h1{
        font-size: 7rem;
        font-weight: bold;
    }

    .ansiedad-content{
        margin-right: 122px;
        margin-left: 113px;
    }

    .ansiedad-conntent h1{
        font-size: 7rem;
    }

    .ansiedad-content p{
        font-size: 3rem;
    }

    //Emociones

    
    .emociones{
        margin-right: 122px;
        margin-left: 113px;
    }

    .emociones p{
        font-size: 3rem;

    }

    .emociones h1{
        font-size: 7rem;
    }

    //Contacto

    .contacto-1 h1{
        font-size: 7rem;
    }
    
    .contacto-1 p{
        font-size: 4rem;
    }
    

    //svg

    .div-svg1{
        height: 125px;
    }

    .svg1{
        fill: rgb(255, 255, 255);position: relative;bottom: 447px;   transform: scaleY(-1);
    }

    .div-svg2{
        height: 143px;
    

    }

    //Depresion

    .depresion{
        margin-right: 122px;
        margin-left: 113px;
    }

    .depresion p{
        font-size: 3rem;

    }

    .depresion h1{
        font-size: 7rem;
    }

    //Contacto 2

  

    .contacto-2 p{
        font-size: 3rem;

    }

    .contacto-2 h1{
        font-size: 7rem;
    }

    .contacto-button-2{
        font-size: 3rem;
        width: 30%;
        padding: 31px;
        border-radius: 30px;
        background-color: #4b1574;
        color: white;
       }

    

    



  





















}