@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


.button__hero {
    width: 170px;
    height: 40px;
   
  }

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  body {
    font-family: "Bitter";
  }

.card-no-shadow {
    box-shadow: none;
  }
  
.title__section {
  color: var(--ion-color-primary);
  font-weight: 700;
  font-size: 2rem;
}


.title__section-light {
  color: var(--ion-color-light);
  font-weight: 600;
}




.gestion-header{  
    background-color: #c8b5ed;
    height: 465px;

}

.header{
    color: rgb(60, 36, 111);
    background-color: #c8b5ed;

}





//Ansiedad

.ansiedad-content{
    text-align: justify;
}


.ansiedad-content p{
    color: rgb(60, 36, 111);
}

.ansiedad-dos-content{
    
}

.ansiedad-dos-content p{
    color: rgb(60, 36, 111);
    font-size: 1.5rem;

}

//Emociones

.nombrar-emociones p{
    font-size:2rem;
    font-style: italic;
    color: rgb(60, 36, 111);
}

.nombrar-emociones{
    margin:15px;
}

.algunas-emociones h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.algunas-emociones p{
    
    color: rgb(60, 36, 111);
}

.cinco-cosas{
    color: rgb(60, 36, 111);
    font-weight: bold;
    text-align: center;
    

}

.cinco-cosas h2{
    font-family: 'Bitter';
}

.cinco-cosas p{
    font-family: 'Bitter';
    font-weight: bold;
}

//CONTACTO

.contacto-content{
    color: rgb(60, 36, 111);
    
}

.contacto-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.contacto-button-2{
    width: 68%;padding: 15px;border-radius: 30px;background-color: rgb(75, 21, 116); color: white;
}

//Depresion


.depresion-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.depresion-content p{
    
    color: rgb(60, 36, 111);
}

//Contacto
.contacto-card{
    background-color: #dbeb63;
}

.contacto-content h1{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(60, 36, 111);
}

.contacto-content p{
  
    color: rgb(60, 36, 111);
}

.contacto-1{
   background-color: #dbeb63;padding: 16px;font-size: 14px;

}

//svg

.div-svg1{
    height: 9px;
}
.div-svg2{
    height: 33px;
}


.svg-contacto-top{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}

.svg-contacto-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 24px;;   


}

//Contacto 2

.contacto-2{
    background-color: #8cb8a9; padding: 16px; color:#3c246f; font-size: 14px;
}

.contacto-content2{
    background-color: #8cb8a9;
    color: rgb(60, 36, 111);
}
    




@media (min-width: 1146.98px){

    
    .margin-card-default{
        margin: 16px 279px 1px 271px;
        max-width: 1330px; 
    }

    //Header

    .gestion-header{
        color: rgb(60, 36, 111);
      
        background-color: #c8b5ed;
        height: 550px;
    
    }

    .img1{
        margin-right: 0;
    }

    
    .header h1{
        font-size: 9rem;
    }

    

    //Ansiedad

    

    .ansiedad p{
        font-size: 3rem;

    }


    .ansiedad-content p{
        font-size: 1.5rem;
    }

    .ansiedad-dos-content{
        text-align: center;
    }

    .ansiedad-dos-content p{
        font-size: 2.5rem;

    }

    //Emociones

    .emociones p{
        font-size: 1.5rem;

    }

    //SVG CONTACTO

   


    .div-svg1{
        height: 112px;
    }

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom: 447px;   transform: scaleY(-1);
    }

    .div-svg2{
        height: 143px;

    }

    .svg-contacto-bottom{
        
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;

    }

   

    //Contacto

    .contacto-card{
        background-color: #dbeb63;
    }

    
    .contacto-1 p{
        font-size: 1.5rem;
    }
    

    //svg contacto 2

    .div-svg-contacto2-top{
        height: 112px;
      }
      
      .svg-contacto2-top{
        transform: scaleY(-1);
        fill: rgb(255, 255, 255);
        position: relative;bottom: 447px;
        
      }

      .svg-contacto2-bottom{
        
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;

    }

    //CINCO COSAS

    .cinco-cosas h2{
        font-size: 2.5rem;
    }

    .cinco-cosas p{
        font-size: 2rem;
    }

    .img-ansiedad{
        margin-left: 1000px;
        /* margin-bottom: -48px; */
        margin-top: -32px;
    }
   

    //Depresion

  

    .depresion p{
        font-size: 1.5rem;

    }



    //Contacto 2

  

    .contacto-2 p{
        font-size: 1.5rem;

    }

 
    .contacto-button-2{
        font-size: 3rem;
        width: 30%;
        padding: 31px;
        border-radius: 30px;
        background-color: #4b1574;
        color: white;
       }

    

    



  





















}