.gestion-header{
    color: rgb(60, 36, 111);
    text-align: center;
    
    background-color: #d296ff;
}

.gestion-header h1{
    font-size: 2rem;
}

//Ansiedad

.ansiedad-content{
    text-align: justify;
}

.ansiedad-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.ansiedad-content p{
    color: rgb(60, 36, 111);
}

//Emociones

.nombrar-emociones p{
    font-size:1.5rem;
    color: rgb(60, 36, 111);
}

.nombrar-emociones{
    margin:15px;
}

.algunas-emociones h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.algunas-emociones p{
    
    color: rgb(60, 36, 111);
}

.cinco-cosas{
    color: rgb(60, 36, 111);
    font-weight: bold;

}

.cinco-cosas h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

//CONTACTO

.contacto-content{
    color: rgb(60, 36, 111);
}

.contacto-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

//Depresion

.depresion-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.depresion-content p{
    
    color: rgb(60, 36, 111);
}

//Contacto

.contacto-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.contacto-content p{
    
    color: rgb(60, 36, 111);
}