<app-toolbar></app-toolbar>

<ion-content>
<div class="gestion-header">
  <h1>Gestión de emociones</h1>
  <img src="../../../assets/pdf gestion de emociones/imageEmociones.png">
</div>
  <ion-card>
    <ion-card-content>
      <div class="ansiedad-content">
        <h1>Ansiedad</h1>
        <br>
      <p>En la vida cotidiana existen emociones, sentimientos y estados de ánimo que se ven modiﬁcados permanentemente. Muchas veces suceden de forma tal que no se identiﬁcan y entonces pueden afectarte mientras estás desarrollando tus actividades diarias. Es importante que puedas comprender tu mundo emocional, para gestionar tu estado de ánimo, lo que te va a ayudar a seguir en el proceso de construcción de tu identidad, relaciones interpersonales y también el proyecto de vida. No identiﬁcar las emociones, muchas veces te impedirá tomar buenas decisiones y puede llevarte a una relación errada con las personas. Cada un@ tiene una manera diferente de registrar emociones en el cuerpo, y es fundamental conocerlas e identiﬁcarlas a tiempo.</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <div class="nombrar-emociones">

      <p><span style="background-color: #d6a8ca;">Nombrar emociones y sentimientos te va a </span>ayudar a saber qué te pasa y cómo seguir. Permitite llorar si sentís que hace falta, ya que es saludable para que tu cuerpo pueda soltar y descargar sensaciones que han quedado alojadas.</p>
      <br>
      <p>No importa si el tema por el cual surge
        tu emoción es relevante o no.
        Las emociones, no deben ser
        juzgadas si no lastiman a nadie. Simplemente deben ser identificadas.</p>
        <img src="../../../assets/pdf gestion de emociones/chico-emociones.png">
        <br>
        <br>
      </div>
      <div class="algunas-emociones">
        <h1>Algunas emociones</h1>
        <br>
        <p>Alegría, alivio, malestar, tristeza, enojo, miedo, susto, ira, cansancio, nerviosismo, son algunos de esas sensaciones que podés sentir y que nombrarlas te va a facilitar para gestionarlas y te hará sentir un mejor estado de ánimo.</p>
        <br>
        <p>La sensación de ansiedad, puede surgir frente a situaciones comunes, como un examen, una entrevista, o el encuentro con alguna persona. En general son situaciones donde podés sentirte expuesta/o. Eso es esperable.</p>

        <br>
        <p>Sin embargo, hay veces en que la ansiedad puede sorprenderte, al punto de no saber cómo manejarla. Es bueno poder registrar lo que sentís, cómo y cuándo lo sentís, para poder gestionarlo. En época de pandemia es más común sentir lo que se llama ataque de pánico o de ansiedad.</p>

        <br>
        <p>Si te inunda la ansiedad, y comenzás a sentir: Palpitaciones, sudor, y pensamientos negativos.</p>

        <br>
        <p>Para esos momentos hay una fórmula llamada 5, 4, 3, 2, 1.</p>
        <br>
      </div>
        <div class="cinco-cosas" style="text-align: center; justify-content: center;">
          <h1>Consiste en pensar 5 cosas</h1>
          <br>
          <p>
            5 cosas que podés ver en ese momento (mirarlas y nombrarlas)
            
            4 cosas que podés oír (escuchar y nombrarlas)
            
            3 cosas que podés sentir (referido al tacto y al contacto)
            
            2 cosas que podés oler (nombrarlas)
            
            1 que podés saborear (nombrarlas)</p>
            <br>
         </div>
         <div class="algunas-emociones">
            
            <p>De esta manera, podés quedarte en el aquí y ahora, mientras hacés una respiración profunda que te ayudará a bajar ese estado de ansiedad.</p>
            <br>
            <p>Generar una respiración profunda, cuando surge una emoción que genera ansiedad, te va a ayudar a aquietarte y lograr un contacto interno que produce calma. Una respiración profunda, se alcanza sentado/a inspirando aire hacia la panza y exhalando de manera tranquila y calma. Es ideal, que busques un lugar tranquilo de la casa o el espacio que se habite, poner una música que te guste y aromatizar con algún aroma que te produzca pensamientos positivos.</p>
          </div>
        
    </ion-card-content>
  </ion-card>

  <div style="height: 33px;">
    <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);"><path style="fill: #dbeb63;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
  </div>

 
 <div style="background-color: #dbeb63;padding: 16px;font-size: 14px;">
      <div class="contacto-content">
      <h1>Contacto</h1>
      <br>
      <p>Servicio de Adolescencia. Hospital Municipal</p>
       <p> Hipólito Yrigoyen 1757</p>
        <p>4796-7200 Int 7309</p>
        <p>adolescenciaservicio@gmail.com</p>
        <br>
        <div style="text-align: center;">
      
        <button>Pedí turno</button>
        </div>
      </div>
 
</div>

<div style="height: 33px;">
  <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 0px;"><path style="fill:  #dbeb63;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
</div>


  <ion-card>
    <ion-card-content>
      <div class="depresion-content">
        <h1>Depresión</h1>
      <p>
        A veces podés sentirte bajoneada/o por un período largo de tiempo, con desánimo y pocas ganas.
      </p>
      <br>
      <p>Es importante que si te sentís así, puedas hablarlo con alguien con quien sientas conﬁanza o consideres que puede escucharte.</p>
      <br>
      <p>El diálogo es una gran herramienta para sentirte contenid@, acompañad@ y para buscar soluciones o imaginar perspectivas diferentes.</p>
      <br>

      <div>
      <h1>SEÑALES QUE INDICAN QUE ES MOMENTO DE PEDIR O DAR AYUDA</h1>
      <br>
      <p>- Hablar sobre sentimientos de desesperanza y de culpa.</p>
      <br>
      <p>- Tener sentimientos de mucho enojo o de venganza.</p>
      <br>
      <p>- Alejarse de amig@s, familia o contexto primario sin conﬂicto aparente.</p>
      <br>
      <p>- Escribir canciones, poemas ocartas sobre la muerte, la separación y la pérdida.</p>
      <br>
      <p>- Perder el deseo de participar en actividades favoritas.</p>
      <br>
      <p>- Tener diﬁcultad para concentrarse o pensar con claridad.</p>
      <br>
      <p>- Sufrir cambios en los hábitos de alimentación y de sueño.</p>
      <br>
      <p>- Comenzar a tener comportamientos de riesgo, hacer cosas sin pensar.</p>
      <br>
      <p>- Hablar sobre el suicidio o la muerte en general.</p>
      <br>
      <p>- Tener pensamientos de que no hay salidas a esta situación.</p>
      <br>
      <p>- Mucha ansiedad y angustia, que no te dejan dormir.</p>
      <br>
      <p>- Cambios dramáticos de humor.</p>
      <br>
      <img src="../../../assets/pdf gestion de emociones/chica-ayuda.png">
      </div>

    
      
      <div>
        <h1>¿Qué hacer para vos o para un amigo/a?</h1>
        <br>
        <p>- Buscar a alguien de conﬁanza con quién hablar.</p>
        <br>
        <p>- Pedir ayuda profesional</p>
        <br>
        <p>- Si se trata de ayudar a otra persona, estar presentes y hacérselo saber, para acompañarl@ a pedir ayuda profesional si es necesario.</p>
        <br>
        <p>- Continuar en contacto, a través de una llamada o un mensaje.</p>
        <br>
      </div>

      <div>
        <h1>Algunos puntos a tener en cuenta para el auto cuidado de tu salud mental</h1>
        <br>
        <p>- Hacer actividades que te den placer pero que no afecten tu salud, como dibujar, cantar, bailar, saltar, hacer actividad física, movimiento con música, jugar, pintar, armar, restaurar objetos.</p>
        <br>
        <p>- Estar al sol al menos 10 minutos por dia, en horarios que no afecten tu piel.</p>
        <br>
        <p>- Practicar ejercicios de gestión emocional: reconociendo y expresando tus emociones, evitando la repetición de pensamientos negativos que afecten tu autoestima.</p>
        <br>
        <p>- Hacerte un espacio para pasar un tiempo con aquellos de tu familia o amigos con quien te lleves bien. Ya sea virtual o presencial.</p>
        <br>
        <p>- Comer de manera saludable, limitando el consumo de grasa y azúcar. Tomar mucha agua.</p>
        <br>
        <p>- Dormir suﬁciente para descansar, manteniendo una rutina de sueño, apagando las pantallas, un poco.</p>
        <br>
        <p>- Pedí ayuda profesional si lo necesitás.</p>
      </div>
    </div>

    </ion-card-content>
  </ion-card>

  <div style="height: 33px;">
    <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);"><path style="fill:  #8cb8a9;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
  </div>

<div style="background-color: #8cb8a9; padding: 16px; color:#3c246f; font-size: 14px;">
      <div class="contacto-content">
        <h1>Contacto</h1>
      <p>
        Servicio de Adolescencia. Hospital Municipal
        Hipólito Yrigoyen 1757
        4796-7200 Int 7309
        adolescenciaservicio@gmail.com
      </p>
      <br>
      <div style="text-align: center;">
      
      <button class="contacto-content-button">Pedí turno</button>
      
      </div>  
      <br>
      <p>Centro Municipal de la Niñez y Adolescencia de Vicente López Hipólito
        Yrigoyen 4848, Florida Oeste, Buenos Aires
        Teléfono 4711-2800 Int. 4415
        
        *Para urgencias dirigirse a una guardia o llamar al 107 SAME las 24 hs los 365 días del año.
        
        </p>
        <br>
         
      <button class="contacto-content-button"> Más info</button>
     
      </div>
    </div>

    <div style="height: 33px;">
      <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 0px;"><path style="fill:  #8cb8a9;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
    </div>

  <app-footer></app-footer>


</ion-content>
