


ion-list {
    background: var(--ion-color-tertiary);
}

a {
    color: var(--ion-color-contrast);
    text-decoration: none;
}

.toolbar__menu {
    display: flex !important;
}

.logo__menu {
    width: 200px;
    display: block;
    margin: 0 auto;
}

img {
  width: 100px;
  margin: 0 20px;
}


.social__container {
  display: flex;
  justify-content: space-between;
}

ion-icon {
  font-size: 23px;
}


.contact__container {
  display: block;
}

.contact {
  margin: 0 20px;
}



