@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.component{
    display: block;
    height: 350px;
    background-color: var(--ion-color-primary);
    background-image: url("../../../assets/suscribite\ datto\ \(1\).svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  
ion-card-content {
    padding-top: 0;
    }


.button__hero {
    width: 200px;
    height: 40px;
    font-size: 1rem;
  }

  h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  p{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

.card-no-shadow {
    box-shadow: none;
  }
.title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left
    ;
  }

  .title__section_cuerpos {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left
    ;
  }



//Header

.header{

   height: 227px;
   }


  .header-text{
    position: relative;
    bottom: 162px;
    text-align: center;


  }

  .header-text-h2{
    font-weight: bold;
    color:rgb(60, 36, 111);
    font-size: 3.5rem;


  }
  .img-header{
      display: none;
  }







//Buenos habitos

.buenos-habitos-content{
    text-align: left;
}

.buenos-habitos-content span{
    background-color: #dab3ff;
}

.buenos-habitos-content h2{
    color: #3c246f;

}

.buenos-habitos-content  p{
    color: #3c246f;
    text-align: justify;
}



//Saludable

.saludable-content{
    text-align: left;
    color: #3c246f;
}






//Malos habitos

.malos-habitos-content{
    height: 248px;
    text-align: left;
}

.img-malos-habitos{
    height: 353px;
}


//virtualidad y sedentarismi

.virtualidad-content{
    text-align: justify;
    padding-bottom: 10px;
}

.virtualidad-content  p{
    color: #3c246f;
    text-align: justify;
}

.img6{
    height: 210px;
}
.problemas p{
    color: #3c246f;
}

//Recomendaciones

.recomendaciones-big-box{
    padding: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.recomendaciones-content{
    text-align: center;
}

.recomendaciones-2-content{
    text-align: left;
    color: #3c246f;
}

.recomendaciones-content h1{
    font-size: 3rem;
    text-align: center;
}
.recomendaciones-content p{
    color: #3c246f;
}

.button1{
 padding: 15px;border-radius: 30px; background-color: #d7e36a; color: #3c246f;
}

.img7{
    height: 210px;

    padding-left: 49px;

}

//Contacto

.contacto{
  background-color: var(--ion-color-dark);
  color: white;
  margin-bottom: 0px;
  padding: 16px;


}


//SVG


.svg-top{
    fill: rgb(255, 255, 255);
    position: relative;
    bottom: -31px;
    transform: scaleY(-1);
}



.svg-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 24px;
}

.img-contacto-1{
    display: none;
}

.img-contacto-2{
    display: none;
}

.img-contacto-3{
    display: none;
}

.bullying-grid{
    position: absolute;

    p{
        color: #3c246f
    }


  }

  .bullying-contenedor-padre{
    height: 666px;

  }

  @media (min-width: 800px){

    .header{
        height: 631px;
      }

      .header-text h2{

        font-size: 3.5rem;
        margin-top: 51px;


        }

      .header-text{
        position: relative;

        bottom: 496px;

        text-align: center;
      }

    .margin-card-default{
      margin: 0px 160px 1px 160px;
  
    }

    .bullying-grid{
        position: relative;
        bottom: 331px;

    }

    .bullying-contenedor-padre{
        height: 359px;
    }

    .img-header{
        display: block;
    }

    .malos-habitos-content{
        height: 462px;
    }

    .img-malos-habitos{
    height: 697px;

    }

    .img6{
        height: 333px;
    }


}


@media (min-width: 1400px){

    .header{
        height: 975px;
      }

      .header-text{


    bottom: 805px;


      }

        .header-text h2{
          font-size: 5rem;
          margin-top: 153px;

        }

    .title__section {
        font-size: 4rem !important;
      }

      .title__section_cuerpos {
        font-size: 2rem !important;
      }



    .margin-card-default{
        margin: 0px 201px 1px 201px;
      
    }
    .ciclo-content{
        font-size: 7rem;
    }

    .button__hero_bullying{
        width: 707px;
        font-size: 1.5rem;
        height: 60px;}





    .img1{width: 100%;}

    .img-header{
        display: block;
    }

  .gestion-header{
    height: auto;
  }

.cuanto-tiempo{
    font-size: 1.8rem;
}

//Bullying

.bullying-contenedor-padre{
    height: 466px;

    h2{
      text-align: left;
    }
    p{
        font-size: 1.3rem;
    }
  }

  

  .bullying-grid{
   position: relative;
   bottom: 400px;

   p{
       font-size: 1.2rem;
   }

}

.img-grid-bullying{
    margin-top: 45px;
}

//Habitos

.habitos{

    text-align: left;
}

.habitos h2{
    font-size: 4rem;
}

.habitos p{
    font-size: 1.5rem;
}

.img2{
    margin-top: 95px;
  
}

.img3{
  
    margin-top: 53px;

}

.img4{
    padding-top: 128px;
}

.img5{
 
    margin-top: 225px;

}

.img6{
    height: 485px;
}

.malos-habitos-content{
    height: 541px;
}

.img-malos-habitos{
    height: 815px;
}


.problemas p{
    color: #3c246f;
}

.button1{
    font-size: 3rem;
    padding: 36px;
    border-radius: 30px;
    background-color: #d7e36a;
    color: #3c246f;
}

.img7{
   
    /* padding-top: 36px; */
    height: 479px;
    margin-top: 310px;
    /* padding-left: 48px; */
    /* margin-left: 16%; */

}

//Contacto


.contacto h1{
    font-size: 4rem;
}

.contacto p{
    font-size: 1.5rem;
}

//SVG







.svg-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 2px;
}

.contacto button{

    font-size: 3rem;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
}

.img-contacto-1{
    position: absolute;
    transform: scaleX(-1);
    display: block;
}


.img-contacto-2{
    position: absolute;
    display: block;
    top: 382px;
    left: 830px;
}


.img-contacto-3{
    position: absolute;
    display: block;
    top: 218px;
    left: 615px;
}












}

@media (min-width: 1700px){

    .bullying-contenedor-padre{
        height: 600px;
    }

    .bullying-grid{
        bottom: 464px;
    }

    .img-grid-bullying{
        margin-top: 0px;
    }

    .bullying-grid p{
        font-size: 1.3rem;
    }
}
