<app-toolbar></app-toolbar>

<ion-content>


<div class="header" style="width: 100%;"> 
  <h1>Alimentación, imágenes y estereotipos </h1>
  <img class="img1" src="../../../assets/imgAlimentacion/Image_002.png">
  </div>

  <ion-card class="habitos">
    <ion-card-content>
      <div  class="saludable-content">
        <h1>Alimentación saludable</h1>


      <p>La nutrición en la adolescencia es un tema súper importante que muchas veces está mas vinculado a cómo nos queremos ver, que a cómo nos sentimos a partir del funcionamiento que permite la buena nutrición en el organismo.</p>
     
      <p>Una alimentación sana en edades tempranas como la adolescencia, va a favorecer una vida mas saludable en etapas futuras y la prevención de enfermedades asociadas a la mala alimentación o mas bien al consumo excesivo de alimentos fast food, o con mucho sodio o azúcar.</p>
      
      <p>En esta época pueden adquirirse nuevos hábitos de consumo de alimentos, debido a varios factores: inﬂuencias psicológicas y sociales, de los amig@s y compañer@s, el hábito de comer fuera de casa, el rechazo a las normas tradicionales familiares, la búsqueda de autonomía, etc.</p>
      
      <p>Sin embargo rebelarse a partir de la alimentación, es una decisión poco favorable para encarar actividades tanto físicas como del pensamiento.</p>
      
    </div>
      <div class="buenos-habitos-content">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="8">

              <h1>¿Cuáles serían buenos hábitos?</h1>
        
              <p>Los buenos hábitos incluyen la actividad física y estilo de vida saludable, y evitar otros hábitos perjudiciales como el tabaco y consumo de alcohol.</p>
              
              <p>Con frecuencia comer fuera de casa, hace suprimir o restringir comidas, que son reemplazadas muchas veces por pequeñas ingestas entre las comidas principales.</p>
              
              <p>Éstas disminuyen el apetito, suelen tener bajo poder nutritivo y alto valor calórico, favoreciendo además problemas como la obesidad, caries dental y malos hábitos dietéticos.</p>
              
              <p>¡Abrir menos paquetes y comer mas frutas y comida casera es una buena recomendación!</p>
              

            </ion-col>

            <ion-col size="12" size-lg="4">
              <img class="img2" src="../../../assets/imgAlimentacion/Image_003.png">
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </div>
    
      <div class="malos-habitos-content">
        <h1>Los malos hábitos alimentarios serían </h1>
        <br>
      
          <p>Consumo excesivo de bebidas azucaradas
            y gaseosas o jugos en cartón.</p>
            <p>Mayor consumo de grasa total.</p>
            <p>Grasa saturada genera aumento del colesterol.</p>
          <p>Alimentos con muchos azúcares como galletitas,
            tortas, facturas, helado</p>
            <p>Alimentos con sal agregada</p>
        
      </div>
      <br>
      <img  src="../../../assets/imgAlimentacion/Image_015.png">
      <br>
      <br>
  <div class="problemas">
    <ion-grid class="">
      <ion-row>
        <ion-col size="12" size-lg="8">

          <h1 style="text-align: center; font-size: 3rem;">Virtualidad y sedentarismo</h1>
          <br>
          <p>En casa, el hábito de estar muchas horas, incluso comer delante de las pantallas sumando la inactividad física, promueven el sedentarismo y facilitan asimismo el desorden de las ingestas. Esto, lleva a saltear comidas claves, como el desayuno, que hacen a una baja en la energía cotidiana, influyendo en el humor y a veces hasta generar sensación de cansancio o bajón.
          </p> 

        </ion-col>

        

        <ion-col size="12" size-lg="4">

          <img class="img3" src="../../../assets/imgAlimentacion/Image_007.png">
     
          
        </ion-col>

        <br>
        <br>

        <ion-col size="12" size-lg="4">

          <img class="img4"  src="../../../assets/imgAlimentacion/Image_008.png">
  
          
        </ion-col>

      

        <ion-col size="12" size-lg="8">

          <h1 style="text-align: center; font-size: 3rem;">Vivir a dieta ¿Para qué?</h1>
          <br>
          <p>Las dietas no convencionales, vegetarianas, macrobióticas, de alimentos naturales, etc., comienzan con frecuencia a practicarse en la adolescencia.</p>
          <br>
          <p>Es muy importante hacer la consulta de orientación con un/a nutricionista y un médico/a clínico/a, primero para dar cuenta de la necesidad de una dieta balanceada.</p>
          <br>
          <p>El termino dieta no signiﬁca no comer, ni comer siempre lo mismo. Los alimentos deben ser variados para una buena dieta diaria, y deben incluir todos los grupos: lácteos, carnes blancas y rojas, como pollo pescado y carne vacuna, hidratos de carbono que no sollo vienen de las harinas como se cree, también las frutas contienen un alto contenido de hidrato que es muy saludable para el cuerpo, además integrar ingestas de ﬁbra a través de los cereales y otros consumos es muy relevante.</p>
          
        </ion-col>

        <br>
        <br>
        

        <ion-col size="12" size-lg="8">
          <h1 style="text-align: center; font-size: 3rem;">Recomendaciones en la alimentacion</h1>
        <br>
          <p>La recomendación de una alimentación sana se basa en una distribución calórica apropiada, con un equilibrio entre la ingesta y el ejercicio físico, y una variedad de alimentos en los cuáles haya consumo de leche y productos lácteos, hidratos de carbono complejos, frutas, verduras, legumbres, aceite de oliva y pescados, limitando el consumo de carnes, grasas saturadas, snack y gaseosas. Todo ello aporta la cantidad de macronutrientes y micronutrientes necesarios para un desarrollo adecuado.</p>
        
        <p>La familia puede ejercer una inﬂuencia favorable en la dieta de lo/as adolescentes, con el desarrollo de buenos hábitos alimentarios y patrones de conducta.</p>
        
        <p>Puede aparecer una preocupación excesiva por la imagen corporal, basándose en un determinado ideal de belleza (estereotipado, único, hegemónico) iniciándose así los regímenes para adelgazar que conducen a una ingesta insuﬁciente de muchos nutrientes.</p>
        
        <p>Además, estas personas incrementan la actividad física o incluso inician conductas purgativas para el mantenimiento del peso. Existe el riesgo de que esta práctica conduzca a un verdadero trastorno de la conducta alimentaria.</p>
       

        </ion-col>

        <ion-col size="12" size-lg="4">
          <img class="img5"src="../../../assets/imgAlimentacion/Image_009.png">
     

        </ion-col>


      
      </ion-row>
      </ion-grid>

    </div>
        
     
    </ion-card-content>
  </ion-card>

  <div>
    <img style="width: 100%;" src="../../../assets/imgAlimentacion/Image_025.png">

  </div>


      
  <ion-card class="habitos"> 
    <ion-card-content>
      
      <div class="recomendaciones-content">

        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="8">

              <p>
                Pensar en cuerpos y corporalidades, tiene siempre un componente cultural muy predominante, además del biológico que determina la ﬁsonomía de cada persona.
              </p>
              
              <p>El componente cultural, es de vital trascendencia porque reﬁere a los modos de expresión que una sociedad tiene para comunicarse y que, además, se maniﬁestan simbólicamente en muchos aspectos como: el lenguaje, la musical, de indumentaria.</p>
              
              <p>y también en los modelos o tipos de belleza y cuerpos “válidos”.</p>
          

            </ion-col>

            <ion-col size="12" size-lg="4">

              <img src="../../../assets/imgAlimentacion/Image_022.png">
        
              
            </ion-col>
       

        <ion-col size="12">

          <p>
            A partir de la globalización, el fenómeno de la transculturalización, implicó la penetración de modos de vida que pertenecen a otras culturas, como ser: Lenguajes, hábitos alimentarios, modos de vestirse (out ﬁt), tipos de cuerpos, etc. en otro tipo de sociedades que distan de parecerse originalmente a estos estilos importados. Sin embargo, tanto se repite el mensaje que se va naturalizando.
          </p>
          
          <p>Los medios de comunicación, favorecen la multiplicación de un mensaje dominante que termina homogeneizando la cultura, estandarizando parámetros de conducta, belleza, etc. invocando una hegemonía en detrimento de las particularidades. Por ejemplo, de los países Latinoamericanos que tienen otras tradiciones, otros lenguajes simbólicos, ﬁsonomías, y otros cuerpos. Al igual que Asia o África que también tienen sus propias tradiciones y rasgos culturales.</p>
       

        </ion-col>

        </ion-row>

        </ion-grid>
        
           
       </div>

      <div class="recomendaciones-content">
        <h1>Imagen virtualidad vs imagen real</h1>
        
        <p>En la actualidad, donde los medios de comunicación se han diversiﬁcado: Aparece la comunicación 2.0 (redes sociales, medios digitales) donde la llegada y cercanía se ve favorecida tanto como la ﬂuidez de microculturas que propician sus propios modelos y estándares.</p>
        
        <p>El contacto directo entre los consumidores, de las redes sociales, a su vez, facilita la participación de las personas comunes en la generación de tendencias. Lo cual a veces es positivo y muchas veces no.</p>
        
        <p>El mundo moderno, mediante estas nuevas herramientas construye determinados iconos que inspiran y promueven acciones positivas, como pueden ser las de un/a inﬂuencer que realiza deportes o acciones solidarias, o inﬂuencers que tienen un talento que anima a las personas a experimentar el propio.</p>
        
        <p>Dentro de estos nuevos modelos de conducta que inﬂuyen en la sociedad, que se legitiman a raíz de su repetición masiva, o bien por la cantidad de seguidores que tiene una persona, promueven determinados parámetros estéticos y de belleza que se presentan como arquetipos ideales a alcanzar.</p>
        
        <p>El uso de ﬁltros y demás truquitos con los que cuentan las redes sociales, da cuenta que la imagen que se reproduce en las Redes sociales no es la verdadera. Sin embargo, en el mundo de lo estético y la felicidad aparente, pareciera incitar a que todxs quieran verse como celebridades.</p>
        
        <p style="font-weight: bold;">¿Será un fenómeno pasajero? ¿Por qué la necesidad de subir lo que vamos haciendo paso a paso?</p>
        
        <p>Si bien los grandes medios de comunicación, denominados cuarto poder, aún tienen un lugar preponderante en la construcción de un modelo cultural y discursivo, basado en la imagen, ese mensaje se está viendo modiﬁcado por la ﬂuidez de las comunicaciones, que facilitan la difusión de otros modelos de sociedad posible.</p>
        
        <p>La diversiﬁcación de voces nuevas, dan inicio a una etapa muy interesante donde el Desarrollo Humano, comienza a valorarse, en detrimento del consumismo como principal motor de la vida.</p>
        
        <p>Valores como la sustentabilidad, el veganismo, la sostenibilidad, el uso del tiempo, comienzan a aparecer como factores preponderantes en la vida de algunas personas y esto nos interpela acerca de cómo queremos vivir.</p>
      </div>
    
      <div class="recomendaciones-content">
        <ion-grid>
          <ion-row>

            <ion-col size="12" size-lg="12">

              <h1>Imágenes y estereotipos</h1>
              
                <p>La valoración en los 90 representada por el auge de las modelos de pasarela de origen europea, acompañado por las muñecas que imitaban esos cuerpos hiperdelgados, trajo muchos trastornos en la alimentación de muchas niñxs y adolescentes que conﬁaron en que ese era el cuerpo ideal.</p>
                
                <p>Sin embargo, una vez se hizo un estudio en el cual se puso el cuerpo de la muñeca en perspectiva y notaron que en la vida real una persona así sería alguien con muy mal estado de salud, por falta de masa muscular, etc. Así, empezaron a alertarse los productores y difusores de ese mensaje, que estaba causando un prejuicio social.</p>
              
                <p>El cuerpo humano, posee características personales irrepetibles y es el envase que vas a llevar toda la vida y por eso hay que cuidarlo con todas las herramientas que tenemos al alcance: una buena alimentación, un trato respetable y amoroso con las personas, realización de actividades placenteras que ofrezcan alegría y bienestar como bailar, cantar, saltar, correr o la actividad en movimiento que más te guste</p>
                
                <p>La búsqueda del talento en sí, es una buena manera de encontrar nuestra particularidad. Esto es, aquello que te gusta hacer.</p>
                
                <p>Muchas veces no sabemos qué es lo que nos gusta hacer y por eso estamos muy pendientes de la mirada del otro/a que no resulta del todo amigable.</p>
        
              
            </ion-col>

            <ion-col style="text-align: center;" size="12" size-lg="12">

              
              <img class="img6"  src="../../../assets/imgAlimentacion/Image_023.png">
        
      
                  </ion-col>

          </ion-row>
        </ion-grid>
    </div>
      <br>
      <div class="recomendaciones-content">
        <ion-grid>
          <ion-row>
            <ion-col size=12 size-lg="8">

              <h1>Redes sociales, frustración y amor propio</h1>
        
              <p>Las redes sociales, muchas veces no ayudan a favorecer el amor propio, porque muchas veces ponemos nuestra autoestima como si estuviera sujeta a la opinión de los demás. Hay etapas en la vida en que nos afecta más o menos lo que los demás opinan. Pero con el tiempo, nos damos cuenta que lo que traía muchxs detractorxs era justamente el valor a sobresalir o el talento.</p>
              
              <p>En general, se critica lo diferente, dado que venimos y nacimos en una sociedad de consumo, donde lo estandarizado y hecho a repetición, parece lo que todxs debiéramos tener o querer. Sin embargo es hora de rebelarse y seguir el instinto personal y reconocer cada particularidad y profundizarla.</p>
              
              <p>Tener más o menos likes, puede indicar un poco de popularidad pero también se puede alcanzar la popularidad a través de un talento y no únicamente de mostrar lo que hacemos en la vida cotidiana.</p>
              
              <p>Algunas personas, a través del anonimato de una computadora son capaces de ser muy crueles y hay que tener muy en claro que esa opinión de los demás, no constituye otra cosa que su opinión y a nosotrxs no nos modiﬁca o no debería modiﬁcarnos en nada.</p>
              
              <p style="font-weight: bold;">Si tenes dudas o te sentís bajoneada/o consulta con el Servicio de Adolescencia del Hospital Houssay</p>
              <div style="text-align: center;">
                <button class="button1"  routerLink="/acoso" >¿Qué es el Bullying?</button>
                </div>

            </ion-col>

            <ion-col size=12 size-lg="4">

              <img class="img7" src="../../../assets/imgAlimentacion/Image_012.png">
    
              
            </ion-col>
          </ion-row>
        </ion-grid>

       
        
      </div>

    </ion-card-content>
  </ion-card>

    <div class="div-svg-top">
      <svg class="svg-top" viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
    </div>

    <div class="contacto" >
      <h1 style="color: white;">Servicios</h1>
      <br>
      <p>Hospital Municipal Dr Bernardo Houssay

        Hipólito Yrigoyen 1757 Florida
        
        </p>
        <br>
        <p>Servicio de Adolescencia

          4796-7200 (int 7309)
          
          adolescenciaservicio@gmail.com</p>
          <br>
          <button><a style="font-weight:bold; text-decoration:none" href="https://www.vicentelopez.gov.ar/turnos-salud">Consultanos</a></button>
     
        </div>

    <div class="div-svg-bottom">
      <svg class="svg-bottom"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
    </div>

    


   

  <app-footer></app-footer>

</ion-content>
