// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

h1{
  font-family: 'Montserrat', sans-serif;
  // font-weight: bold;
}

p{
    font-family: 'bitter', sans-serif;
    // font-weight: bold
    font-size: 1.1rem;
  }

  .card-no-shadow {
    box-shadow: none;
  }

//Header

.header h1{
    left: 85px;
    position: absolute;
    top: 40px;
    color: #3c246f;
    font-weight: bold;
    font-size: 1.8rem;
}

//MAC

// .title__section {
//     color: var(--ion-color-primary);
//     font-weight: 700;
//   }

.mac-content ion-card-title{
    font-size: 1.2rem;
    font-weight: bold;
    // color: rgb(60, 36, 111);
    // font-weight: 700;

}

.mac-content p{
    // text-align: justify;
    color:#3c246f;
    margin-bottom: 10px;
    // font-weight: 400;

  // font-size: 1.1rem;
}

.mac__subtitle {
  text-align: center;
  font-weight: 600;
}

.derechos-mac{
    font-size: 2rem;
    line-height: normal;
}

.derechos-mac p{
    margin-bottom: 10px;
    color:#3c246f;
    // font-size: 2rem;
}
.derechos-mac span{
    line-height: normal;
    background-color: rgb(223, 235, 106);
    color:#3c246f;
}

.comillas {
  font-size: 2.2rem;
}

.no-justify {
  text-align:left;
  font-size: 1rem;
}

// MAC de emergencia

.emergencia-bigbox{
    background-color: #d5e26a;
    border: 1px solid #93c;

}

.metodos__img {
  height: 281px;
}

.emergencia-close-icon img {
  float: right;
  // background-size: cover;
  width: 25px;
  height: 20px;
}


.emergencia-close-icon{
    width: 100%;
    background-color: #d5e26a;
    border-bottom: 1px solid #93c;
    float: right;
    box-sizing: border-box;
    padding: 6px;
}


.emergencia-content{
    // width: 100%;
    // text-align: center;
    color:#3c246f;
    // font-weight: 600;
    border-bottom: 1px solid #93c;
    // width: 100%;
}

.emergencia-content h2{

    text-align: center;
    color:#3c246f;
    font-size: 1.4rem;

}

// .emergencia-content2{
//     text-align: justify;
//     padding: 10px;
//     width: 100%;
//     line-height: 20pt;
//     color:#3c246f;
//     font-weight: 600;
//     font-size: 2rem;

// }

// .emergencia h1{
//     color:#3c246f;
// }

.emergencia-h2{
    background-color:rgb(172, 216, 206) ;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin: 5px;
}

.emergencia-pastilla{
    background-color: #d0a3d6;
    color:rgb(60, 36, 111);
    margin: 0;
    border-radius: 0;

}

.emergencia-uso{
    margin:5px;
}

.pastilla-emergencia-uso {
  font-style: italic;
  font-size: 0.8rem;
}

.emergencia-pastilla-content span{
    // margin: 5px;
    font-size: 1.3rem;
    line-height: 1.4;
    background-color: rgb(172, 216, 206);
    // border-radius: 20px;
    padding: 4px;

}


.img1{
    width: 100%; height: 124px;

}

.img2{
    width: 282px;
    height: 215px;
}

//preservativo



.implante-content {
  font-weight: bold;
  color: rgb(60, 36, 111);
  ion-card-title {
    font-size: 1.4rem;
  }
  h2{
    font-size: 0.9rem;
  }
}

.preservativo-content{
    text-align: left;
    color:rgb(60, 36, 111);
}

// .preservativo-content h1{
//     font-weight: bold;
//     font-size: 2.5rem;

// }

.preservativo-content span{
    font-weight: bold;
    font-size: 1.25rem;
}

.mac-bigbox{
    background-color: #d5e26a;
    border: 1px solid #93c;
    margin:15px;
}
.mac-bigbox-2{
    background-color: #dbdbdb;
    border: 1px solid #93c;
    margin:15px;
}

.yellow {
  background-color: rgb(223, 235, 106);
}




.img9{
    height: 232px;

}


//implante

.implante-content{
    text-align: left;
    color:rgb(60, 36, 111)

}
// .implante-content h1{
//     font-weight: bold;
//     font-size: 2.5rem;

// }

.implante-content span{
    font-weight: bold;
    font-size: 1.25rem;
}

// .title__implante {
//  font-size: 1.8rem;

// }

//diu y siu

// .diusiu-content h2{
//     font-size: 1.8rem;
//     font-weight: bold;
//     color: rgb(60, 36, 111);
//     font-weight: 700;
// }

.diusiu-content{
    text-align: left;
    color:rgb(60, 36, 111)
}

// .diusiu-content h1{
//     font-size: 2.5rem;
// }
.img4{
    width: 100%; height: 120px;
}


//anticonceptivos inyectables

// .inyectabales-content h2{
//     font-size: 1.8rem;
//     font-weight: bold;
//     color: rgb(60, 36, 111);
//     font-weight: 700;
// }

.inyectabales-content{
    text-align: left;
    color:rgb(60, 36, 111)
}

// .inyectables-content h1{
//     font-size: 2.5rem;
//     font-weight: bold;
// }



//metodos irreversibles

.irreversibles-content{
    text-align: left;
    color:rgb(60, 36, 111)
}

// .irreversibles-content h2{
//     font-size: 2.5rem;
//     font-weight: bold;
// }

.irreversibles-content h2{
    font-size: 1.2rem;
    // font-weight: bold;
    color: rgb(60, 36, 111);
    font-weight: 700;
}

//ciclo

.ciclo-content h2{
    font-size: 2rem;
    // font-weight: bold;
    color: rgb(60, 36, 111);
    font-weight: 700;
}

.ciclo-content{
    text-align: left;
    color:#FFF;
    background-color: #dd85d3;
    margin: 0;
    border-radius: 0;

}

// .ciclo-content h1{
//     font-size: 3rem;
// }

.ciclo-content-info{
    text-align: left;
    font-size: 1.4rem;

}

.ciclo__pink {
  background-color: #f5cbf1;
  margin: 0;
  border-radius: 0;
}




.ginecologia-content{
    line-height: 1.5;
    color: white;


}

.items__ovu li span{
  font-size: 1.1rem;
  color: rgb(60, 36, 111);
  background-color: rgb(172, 216, 206);
}

.items__ovu li {
  color: rgb(60, 36, 111);
  margin-bottom: 5px;
}

.violet {
  color: rgb(60, 36, 111);
}

//irreversibles

.irreversibles p{
    font-size: 14px;
    color:rgb(60, 36, 111);
}

 //Ginecologia

 .ginecologia{
    background-color:rgb(60, 36, 111);
    margin: 0;
    color: white;
    border-radius: 0;

}

.no-padding {
  padding: 0 !important;
}



.ginecologia-img{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  img {
    height: 33px;
  }
}

//testeate

.testeate{
text-align: center;

}

.testeate-content p{
    text-align: center;
    color:rgb(60, 36, 111);

}

.testeate-content h2{
     font-weight: bold;
     color:rgb(60, 36, 111);
}

.formas-content{
    background-color: white;

    color:rgb(60, 36, 111);


}

//Marco legal

.text_sextion p{
    text-align: justify;
    color:#3c246f;
    margin-bottom: 1em;
    font-weight: 400;
  font-size: 1.1rem;
}

//Vacunate

.vacunate{
    text-align: center;
}

.vacunate button{
   border-radius: 30px;background-color: rgb(75, 21, 116); color: white;

}

//vih

.vih h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(60, 36, 111);
    font-weight: 700;
}

.vih{
    color:rgb(60, 36, 111);


}

.vih p{
    margin-bottom: 1em;

}

.vih h1{
    font-weight: bold; color:rgb(60, 36, 111); font-size: 3rem;
}

//prevenirlo

.prevenirlo{
    color:rgb(60, 36, 111);

}

.prevenirlo h1{
    font-size: 3rem;font-weight: bold; color:rgb(60, 36, 111);
}

///vih no es sida

.vih-no{
    color:rgb(60, 36, 111);
}

.vih-no h1{
    font-size: 3rem;font-weight: bold;

}

.vih-no p{
    margin-top: 1em
}

//servicio

.servicio{
  background-color: #b697c9;
  color:rgb(60, 36, 111);
  margin: 0;
  border-radius: 0;

}

.servicio h1{
    font-size: 3rem; font-weight: bold;
}


.servicio p{
    margin-bottom: 1em;
}

//IMG

.img8{
    height: 100px
;
}



@media (min-width: 1024px){

    .header h1{
        padding: 142px;
        left: 160px;
        font-size: 4rem;
    }

    //MAC

    .mac{
        margin-right: 122px;
        margin-left: 113px;
    }

    .mac-content h1{
        font-size: 7rem;
    }

    .mac-content p{
        font-size: 4rem;
    }

    .derechos-mac span{
        font-size: 5rem;
    }

    .derechos-mac p{
        font-size: 4rem;
    }

    .mac-bigbox{
        background-color: #d5e26a;
        border: 1px solid #93c;
        margin: 0 182px 0px 182px;
    }

    .mac-bigbox-2{
        background-color: #d5e26a;
        border: 1px solid #93c;
        margin: 0 300px 0px 300px;
    }



    //emergencia

    .emergencia{
        margin-right: 122px;
        margin-left: 113px;
    }

    // .emergencia-content h2 {
    //   font-size: 2.4rem !important;
    // }

    // .emergencia-content h2{
    //     font-size: 55px;
    // }

    // .emergencia-content h1{
    //     font-size: 7rem;
    // }


    // .emergencia h1{
    //     font-size: 7rem;
    // }

    .img1{
        width: 100%; height: 257px;
        }

    .emergencia-pastilla h1{
        font-size: 7rem;
    }

    .emergencia-uso p{
        font-size: 4rem;
    }

    .emergencia-uso h1{
        font-size: 7rem;
    }

    .img2{
        width: 397px;
        height: 282px;
     }


     //preservativo

     .preservativo{
        margin-right: 122px;
        margin-left: 113px;
    }

    .preservativo h1{
        font-size: 7rem;
    }

    .preservativo p{
        font-size: 4rem;
    }

    .preservativo  span{
        font-size: 5rem;
    }


    .img3{
        display: none;
    }

    //Implante

    .implante{
        margin-right: 122px;
        margin-left: 113px;
    }

    .implante h1{
        font-size: 7rem;
    }

    .implante p{
        font-size: 4rem;
    }

    .implante  span{
        font-size: 5rem;
    }

    .img4{
        width: 100%; height: 313px;
    }


    //diu

    .diu{
        margin-right: 122px;
        margin-left: 113px;
    }

    .diusiu-content h1{
        font-size: 7rem;
    }

    .diusiu-content p{
        font-size: 4rem;
    }

    .diusiu-content  span{
        font-size: 5rem;
    }

    .img4{
        width: 100%; height: 313px;
    }

    //anticonceptivos-inyectables

    .anticonceptivos-inyectables{
        margin-right: 122px;
        margin-left: 113px;
    }

    .anticonceptivos-inyectables h1{
        font-size: 7rem;
    }

    .anticonceptivos-inyectables p{
        font-size: 3rem;
    }

    .img5{
        height: 319px;
    }

    .img6{
        margin-top: 17px;
    }

    // Anticonceptivos orales

    .anticonceptivos-orales{
        margin-right: 122px;
        margin-left: 113px;
    }

    .anticonceptivos-orales h1{
        font-size: 7rem;
    }

    .anticonceptivos-orales p{
        font-size: 3rem;
    }

    .img7{
        width: 508px;
        height: 294px;
    }

    .img8{
        height: 253px;
    }



    .img9{
        height: 461px;

    }


    //anillo vaginal

    .anillo-vaginal{
        margin-right: 122px;
        margin-left: 113px;
    }

    .anillo-vaginal h1{
        font-size: 7rem;
    }

    .anillo-vaginal p{
        font-size: 3rem;
    }

    .img10{
        margin-top: 83px;
        height: 253px;
    }

    //Parche

    .parche-anticonceptivo{
        margin-right: 122px;
        margin-left: 113px;
    }

    .parche-anticonceptivo h1{
        font-size: 7rem;
    }

    .parche-anticonceptivo p{
        font-size: 3rem;
    }

    .img11{

    margin-top: 83px;
    height: 358px;

    }

    //irreversibles

    .irreversibles{

      margin-right: 122px;
      margin-left: 113px;


    }

    .irreversibles p{
        font-size: 3rem;
        color:rgb(60, 36, 111);
    }

    .img12{
        height: 160px;
    }

    .img13{
        height: 160px;
    }

    //marco legal

    .marco-legal{
        margin-right: 122px;
        margin-left: 113px;
    }

    .marco-legal h1{
        font-size: 7rem;
    }

    .marco-legal p{
        font-size: 3rem;
    }

    .ciclo-content{
        margin-right: 122px;
        margin-left: 113px;
        text-align: justify;


    }

    .ciclo-content h1{
        font-size: 7rem;
    }

    .ciclo-content p{
        font-size: 3rem;
    }

    .img14{
        height: 422px;
        margin-top: 169px;
    }

    .img15{
        height: 365px;
        margin-top: 249px;
    }

    //formas

    .formas-content{
        background-color: white;
        margin-right: 122px;
        margin-left: 113px;
        color:rgb(60, 36, 111);


    }

    .formas-content p{
        font-size: 3rem;
    }

    //Ginecologia

    .ginecologia{
        background-color:rgb(60, 36, 111); margin-top: 0;
        margin-right: 122px;
        margin-left: 113px;
        padding: 127px;
        color: white;

    }

    .ginecologia p{
        font-size: 3rem;

    }

    .ginecologia h1{
        font-size: 7rem;
        font-weight: bold;
    }

    .its{
        background-color:rgb(60, 36, 111); margin-top: 0;
        margin-right: 122px;
        margin-left: 113px;
        padding: 127px;
        color: white;

    }

    .its p{
        font-size: 5rem;
    }

    //testeate

    .testeate{
        margin-right: 122px;
        margin-left: 113px;

    }

    .testeate-content p{
        font-size: 3rem;

    }

    .testeate-content h1{
        font-size: 7rem;
        font-weight: bold;
    }

    //vih

    .vih{
        color:rgb(60, 36, 111);
        margin-right: 122px;
        margin-left: 113px;

    }

    .vih p{
        font-size: 3rem;

    }

    .vih h1{
        font-size: 7rem;
        font-weight: bold;
    }

    //prevenirlo


    .prevenirlo{
        color:rgb(60, 36, 111);
        margin-right: 122px;
        margin-left: 113px;

    }

    .prevenirlo p{
        font-size: 3rem;

    }

    .prevenirlo h1{
        font-size: 7rem;
        font-weight: bold;
    }


    //Servicio

    .servicio{
        margin-right: 122px;
        margin-left: 113px;

    }


    .servicio p{
        font-size: 3rem;

    }

    .servicio h1{
        font-size: 7rem;
        font-weight: bold;
    }

    .servicio h2{
        font-weight: 5rem;
    }














}
















