<app-toolbar></app-toolbar>

<!-- <ion-header [translucent]="true">
  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

</ion-header> -->

<ion-content>

  <div class="header">

    <img src="../../../assets/pdf salud sexual/bg-header.png">
    
    <div class="header-text">
  
      <ion-grid>
        <ion-row class="salud-sexual-header">
          <ion-col size="12" size-lg="6">
            <h2 class="header-text-h2">Salud Sexual</h2>
          </ion-col>
      
          <ion-col size="0" size-lg="6">
            <img src="../../../assets/pdf salud sexual/salud sexual header vectores.svg">
          </ion-col>
        </ion-row> 
      </ion-grid>
   
    </div>

  </div>





  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card class=" card-no-shadow mac-content margin-card-default">
          <ion-card-content>
            <!-- <div class=""> -->
              <ion-card-title
              color="primary"
                class="title__section title_desktop"
              >
                Metodos anticonceptivos (MAC)
              </ion-card-title>
              <br>
              <p>
                Los MAC son todos aquellos capaces de evitar o reducir las posibilidades de un embarazo. Pueden utilizarse durante toda la vida fértil de la persona.
              </p>

              <p>
                Todas las personas con capacidad de gestar, tienen derecho a recibir asesoramiento sobre métodos anticonceptivos.
              </p>

              <p>
                Ningún MAC puede considerarse mejor que otro per se. Cada MAC tiene características particulares, modo de uso, ventajas y desventajas, por eso, es importante que te asesores con un/a profesional de la salud. Ningún método es 100% seguro, pero sí es fundamental que utilices el que sea adecuado para vos, asi podés decidir, si es que querés tener un hij@, que suceda en el momento en que lo desees.
              </p>

              <p>
                Desde los 16 años las personas adolescentes tienen capacidad plena para la toma de decisiones, sobre el cuidado del propio cuerpo como una persona adulta.
              </p>


              <p>
                Y desde los 13 años l@s adolescentes pueden acceder en forma autónoma a todos los métodos anticonceptivos reversibles, inclusive, los de larga duración.
              </p>
              <ion-card-subtitle
                color="primary"
                class="mac__subtitle"
              >
                (Elección de Anticonceptivos: Ley N°25673 Salud sexual y procreación responsable)
              </ion-card-subtitle>
              <!-- <h2><strong style="color:rgb(60, 36, 111)"></strong></h2> -->

            <!-- </div> -->

            <div class="derechos-mac" >

            <br>

            <p>
              <span class="comillas">
                <span class="comillas">"</span>
                Tenés derecho a acceder a métodos anticonceptivos y a elegir el que quieras utilizar.
              </span>
            </p>

            <p ><span class="comillas">Podés obtenerlos gratuitamente en hospitales y centros de salud y en obras sociales y prepagas están incluidos en el Plan Médico Obligatorio:</span></p>
            <p class="no-justify">
              Preservativos, pastillas, inyectables, DIU, anticoncepción de emergencia y anticoncepción quirúrgica (ligadura tubaria y vasectomía) e implante subdérmico.
            </p>
          </div>

          <div>

            <img class="metodos__img" src="../../../assets/pdf salud sexual/img-metodos-anticonceptivos.png">

          </div>

          </ion-card-content>

        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

      <ion-col size="12">
        <div class="mac-bigbox">
          <div class="emergencia-close-icon">
            <img src="../../../assets/x-caja.png">
          </div>
          <div class="emergencia-content3">
            <h2>Anticonceptivo de emergencia</h2>
          </div>
        </div>
      </ion-col>



      <ion-col size="12">


          <ion-card class="card-no-shadow margin-card-default">

          <div class="emergencia-pastilla-content ion-padding">
          <h2 class="title__section">
            
            <span class="cuanto-tiempo">
              ¿Cuándo se puede considerar la utilización del anticonceptivo de emergencia?
            </span>
          
          </h2>
          </div>


          <ion-grid>
            <ion-row>
              <ion-col size="12" size-lg="6">
                <img class="img1" src="../../../assets/pdf salud sexual/img-anticonceptivo-emergencia1.png">
              </ion-col>
              <ion-col size="12" size-lg="6">
                <img class="img1"src="../../../assets/pdf salud sexual/img-anticonceptivo-emergencia2.png">

              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>


          <ion-card class="emergencia-pastilla card-no-shadow margin-card-default">
            <ion-card-content>



          <ion-grid>
            <ion-row>
              <ion-col size="12">

                <h2 class="title__section">La pastilla de emergencia*, o usualmente llamada pastilla del día después, se trata de una o dos pastillas que contienen una alta dosis de hormonas que retrasan la ovulación. Se recomienda su uso SÓLO PARA SITUACIONES DE EMERGENCIA</h2>


              </ion-col>
              <ion-col size="12" size-lg="8">
                <div class="emergencia-uso">
                  <h2 class="title__section"><strong>CÓMO SE USA:</strong> </h2>
                  <p class="pastilla-emergencia-uso">Debe tomarse luego de una relación sexual en la que haya fallado el método o no se haya usado uno. Es más segura dentro de las primeras 12 horas.</p>
                  <p class="pastilla-emergencia-uso"><strong>*Método válido sólo para personas con capacidad de gestar.</strong> </p>
                </div> </ion-col>
              <ion-col size="12" size-lg="4">
                <!-- <div class="img-pastilla-container"> -->
                  <img class="img2"  src="../../../assets/pdf salud sexual/pastillaDiaDespues.png">
                <!-- </div> -->
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>






      <ion-col size="12">
        <ion-card class="preservativo card-no-shadow margin-card-default">
          <ion-card-content>
            <div class="implante-content">
              <ion-card-title color="primary">Preservativo</ion-card-title>
            <br>
            <p>Es una funda de látex que se coloca en el pene erecto, en cada relación sexual e impide que el semen entre en la vagina, ano o boca.</p>
           <div>
             <img class="img3" style="height: 70px; display: none;" src="../../../assets/pdf salud sexual/img1.png">
           </div>

            <h2 class="title__section"><strong >¿CÓMO SE USA?</strong></h2>
            <p>Se coloca cuando el pene está erecto, se aprieta la punta y se desenrolla hasta la base del pene. Se retira después de la eyaculación y se desecha.</p>
            <br>
            <p class="yellow-2"><span class="yellow">Beneficios</span></p>
            <p>Se coloca cuando el pene está erecto, se aprieta la punta y se desenrolla hasta la base del pene. Se retira después de la eyaculación y se desecha.</p>
            <p>No repercute en el organisco. No necesita receta</p>
            <br>
            <p class="yellow-2"><span class="yellow">Eficacia</span></p>
            <p> Alta, si se lo usa de forma correcta y durante toda la relacion sexual</p>
            <br>
            <p class="yellow-2"><span class="yellow">Frecuencia de uso</span></p>
            <p>En cada relacion sexual(vaginal,anal u oral) desd el principio hasta el final</p>

        </div>
     <ion-grid>
       <ion-row class="no-previene-content">
         <ion-col size="12">
          <img class="img8" src="../../../assets/pdf salud sexual/noPrevieneRosa.png">
         </ion-col>
       </ion-row>
     </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <div class="mac-bigbox">
          <div class="emergencia-close-icon">
            <img src="../../../assets/x-caja.png">
          </div>
          <div class="emergencia-content3">
            <h2>MAC de larga duración</h2>
          </div>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default" >
          <ion-card-content> 
            <div class="implante-content">
              <ion-card-title color="primary">Implante sudermico</ion-card-title>
              <br>
              <p>Conocido como: Chip. Es un implante de plástico flexible. Libera hormonas que impiden la ovulación.</p>
            <br>
            <p><span class="yellow">Como se usa</span></p>
            <p>Se inserta debajo de la piel del brazo con una pequeña incisión con anestesia local. La colocación la hace un/a profesional.</p>
            <br>
            <p><span class="yellow">Beneficios</span></p>
            <p>Su efecto dura de 3 a 7 años. La efectividad no depende de sostener un hábito por parte de la persona que lo lleva.</p>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg="6">
                  <img class="img4"  src="../../../assets/pdf salud sexual/img-implante-sudermico.png">
                </ion-col>
                <ion-col size="12" size-lg="6">
                  <img class="img8" src="../../../assets/pdf salud sexual/noPrevieneVerde.png">
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
          </ion-card-content>

          <img>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default">
         <ion-card-content>
           <div class="diusiu-content">
           <ion-card-title color="primary"><strong>DIU y SIU</strong></ion-card-title>
           <br>
           <p>Son pequeños dispositivos que se colocan en el útero, uno libera Cobre, otro libera hormonas</p>
           <ion-grid>
            <ion-row align-items-center>

              <ion-col size="12" size-lg="6">
                <img class="img5" src="../../../assets/pdf salud sexual/bg-diu.png">
              </ion-col>

                <ion-col  size="12" size-lg="6">
                  <img class="img8 " src="../../../assets/pdf salud sexual/noPrevieneAmarillo.png">
                </ion-col>
            </ion-row>
          </ion-grid>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default">
          <ion-card-content>
            <div class="inyectabales-content">
              <ion-card-title color="primary"><strong>Anticonceptivos inyectables</strong></ion-card-title>
              <br>
              <p>Dosis de hormonas inyectables que inhiben la ovulación.</p>
              <br>
              <h2 class="title__section" ><strong>Como se usa</strong></h2>
              <p>Se aplica intramuscular mensualmente, libera hormonas.</p>
              <ion-grid>
                <ion-row>
                  <ion-col style="text-align: center;" size="12">
                   <img class="img8" src="../../../assets/pdf salud sexual/noPrevieneRosa.png">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default">
          <ion-card-content>
            <div class="inyectabales-content">
              <ion-card-title color="primary"><strong>Anticonceptivos orales</strong></ion-card-title>
              <br>
              <p>Dosis de hormonas inyectables que inhiben la ovulación.</p>
              <br>
              <p>Pastillas de toma diaria, hechas a base de hormonas que evitan la ovulación. Es un método eﬁcaz.</p>
                </div>

            <ion-row>
              <ion-col size="12" size-lg="6">
                <img class="img7" src="../../../assets/pdf salud sexual/img-anticonceptivos-orales.png">
             </ion-col>
              <ion-col size="12" size-lg="6">
                <img class="img8" src="../../../assets/pdf salud sexual/noPrevieneAmarillo.png">
              </ion-col>
            </ion-row>


          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default">
          <ion-card-content>
            <div class="inyectabales-content">
              <ion-card-title color="primary"><strong>Anillo vaginal</strong></ion-card-title>
              <br>
              <p>Pequeño anillo ﬂexible que se coloca en la vagina por tres semanas, a la cuarta semana, la persona usuaria lo extrae y se produce la menstruación.</p>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg="6">
                  <img class="img9" src="../../../assets/pdf salud sexual/img-anillo-vaginal.png">
                </ion-col>
                <ion-col size="12" size-lg="6">
                  <img class="img8" src="../../../assets/pdf salud sexual/noPrevieneRosa.png">
              </ion-col>
              </ion-row>
            </ion-grid>

          </div>


          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow margin-card-default">
          <ion-card-content>
            <div class="inyectabales-content">
              <ion-card-title color="primary"><Strong>Parche anticonceptivo</Strong></ion-card-title>
              <br>
              <p>Discreto parche que se coloca en la piel, se recambia UNA VEZ POR SEMANA.</p>

            </div>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-lg="6">
                  <img class= "img11"  src="../../../assets/pdf salud sexual/bg-parche-anticonceptivo.png">
               </ion-col>
                <ion-col size="12" size-lg="6">
                  <img class= "img10"src="../../../assets/pdf salud sexual/noPrevieneAmarillo.png">
             </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12">
        <div class="mac-bigbox">
          <div class="emergencia-close-icon">
            <img style="float: right;" src="../../../assets/x-caja.png">    </div>
          <div class="emergencia-content3">
            <h2>Métodos irreversibles</h2>
          </div>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card-no-shadow card-no-shadow margin-card-default">
          <ion-card-content>
            <p class="irreversibles-content">Los métodos irreversibles son aquellos que no tienen la posibilidad de volver al estado anterior a su realización. Se trata de intervenciones quirúrgicas que implican las siguientes prácticas:
            </p>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-lg="6">
              <img class= "img12"  src="../../../assets/pdf salud sexual/img-metodos-irreversibles1.png">
           </ion-col>
            <ion-col size="12" size-lg="6">
              <img class= "img13" src="../../../assets/pdf salud sexual/img-metodos-irreversibles2.png">
         </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
      </ion-card>
      </ion-col>

      <ion-col class="no-padding" size="12">
        <ion-card class="card-no-shadow card-no-shadow margin-card-default" >
          <ion-card-content>
            <div class="irreversibles-content">
            <h2 class="title__section"><strong>Marco Legal</strong></h2>
            <br>
            <p>Programa Nacional de Salud Sexual y Procreación Responsable, en el ámbito del Ministerio de Salud, Año 2002. Incluido en el sistema público, seguridad social de salud y sistemas privados en el Programa Médico Obligatorio. (PMO)</p>
            <br>
            <p>Elección de Anticonceptivos: Ley N°25673 Salud sexual y procreación responsable y Ley 26.130 Anticoncepción Quirúrgica.</p>
            <br>
            <p>Es tu derecho elegir el método anticonceptivo que quieras utilizar: preservativos, pastillas, inyectables, DIU, anticoncepción de emergencia, implante subdérmico y anticoncepción quirúrgica, acorde a la Ley 26.130, para realizar la ligadura tubaria y vasectomía.</p>
            <br>
            <p >Consentimiento en adolescentes a partir de los 16 años: Como indica el artículo 26 del CCyC, desde los 16 años las personas adolescentes tienen capacidad plena para la toma de decisiones, sobre el cuidado del propio cuerpo como una persona adulta.</p>
            <br>
            <p>Consentimiento de adolescentes entre 13 y 16 años: El artículo 26 del CCyC establece que l@s adolescentes entre 13 y 16 años pueden decidir de manera autónoma sobre prácticas “tratamientos que no resultan invasivos, ni comprometen su estado de salud o provocan un riesgo grave en su vida o integridad física”. Es decir, desde los 13 años l@s adolescentes pueden acceder en forma autónoma a todos los métodos anticonceptivos reversibles, inclusive, los de larga duración.</p>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <div class="svg-top-ciclo">
        <img src="../../../assets/saluud sexual datto ciclo parte.svg">
      </div>

      <div class="ciclo-content ">

        <ion-card class="card-no-shadow ciclo-content margin-card-default">
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col class="no-padding" size="12" size-lg="6">
                  <h2 class="ciclo_title">Ciclo menstrual</h2>
                  <br>
                <div class="ciclo-text"> 
                  <p>Es un proceso NATURAL que ocurre todos los meses y se inicia generalmente entre los 10 y los 15 años de edad. Sin embargo, no hay una edad establecida como correcta para el inicio de este proceso, ya que cada persona tiene su propio ciclo.</p>
                  <br>
                  <p>El ciclo menstrual da cuenta, en el cuerpo de la persona menstruante, de una preparación para un eventual embarazo.</p>
                  <br>
                  <p>LA MENSTRUACIÓN, es un sangrado vaginal, que solo acompaña una parte del período que dure el ciclo menstrual. El ciclo menstrual, puede durar entre 23 y 35 días (28 días promedio). Se cuenta como primer día del ciclo, al primer día de menstruación.</p>
                </div>
                </ion-col>
                <ion-col size="12" size-lg="6">
                  <img class="img15"  src="../../../assets/pdf salud sexual/mano-calendario.png">
                </ion-col>


              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>

      </div>
   

      
      <div class="svg-ciclos">
        <img src="../../../assets/saluud sexual datto ciclo .svg">
      </div>

      
      <div class="ciclo-content-2">

        <ion-card class="card-no-shadow margin-card-default ciclo__pink ion-padding">
        <ion-col size="12">
          <img class="ciclo__menstrual" src="../../../assets/pdf salud sexual/ciclo_menstrual_1.png">
        </ion-col>

        <ion-col size="12">
          <p class="irreversibles-content">En la mitad del ciclo, llamado el día 14 (si es un ciclo promedio) se produce la ovulación que es la fecha fértil, donde se puede gestar un embarazo.</p>
          
          <div class="items__ovu">
            <h2 class="title__section bold">Hay fomas inderectas de darse cuenta de la ovulación:</h2>
            <div class="flujos">
              <p><span>-Flujo vaginal más espeso transparente que no genera molestias.</span></p>
              <p><span>-Aumento de la temperatura corporal.</span></p>
              <p><span>-Pequeño sangrado intermenstrual.</span></p>
            </div>
            
        </div>
        </ion-col>
              
              <ion-col size="12" class="violet">
                  <p>Los ciclos pueden ser regulares o irregulares, dependiendo de cada persona, por eso es importante que siempre consultes con el equipo de salud sobre tu ciclo menstrual.</p>
                  <p>El sangrado menstrual, es una manifestación física de nuestra salud hormonal e integral. Observar su color, olor, cantidad y duración es imprescindible para encontrar lo que es normal y reconocer signos de alarma.</p>
                  <p>Es importante que puedas tomar nota de tus ciclos, el día que comienza tu menstruación, duración, etc. para que el/la profesional pueda asesorarte mejor en tu consulta.</p>
                
                  <h2 class="title__section bold">¿Sabías que existen métodos saludables y sustentables para gestionar tu menstruación?</h2>
              
                  <p>La copita menstrual o las toallitas de tela lavables, son elementos novedosos ya que no contaminan el planeta y permiten ahorrar mucho dinero anualmente, y a lo largo de toda la vida de las personas menstruantes.</p>
                  
                  <p>Para utilizarlos, es importante que te asesores con un/a profesional de la salud, para averiguar acerca de las condiciones de higiene y lavado de estos elementos, la modalidad de uso, la cantidad de horas que pueden llevarse puestos y el método de higiene y guardado para el siguiente uso.</p>
              </ion-col>
      </ion-card>

      
    </div>
      



      <div class="ginecologia-contenedor-padre">
      <ion-card class="ginecologia card-no-shadow margin-card-default" >
      <ion-card-content>
        <div>
          <h2 class="title__section bold">Ginecología</h2>
        
          <br>

          <p>GUARDIA 24 HS. DE LUNES A LUNES
            <br>
            HOSPITAL MUNICIPAL DR.B.HOUSSAY
            <br>
            H.YRIGOYEN 1757
          </p>
          <br>
          <p style="font-weight: bold;">ESCRIBINOS</p>
           <p> ginecologia.houssay@gmail.com</p>
            
          <p> diversidad.salud@vicentelopez.gov.ar
          </p>
          <br>
          <p style="font-weight: bold;">Servicio De Adolescencia:</p>
          <p>
            HOSPITAL MUNICIPAL B. HOUSSAY
            4796-7200 (INT 7309)
            adolescenciaservicio@gmail.com
          </p>
          <br>
          <p style="font-weight: bold;">CENTROS DE ATENCIÓN PRIMARIA:</p>
          <p>
          
            4513-6421 /6435/6413 | de Lunes a Viernes de 7.30 a 16hs.</p>
      
          <p> +info sobre servicos de salud en www.vicentelopez.gov.ar/salud</p>
       
        </div>


      </ion-card-content>
    </ion-card>
  </div>
   

    <ion-col size="12">
      <div class="mac-bigbox">
        <div class="emergencia-close-icon">
          <img style="float: right;" src="../../../assets/x-caja.png">
        </div>
        <div class="emergencia-content">
          <h2>¿Qué son las infecciones de transmisión sexual?</h2>
        </div>
      </div>


    </ion-col>

    <ion-col size="12">

    <ion-card  class="formas-content card-no-shadow margin-card-default" >
      <ion-card-content>
          <div class="ciclos-content">
          <p>-Las ITS son infecciones o enfermedades infecciosas que se transmiten de una persona a otra durante una relación sexual vaginal, anal u oral o por contacto con sangre, semen, líquido preseminal o fluido vaginal.</p>
          <br>
          <p>-Pueden ser producto de más de treinta tipos de virus, bacterias y parásitos.</p>
          <br>
          <p>-Las más frecuentes son: la sífilis, la gonorrea, la clamidia, el Virus del Papiloma Humano (VPH), las hepatitis B y C, el VIH. Afectan a todas las personas de todas las edades: varones, mujeres, de cualquier edad y orientación sexual.</p>
         </div>

         <br>

         <div class="testeate-content">

          <h2 >ELEGÍ SABER, TESTEATE</h2>
          <br>
          <p>Los test rápidos, pueden realizarse sin el acompañamiento de una persona adulta a partir de los 14 años de edad. </p>
          <br>
          <p>Acercate y tené el resultado en minutos.</p>
          <br>
          </div>
          <div>
            <ion-button
              class="button__hero testeo__btn"
              expand="block"
              color="primary"
              shape="round"
              href="https://www.vicentelopez.gov.ar/VIH"
              target="_blank"
            >
          Centros de testeo
        </ion-button>
         </div>
      </ion-card-content>
    </ion-card>

  </ion-col>



    <ion-row>
      <ion-col size="12">
        <div class="mac-bigbox-2">
          <div class="emergencia-content">
            <h2>¿Cuáles son los síntomas?</h2>
          </div>
          <div class="emergencia-content ion-padding" >
            <p>Lastimaduras en la zona genital, con o sin dolor; Secreciones de pus en los genitales (vagina y pene) o en el ano; Ardor al orinar; Flujo genital u anal diferente al habitual; Dolor en la parte baja del abdomen; Lesiones en la boca o manchas en la piel; Verrugas genitales. Ante alguno de estos síntomas es importante hacer una consulta en el hospital o Centro de Salud más cercano al domicilio.
            </p>
          </div>
        </div>
      </ion-col>


      <ion-col size="12">
        <div class="mac-bigbox-2">
          <div  class="emergencia-content">
            <h2>¿Cómo se detecta?</h2>
          </div>
          <div class="emergencia-content ion-padding">
            <p>Puede presentar los síntomas mencionados anteriormente como no. Algunas veces solo se detectan con un examen médico como análisis de sangre u orina.</p>
            <p>En caso de embarazo, es importante que ambos padres/madres se realicen los análisis para poder tratarse, de ser necesario, y así, evitar la transmisión al bebe.</p>
          </div>
        </div>
      </ion-col>
    </ion-row>


      <ion-col size="12"  >
        <div class="mac-bigbox-2">
          <div style="border-bottom: 1px solid #93c; " class="emergencia-content">
            <h2>¿Cómo se tratan?</h2>
          </div>
          <div class="emergencia-content ion-padding">
            <p>La mayoría de estas infecciones son tratables, y muchas de ellas pueden hasta curarse.
            </p>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" >

        <div class="mac-bigbox-2">
          <div style="border-bottom: 1px solid #93c; " class="emergencia-content">
            <h2>¿Cómo se previenen?</h2>
          </div>
          <div class="emergencia-content ion-padding">
            <p>La mayoría de las ITS se pueden prevenir USANDO PRESERVATIVO O CAMPO DE LÁTEX desde el comienzo de toda la relación sexual y evitando compartir materiales punzantes.
            </p>
          </div>
        </div>

      </ion-col>




          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>Gonorrea</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Causada por la bacteria gonococo.</p>

                <p>Puede darse de forma asintomática o causar ﬂujo verdoso o amarillento, dolor al orinar o durante las relaciones sexuales.</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>Triconoma</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Es un parásito que produce ﬂujo amarillento, verdoso o grisáceo. Frecuentemente se presenta de manera asintomática en los varones.</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div  class="emergencia-content">
                <h2>Sífilis</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Es una Infección más común de lo que la gente conoce, y especialmente en población adolescente se suele reproiducir ante la falta de uso de preservativo o campo de latex. Genera lastimadura o úlcera en la zona genital. Puede estar acompañado de inﬂamación de un ganglio en la zona. Al principio no produce dolor pero la enfermedad puede avanzar y producir erupciones, ronchas en el cuerpo, lesiones en la boca, ﬁebre y aumento generalizado del tamaño en los ganglios, caída del cabello, malestar general, verrugas o condilomas en la zona genital. Si no se recibe tratamiento, puede causar daños en el corazón y lesiones en el sistema nervioso. Su tratamiento consiste en la aplicación de penicilina en una o más dosis, dependiendo el estado avanzado.</p>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>VIH</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>V: Virus. Organismo muy pequeño (no se ve a simple vista) que se reproduce e invade las células del cuerpo.</p>
                <p>I: Inmunodeﬁciencia. Debilitamiento (deﬁciencia) de las defensas del cuerpo que constituyen el sistema inmunológico.</p>
                <p>H: Humana. Es un virus que sólo se transmite entre personas. El sida es la etapa avanzada de la infección causada por el VIH.</p>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-lg="6" >
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>Clamidia</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Provocada por la bacteria Chlamydia trachomatis, puede generar infecciones combinadas junto con el gonococo y presentar complicaciones similares.</p>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>Herpes</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Algunas personas pueden presentar úlcera o lastimaduras como pequeñas ampollitas en la zona genital, causantes por el herpes. Suelen desaparecer entre los tres y quince días pero, vuelven a aparecer al poco tiempo. No tiene cura pero se puede controlar con medicación. Se transmite a través de relaciones sexuales sin protección o si una mujer embarazada tiene herpes genital, también se lo transﬁere a su hijx.</p>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div class="emergencia-content">
                <h2>VPH</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Se maniﬁesta a través de verrugas que son causadas por un virus, el VPH. Pueden causar desde verrugas comunes hasta cáncer de cuello uterino, de pene o ano. Las lesiones causadas por el VPH pueden ser externas o internas. El tratamiento de los condilomas se aplica localmente.</p>
              </div>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6">
            <div class="mac-bigbox-2">
              <div  class="emergencia-content">
                <h2>Hepatitits B y C</h2>
              </div>
              <div class="emergencia-content ion-padding">
                <p>Son infecciones causadas por un virus que afectan principalmente el hígado. Pueden presentar desde malestar general, afecciones del hígado, como la cirrosis o el cáncer de hígado. Aún en períodos asintomáticos, la persona infectada puede transmitir el virus. En las relaciones sexuales, la hepatitis B se transmite con más facilidad que la hepatitis C. Para ambas existe medicación. La hepatitis B, además, puede ser prevenida por una vacuna que está incluida en el Calendario Nacional de Vacunación.</p>
              </div>
            </div>
          </ion-col>


          <ion-col size="12" >
            <ion-card class="card-no-shadow margin-card-default">
              <ion-card-content>
                <div>
                 <ion-card-title class="vih__title" color="primary">¿Qué es el VIH?</ion-card-title>
                <div class="vih">
                <br>
                <p>Es un virus que invade las células de defensa del organismo, destruyéndolas progresivamente. Se transmite durante relaciones sexuales vaginales, anales y orales sin preservativo; por el contacto directo de las mucosas con ﬂuidos sexuales (secreciones vaginales, semen o ﬂuidos preseminales) o sangre.</p>
                <br>
                <p>El contacto sanguíneo puede darse por compartir agujas, jeringas, canutos o pipas para fumar paco. Existe también la probabilidad de transmisión al compartir cepillos de dientes, hojas de afeitar, etcétera, e incluso otros instrumentos usados para perforar la piel (agujas de acupuntura, de tatuajes, piercings, entre otros) que no hayan sido previamente desinfectados o esterilizados. </p>
                <br>
                <p>También si una mujer embarazada tiene VIH puede pasar al beb@ durante el embarazo, el parto o la lactancia.</p>
               </div>
              </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12">
            <ion-card class="vih card-no-shadow margin-card-default">
              <ion-card-content>
                <div>
                  <h2 class="title__section" >¿Cómo prevenirlo?</h2>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" size-lg="6">

                      <img src="../../../assets/pdf salud sexual/img-vih1.png">

                    </ion-col>

                    <ion-col size="12" size-lg="6">
                      <img src="../../../assets/pdf salud sexual/img-vih1.png">

                    </ion-col>

                  </ion-row>
                </ion-grid>

                <div style="line-height: 20pt;">
                <p>Actualmente, los tratamientos antirretrovirales no curan el VIH pero evitan la reproducción del virus, impidiendo así la destrucción de las defensas y el desarrollo de enfermedades oportunistas. De este modo, la infección por VIH pasó a ser una enfermedad crónica con la que –si se realiza el tratamiento en forma adecuada– <strong>es posible tener una buena calidad de vida.</strong></p>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12">
            <ion-card class="vih card-no-shadow margin-card-default">
              <ion-card-content>
                <div>
                  <h2 class="title__section" > VIH no es SIDA</h2>
                </div>
                <br>
                <div style="line-height: 20pt;">
                 <p>Es una confusión muy común. El VIH es el virus que puede provocar el sida. No son sinónimos. El sida es la etapa avanzada de la infección causada por el VIH, que puede ocurrir o no. Una persona conoce que tiene VIH a partir de una prueba que detecta la presencia de anticuerpos en la sangre: esto no significa que la persona tenga sida.</p>
                <br>
                <p><strong>SIDA significa: <br>S: Síndrome. Conjunto de signos y síntomas. <br> I: Inmuno. De las defensas. <br> D: Deficiencia. Debilitamiento (deficiencia) de las defensas del cuerpo (llamadas sistema inmunológico). <br> A: Adquirida. No genética.</strong></p>

                </div>

                   </ion-card-content>
            </ion-card>

          </ion-col>

          <div class="servicio-2 ">


          <ion-col size="12">
            <ion-card class="servicio card-no-shadow margin-card-default" >
                <ion-card-content>
                  <div>
                    <h2 class="title__section" >Servicios</h2>

                  <h2 >SERVICIO DE ADOLESCENCIA</h2>
                  <br>
                  <p>Especialidades: Hebiatría, (Medicina Clínica de Adolescentes) Psicología, <br><br> Servicio de Adolescencia. Teléfono 4796-7200 int 7309 <br> <br>Admisiones Salud Mental y turno con médicas clínicas, <br> <br> adolescenciaservicio@gmail.com</p>
                  <p>Consultas sobre Diversidad <br> diversidad.salud@vicentelopez.gov.ar</p>
                  <br>
                  <div style="font-weight: bold;">
                  <h2>SERVICIOS DE GUARDIA</h2>
                  <p class="font-weight-bold">24hs al día de Lunes a Lunes los 365 días del año. <br><br>*Cuentan con el kit de emergencia de abuso sexual<br><br>Hospital Municipal B, Houssay <br>H. Yrigoyen 1757, Florida. <br><br>Uri Burman <br>Ituzaingó 5725, Carapachay <br><br>Uri Dr. R. Carrillo Florentino<br>Ameghino 946, Florida Oeste <br><br>Maternidad Municipal Santa Rosa Martín J. Haedo 4150, Florida Oeste</p>
                  </div>
                </div>
                </ion-card-content>
            </ion-card>
          </ion-col>

          
        </div>

        <app-footer></app-footer>

</ion-content>
