<ion-header [translucent]="true">
  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

</ion-header>

<ion-content>

  <ion-title>
    Salud Sexual
  </ion-title>

  <ion-grid>


    <ion-row>

      <ion-col size="12">

        <ion-card>

          <ion-card-header>

            <ion-card-title> Metodos anticonceptivos (MAC) </ion-card-title>
            
          </ion-card-header>

          <ion-card-content>
            <p>
              Los MAC son todos aquellos capaces de evitar o reducir las posibilidades de un embarazo. Pueden utilizarse durante toda la vida fértil de la persona.

            Todas las personas con capacidad de gestar, tienen derecho a recibir asesoramiento sobre métodos anticonceptivos.

            Ningún MAC puede considerarse mejor que otro per se. Cada MAC tiene características particulares, modo de uso, ventajas y desventajas, por eso, es importante que te asesores con un/a profesional de la salud. Ningún método es 100% seguro, pero sí es fundamental que utilices el que sea adecuado para vos, asi podés decidir, si es que querés tener un hij@, que suceda en el momento en que lo desees.

            Desde los 16 años las personas adolescentes tienen capacidad plena para la toma de decisiones, sobre el cuidado del propio cuerpo como una persona adulta.

            Y desde los 13 años l@s adolescentes pueden acceder en forma autónoma a todos los métodos anticonceptivos reversibles, inclusive, los de larga duración. 
            </p>
            
            <strong>(Elección de Anticonceptivos: Ley N°25673 Salud sexual y procreación responsable)</strong>

            <p style="background-color: rgb(223, 235, 106);">  Tenés derecho a acceder a métodos anticonceptivos y a elegir el que quieras utilizar.

              Podés obtenerlos gratuitamente en hospitales y centros de salud y en obras sociales y prepagas están incluidos en el Plan Médico Obligatorio:
  
              Preservativos, pastillas, inyectables, DIU, anticoncepción de emergencia y anticoncepción quirúrgica (ligadura tubaria y vasectomía) e implante subdérmico.S
            </p>
          </ion-card-content>
          

        </ion-card>

      </ion-col>


      <ion-col size="12">

        <ion-card>
          <ion-card-header> 
            <ion-card-title> Anticonceptivo  de emergencia</ion-card-title>
            <ion-card-title style="background-color: rgb(172,216,206);">¿Cuándo se puede considerar la utilización del anticonceptivo de emergencia? </ion-card-title>
          </ion-card-header>

          

          <img>
          <img>
          <div>
          <p>La pastilla de emergencia*, o usualmente llamada pastilla del día después, se trata de una o dos pastillas que contienen una alta dosis de hormonas que retrasan la ovulación. Se recomienda su uso SÓLO PARA SITUACIONES DE EMERGENCIA</p>
          <p>Como se usa:</p>   
          <p>Debe tomarse luego de una relación sexual en la que haya fallado el método o no se haya usado uno. Es más segura dentro de las primeras 12 horas.</p>   
          <strong>*Método válido sólo para personas con capacidad de gestar.</strong> 
        </div>
        </ion-card>

      </ion-col>


      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Preservativo</ion-card-title>
            <ion-card-subtitle>Es una funda de látex que se coloca en el pene erecto, en cada relación sexual e impide que el semen entre en la vagina, ano o boca.</ion-card-subtitle>
          </ion-card-header>

          <br>

          <ion-card-content>
            <h2><strong>Como se usa</strong></h2>
            <p>Se coloca cuando el pene está erecto, se aprieta la punta y se desenrolla hasta la base del pene. Se retira después de la eyaculación y se desecha.</p>
            <h2 style="background-color: rgb(223, 235, 106);">Beneficios</h2>
            <p>No repercute en el organisco. No necesita receta</p>
            <h2 style="background-color: rgb(223, 235, 106);">Eficacia</h2>
            <p> Alta, si se lo usa de forma correcta y durante toda la relacion sexual</p>
            <h2 style="background-color: rgb(223, 235, 106);">Frecuencia de uso</h2>
            <p>En cada relacion sexual(vaginal,anal u oral) desd el principio hasta el final</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style="background-color: rgb(223, 235, 106); "> 
          <ion-card-header>
            <ion-card-title style="text-align: center;">
              MAC de larga duracion
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card > 
          <ion-card-header>
            <ion-card-title>
              Implante sudermico
            </ion-card-title>
            <ion-card-subtitle>Conocido como: Chip. Es un implante de plástico flexible. Libera hormonas que impiden la ovulación.</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>Como se usa:</h2>
            <p>Se inserta debajo de la piel del brazo con una pequeña incisión con anestesia local. La colocación la hace un/a profesional.</p>
            <h2 style="background-color: rgb(223, 235, 106);">Beneficios</h2>
            <p>Su efecto dura de 3 a 7 años. La efectividad no depende de sostener un hábito por parte de la persona que lo lleva.</p>
          </ion-card-content>

          <img>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="font-weight: bold;">DIU y SIU</ion-card-title>
            <ion-card-subtitle>Son pequeños dispositivos que se colocan en el útero, uno libera Cobre, otro libera hormonas</ion-card-subtitle>
          </ion-card-header>
         
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Anticonceptivos inyectables</ion-card-title>
            <p>Dosis de hormonas inyectables que inhiben la ovulación.</p>
          </ion-card-header>

          <ion-card-content>
            <h2>Como se usa</h2>
            <p>Se aplica intramuscular mensualmente, libera hormonas.</p>
            <img>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Anillo vaginal</ion-card-title>
            <p>Pequeño anillo ﬂexible que se coloca en la vagina por tres semanas, a la cuarta semana, la persona usuaria lo extrae y se produce la menstruación.</p>
          </ion-card-header>

          <ion-card-content>
            <img>
            <img>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Parche anticonceptivo</ion-card-title>
            <p>Discreto parche que se coloca en la piel, se recambia UNA VEZ POR SEMANA.</p>
          </ion-card-header>

          <ion-card-content>
            <img>
            <img>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card > 
          <ion-card-header style="background-color: rgb(223, 235, 106); ">
            <ion-card-title style="text-align: center;">
              Metodos irreversibles
            </ion-card-title>
          </ion-card-header>
          <br>
          <ion-card-content>
            <p>Los métodos irreversibles son aquellos que no tienen la posibilidad de volver al estado anterior a su realización. Se trata de intervenciones quirúrgicas que implican las siguientes prácticas:</p>
      
            <h2>Marco legal</h2>
            <p style="margin-bottom: 1em; margin-top: 1em;">Programa Nacional de Salud Sexual y Procreación Responsable, en el ámbito del Ministerio de Salud, Año 2002. Incluido en el sistema público, seguridad social de salud y sistemas privados en el Programa Médico Obligatorio. (PMO)</p>
            <p style="margin-bottom: 1em;">Elección de Anticonceptivos: Ley N°25673 Salud sexual y procreación responsable y Ley 26.130 Anticoncepción Quirúrgica.</p>
            <p style="margin-bottom: 1em;">Es tu derecho elegir el método anticonceptivo que quieras utilizar: preservativos, pastillas, inyectables, DIU, anticoncepción de emergencia, implante subdérmico y anticoncepción quirúrgica, acorde a la Ley 26.130, para realizar la ligadura tubaria y vasectomía.</p>
            <p style="margin-bottom: 1em;">Consentimiento en adolescentes a partir de los 16 años: Como indica el artículo 26 del CCyC, desde los 16 años las personas adolescentes tienen capacidad plena para la toma de decisiones, sobre el cuidado del propio cuerpo como una persona adulta.</p>
            <p>Consentimiento de adolescentes entre 13 y 16 años: El artículo 26 del CCyC establece que l@s adolescentes entre 13 y 16 años pueden decidir de manera autónoma sobre prácticas “tratamientos que no resultan invasivos, ni comprometen su estado de salud o provocan un riesgo grave en su vida o integridad física”. Es decir, desde los 13 años l@s adolescentes pueden acceder en forma autónoma a todos los métodos anticonceptivos reversibles, inclusive, los de larga duración.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-title>Ciclo menstrual</ion-title>
          </ion-card-header>
          <ion-card-content>
              <div>
                <p>Es un proceso NATURAL que ocurre todos los meses y se inicia generalmente entre los 10 y los 15 años de edad. Sin embargo, no hay una edad establecida como correcta para el inicio de este proceso, ya que cada persona tiene su propio ciclo.</p>
                <p>El ciclo menstrual da cuenta, en el cuerpo de la persona menstruante, de una preparación para un eventual embarazo.</p>
                <p>LA MENSTRUACIÓN, es un sangrado vaginal, que solo acompaña una parte del período que dure el ciclo menstrual. El ciclo menstrual, puede durar entre 23 y 35 días (28 días promedio). Se cuenta como primer día del ciclo, al primer día de menstruación.</p>
              </div>
              <img>
              <img>
              <div>
                <h1>-En la mitad del ciclo, llamado el día 14 (si es un ciclo promedio) se produce la ovulación que es la fecha fértil, donde se puede gestar un embarazo.</h1>
                <h1 style="font-weight: bold;">Hay formas indirectas de darse cuenta de la ovulación:</h1>
                <p style="background-color: rgb(172, 216, 206);">- Flujo vaginal más espeso transparente que no genera molestias.</p>
                <p style="background-color: rgb(172, 216, 206);">- Aumento de la temperatura corporal.</p>
                <p style="background-color: rgb(172, 216, 206);">- Pequeño sangrado intermenstrual.</p>
              </div>
              <br>
              <br>
            <div>
                <p>Los ciclos pueden ser regulares o irregulares, dependiendo de cada persona, por eso es importante que siempre consultes con el equipo de salud sobre tu ciclo menstrual.</p>
                <p>El sangrado menstrual, es una manifestación física de nuestra salud hormonal e integral. Observar su color, olor, cantidad y duración es imprescindible para encontrar lo que es normal y reconocer signos de alarma.</p>
                <p>Es importante que puedas tomar nota de tus ciclos, el día que comienza tu menstruación, duración, etc. para que el/la profesional pueda asesorarte mejor en tu consulta.</p>
                <br>
                <h1>¿Sabías que existen métodos saludables y sustentables para gestionar tu menstruación?</h1>
                <br>
                <p>La copita menstrual o las toallitas de tela lavables, son elementos novedosos ya que no contaminan el planeta y permiten ahorrar mucho dinero anualmente, y a lo largo de toda la vida de las personas menstruantes.</p>
                <br>
                <p>Para utilizarlos, es importante que te asesores con un/a profesional de la salud, para averiguar acerca de las condiciones de higiene y lavado de estos elementos, la modalidad de uso, la cantidad de horas que pueden llevarse puestos y el método de higiene y guardado para el siguiente uso.</p>
            </div>
            <br>
            <br>
            <div>
              <h1>Ginecologia</h1>
              <br>
              
              <p>GUARDIA 24 HS. DE LUNES A LUNES</p>
              <p>HOSPUTAL MUNICIPAL DR.B.HOUSSAY</p>
              <p>H.YRIGOYEN 1757</p>
              <br>
              
              <p>ESCRIBINOS</p>
              <p>ginecologia.houssay@gmail.com</p>
              <p>diversidad.salud@vicentelopez.gov.ar</p>
              <br>
              
              <p>Servicio De Adolescencia</p>
              <p>HOSPITAL MUNICIPAL B. HOUSSAY</p>
              <p>4796-7200 (INT 7309)</p>
              <p>adolescenciaservicio@gmail.com</p>
              
              <br>
              <p>CENTROS DE ATENCIÓN PRIMARIA</p>
              <p>4513-6421 / 6435 / 6413 | de Lunes a Viernes de 7.30 a 16hs.</p>
              <p>+info sobre servicos de salud en www.vicentelopez.gov.ar/salud</p>
              
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      
      <ion-col size="12">
        <ion-card > 
          <ion-card-header style="background-color: rgb(223, 235, 106); ">
            <ion-card-title style="text-align: center;">
              ¿Qué son las infecciones de transmisión sexual?
            </ion-card-title>
          </ion-card-header>
          <br>

          <ion-card-content>
            <div>
            <p>Las ITS son infecciones o enfermedades infecciosas que se transmiten de una persona a otra durante una relación sexual vaginal, anal u oral o por contacto con sangre, semen, líquido preseminal o fluido vaginal.</p>
            <br>
            <p>Pueden ser producto de más de treinta tipos de virus, bacterias y parásitos.</p>
            <br>
            <p>Las más frecuentes son: la sífilis, la gonorrea, la clamidia, el Virus del Papiloma Humano (VPH), las hepatitis B y C, el VIH. Afectan a todas las personas de todas las edades: varones, mujeres, de cualquier edad y orientación sexual.</p>
            <br>
           </div>
           <div>
            <h1>ELEGÍ SABER, TESTEATE</h1>
            <br>
            <p>Los test rápidos, pueden realizarse sin el acompañamiento de una persona adulta a partir de los 14 años de edad. </p>
            <br>
            <h2 style="text-align: center;">Acercate y tené el resultado en minutos.</h2>
            <br>
            </div>
            <div style="text-align: center;">
            <ion-button >Centros de testeo</ion-button>
           </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style="background-color: rgb(223, 235, 106); "> 
          <ion-card-header>
            <ion-card-title style="text-align: center;">
              ¿Cuáles son los síntomas?
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lastimaduras en la zona genital, con o sin dolor; Secreciones de pus en los genitales (vagina y pene) o en el ano; Ardor al orinar; Flujo genital u anal diferente al habitual; Dolor en la parte baja del abdomen; Lesiones en la boca o manchas en la piel; Verrugas genitales. Ante alguno de estos síntomas es importante hacer una consulta en el hospital o Centro de Salud más cercano al domicilio.
          </ion-card-content>
        </ion-card>
      </ion-col>

      

      <ion-col size="12">
        <ion-card style="background-color: rgb(223, 235, 106); "> 
          <ion-card-header>
            <ion-card-title style="text-align: center;">
              ¿Cómo se detecta?
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Puede presentar los síntomas mencionados anteriormente como no. Algunas veces solo se detectan con un examen médico como análisis de sangre u orina.</p>
            <br>
            <p>En caso de embarazo, es importante que ambos padres/madres se realicen los análisis para poder tratarse, de ser necesario, y así, evitar la transmisión al bebe.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style="background-color: rgb(223, 235, 106); "> 
          <ion-card-header>
            <ion-card-title style="text-align: center;">
              ¿Cómo se tratan?
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            La mayoría de estas infecciones son tratables, y muchas de ellas pueden hasta curarse.
           </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style="background-color: rgb(223, 235, 106); "> 
          <ion-card-header>
            <ion-card-title style="text-align: center;">
              ¿Cómo se previenen?
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            La mayoría de las ITS se pueden prevenir USANDO PRESERVATIVO O CAMPO DE LÁTEX desde el comienzo de toda la relación sexual y evitando compartir materiales punzantes.
           </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>

          <div style="justify-content: center; text-align: center; margin: 10px;">

          <strong style="color: rgb(75, 21, 116); font-weight: bolder; text-align: center; margin-bottom: 1em; justify-content: center;">El Calendario Nacional de Vacunación incluye la vacuna contra la hepatitis B para toda la población y contra el VPH para niños y niñas de 11 años nacidas a partir del año 2000.</strong>
          <br>
          <ion-button>VACUNATE</ion-button>
        </div>
        </ion-card>
      </ion-col>

  
     <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title style="font-weight: 700; float: left;">Gonorrea</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Causada por la bacteria gonococo.</p>
              <br>
              <p>Puede darse de forma asintomática o causar ﬂujo verdoso o amarillento, dolor al orinar o durante las relaciones sexuales.</p>
          </ion-card-content>
          </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>Triconoma</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Es un parásito que produce ﬂujo amarillento, verdoso o grisáceo. Frecuentemente se presenta de manera asintomática en los varones.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>Sífilis</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Es una Infección más común de lo que la gente conoce, y especialmente en población adolescente se suele reproiducir ante la falta de uso de preservativo o campo de latex. Genera lastimadura o úlcera en la zona genital. Puede estar acompañado de inﬂamación de un ganglio en la zona. Al principio no produce dolor pero la enfermedad puede avanzar y producir erupciones, ronchas en el cuerpo, lesiones en la boca, ﬁebre y aumento generalizado del tamaño en los ganglios, caída del cabello, malestar general, verrugas o condilomas en la zona genital. Si no se recibe tratamiento, puede causar daños en el corazón y lesiones en el sistema nervioso. Su tratamiento consiste en la aplicación de penicilina en una o más dosis, dependiendo el estado avanzado.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>Herpes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Algunas personas pueden presentar úlcera o lastimaduras como pequeñas ampollitas en la zona genital, causantes por el herpes. Suelen desaparecer entre los tres y quince días pero, vuelven a aparecer al poco tiempo. No tiene cura pero se puede controlar con medicación. Se transmite a través de relaciones sexuales sin protección o si una mujer embarazada tiene herpes genital, también se lo transﬁere a su hijx.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>
              VPH
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Se maniﬁesta a través de verrugas que son causadas por un virus, el VPH. Pueden causar desde verrugas comunes hasta cáncer de cuello uterino, de pene o ano. Las lesiones causadas por el VPH pueden ser externas o internas. El tratamiento de los condilomas se aplica localmente.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>VIH</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <p>V: Virus. Organismo muy pequeño (no se ve a simple vista) que se reproduce e invade las células del cuerpo.</p>
              <br>

             <p> I: Inmunodeﬁciencia. Debilitamiento (deﬁciencia) de las defensas del cuerpo que constituyen el sistema inmunológico.</p>
             <br>
              
            <p> H: Humana. Es un virus que sólo se transmite entre personas. El sida es la etapa avanzada de la infección causada por el VIH.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); ">
          <ion-card-header>
            <ion-card-title>
              Hepatitis B y C
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Son infecciones causadas por un virus que afectan principalmente el hígado. Pueden presentar desde malestar general, afecciones del hígado, como la cirrosis o el cáncer de hígado. Aún en períodos asintomáticos, la persona infectada puede transmitir el virus. En las relaciones sexuales, la hepatitis B se transmite con más facilidad que la hepatitis C. Para ambas existe medicación. La hepatitis B, además, puede ser prevenida por una vacuna que está incluida en el Calendario Nacional de Vacunación.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card style=" background-color: rgb(223, 235, 106); " >
          <ion-card-header>
            <ion-card-title>Triconoma</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Es un parásito que produce ﬂujo amarillento, verdoso o grisáceo. Frecuentemente se presenta de manera asintomática en los varones.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ¿Que es el VIH?
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p style="margin-bottom: 1em;">Es un virus que invade las células de defensa del organismo, destruyéndolas progresivamente. Se transmite durante relaciones sexuales vaginales, anales y orales sin preservativo; por el contacto directo de las mucosas con ﬂuidos sexuales (secreciones vaginales, semen o ﬂuidos preseminales) o sangre.</p>
            <br>
            <p style="margin-bottom: 1em;">El contacto sanguíneo puede darse por compartir agujas, jeringas, canutos o pipas para fumar paco. Existe también la probabilidad de transmisión al compartir cepillos de dientes, hojas de afeitar, etcétera, e incluso otros instrumentos usados para perforar la piel (agujas de acupuntura, de tatuajes, piercings, entre otros) que no hayan sido previamente desinfectados o esterilizados. </p>
            <br>
            <p style="margin-bottom: 2em;">También si una mujer embarazada tiene VIH puede pasar al beb@ durante el embarazo, el parto o la lactancia.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              ¿Cómo prevenirlo?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Actualmente, los tratamientos antirretrovirales no curan el VIH pero evitan la reproducción del virus, impidiendo así la destrucción de las defensas y el desarrollo de enfermedades oportunistas. De este modo, la infección por VIH pasó a ser una enfermedad crónica con la que –si se realiza el tratamiento en forma adecuada– <strong>es posible tener una buena calidad de vida.</strong></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              VIH no es SIDA
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>Es una confusión muy común. El VIH es el virus que puede provocar el sida. No son sinónimos. El sida es la etapa avanzada de la infección causada por el VIH, que puede ocurrir o no. Una persona conoce que tiene VIH a partir de una prueba que detecta la presencia de anticuerpos en la sangre: esto no significa que la persona tenga sida.</p>
            
            <p style="margin-top: 1em;"><strong>SIDA significa: <br>S: Síndrome. Conjunto de signos y síntomas. <br> I: Inmuno. De las defensas. <br> D: Deficiencia. Debilitamiento (deficiencia) de las defensas del cuerpo (llamadas sistema inmunológico). <br> A: Adquirida. No genética.</strong></p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Servicios
            </ion-card-title>
            

            <ion-card-content>

              <h2>SERVICIO DE ADOLESCENCIA</h2>
              <br>
              <p style="margin-bottom: 1em;">Especialidades: Hebiatría, (Medicina Clínica de Adolescentes) Psicología, <br><br> Servicio de Adolescencia. Teléfono 4796-7200 int 7309 <br> <br>Admisiones Salud Mental y turno con médicas clínicas, <br> <br> adolescenciaservicio@gmail.com</p>
              <p class="font-weight-bold" style="margin-bottom: 1em;">Consultas sobre Diversidad <br> diversidad.salud@vicentelopez.gov.ar</p>
              <br>
              <h2>SERVICIOS DE GUARDIA</h2>
              <p class="font-weight-bold">24hs al día de Lunes a Lunes los 365 días del año. <br><br>*Cuentan con el kit de emergencia de abuso sexual<br><br>Hospital Municipal B, Houssay <br>H. Yrigoyen 1757, Florida. <br><br>Uri Burman <br>Ituzaingó 5725, Carapachay <br><br>Uri Dr. R. Carrillo Florentino<br>Ameghino 946, Florida Oeste <br><br>Maternidad Municipal Santa Rosa Martín J. Haedo 4150, Florida Oeste</p>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
      

    </ion-row>
  </ion-grid>


</ion-content>
