@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.title__section {
  color: var(--ion-color-primary);
  font-weight: 700;
  color: rgb(60, 36, 111);
  font-size: 2rem;
  }

  .cuanto-tiempo{
    font-family: "Bitter";
  }

.bold{
  font-weight: bold;
}
h2{
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  }

  .card-no-shadow {
    box-shadow: none;
  }

//Header


.header{
  background-color: #DEB0D2;
 height: 227px;
 }


.header-text{
  position: relative;
  bottom: 162px;
  text-align: center;


}

.header-text-h2{
  font-weight: bold;
  color:rgb(60, 36, 111);
  font-size: 3.5rem;


}


.mac-content ion-card-title{
  font-size: 1.8rem;
  font-weight: bold;
}

.mac-content p{
  color:#3c246f;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.mac__subtitle {
  text-align: center;
  font-weight: 600;
}

.derechos-mac{
  font-size: 2rem;

}

.derechos-mac p{
  margin-bottom: 10px;
  color:#3c246f;
}
.quote span{
  line-height: normal;
  background-color: rgb(223, 235, 106);
  color:#3c246f;
}

.comillas {
  font-size: 2.2rem;
}

.no-justify {
  text-align:left;
  font-size: 1rem;
}

// MAC de emergencia

.emergencia-bigbox{
  background-color: #f0f0f0;
  border: 1px solid #93c;
}

.metodos__img {
  height: 281px;
}

.emergencia-close-icon img {
  float: right;
  width: 65px;

}


.emergencia-close-icon{
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #93c;
  float: right;
  box-sizing: border-box;
}


.emergencia-content{
  line-height: 2;
  color:#3c246f;
  background-color: #f0f0f0;
  border-bottom: 1px solid #93c;
}

.emergencia-content h2{
  text-align: center;
  color:#3c246f;

  font-weight: 700;
}


.emergencia-pastilla{
  background-color: #d0a3d6;
  color:rgb(60, 36, 111);
  margin: 0;
  border-radius: 0;
}

.emergencia-uso{
  margin:5px;
}

.pastilla-emergencia-uso {
  font-style: italic;
  font-size: 0.8rem;
}

.flujos{
  background-color:rgb(172, 216, 206) ;
}

.emergencia-pastilla-content span{
    font-size: 1.3rem;
    line-height: 1.4;
    background-color: rgb(172, 216, 206);
    padding: 4px;
}

.emergencia-pastilla-content h2{
  color:rgb(60, 36, 111);
}

.emergencia-content3{
  text-align: center;
  background-color: #f0f0f0;
}


.img1{
  width: 100%;
  height: 124px;
}

.img2{
  width: 282px;
  height: 215px;
}

//preservativo

.no-previene-content{
  text-align: center;
}

.implante-content {
  font-weight: bold;
  color: rgb(60, 36, 111);
  ion-card-title {
    font-size: 1.4rem;
  }
  h2{
    font-size: 0.9rem;
  }
}

.preservativo-content{
  text-align: left;
  color:rgb(60, 36, 111);
}


.preservativo-content span{
  font-weight: bold;
  font-size: 1.25rem;
}

.mac-bigbox{
  background-color: #f0f0f0;
  border: 1px solid #93c;
  margin: 20px;
  padding: 1px;
  h2{
  color:rgb(60, 36, 111);
  font-weight: 700;}
}

.mac-bigbox-2{
  background-color: #f0f0f0;
  border-top: 1px solid #93c;
  border-left: 1px solid #93c;
  border-right: 1px solid #93c;
  margin:15px;
  padding: 5px;
}

.yellow {
  background-color: rgb(223, 235, 106);
  font-size: 1.8rem;
}

.img9{
    height: 232px;
}


//implante
.implante-content{
  text-align: left;
  color:rgb(60, 36, 111);
}

.implante-content span{
  font-weight: bold;
  font-size: 1.8rem;
}

.diusiu-content{
  text-align: left;
  color:rgb(60, 36, 111)
}

.img4{
  width: 100%;

  height: 120px;
}

.inyectabales-content{
  text-align: left;
  color:rgb(60, 36, 111);
}


//metodos irreversibles

.irreversibles-content{
  text-align: left;
  color:rgb(60, 36, 111);
}

.irreversibles-content h2{
  font-size: 1.2rem;
  color: rgb(60, 36, 111);
  font-weight: 700;
}

//ciclo

.ciclo-text{
  text-align: left;
}

.ciclo-content-2{
  background-color: #f5cbf1;;
}
.ciclo-content h2{
    font-size: 2rem;
    color: rgb(60, 36, 111);
    font-weight: 800;
}

.ciclo-content{
  text-align: left;
  color:#FFF;
  background-color: #dd85d3;
  margin: 0;
  border-radius: 0;
}

.ciclo-content-info{
    text-align: left;
    font-size: 1.4rem;
}

.ciclo__pink {
  background-color: #f5cbf1;
  margin: 0;
  border-radius: 0;
}

.ginecologia-content{
  line-height: 1.5;
  color: white;
}


.items__ovu li span{
  font-size: 1.1rem;
  color: rgb(60, 36, 111);
  background-color: rgb(172, 216, 206);
}

.items__ovu{
  color:rgb(60, 36, 111);
}
.violet {
  color: rgb(60, 36, 111);
}

//irreversibles

.irreversibles p{
  font-size: 14px;
  color:rgb(60, 36, 111);
}

 //Ginecologia

 .ginecologia{
  background-color:rgb(60, 36, 111);
  margin: 0;
  color: white;
  border-radius: 0;
}

.ginecologia-contenedor-padre{
  background-color:rgb(60, 36, 111);
  margin-top: -20px;

}

.no-padding {
  padding: 0 !important;
}



.ginecologia-img{
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
  img {
    height: 33px;
  }
}

//testeate

.testeate{
  text-align: center;

}
.testeate-content{
  text-align: left;
}

.testeate-content p{
  text-align: center;
  color:rgb(60, 36, 111);

}

.testeate-content h2{
  font-weight: bold;
  color:rgb(60, 36, 111);
}

.formas-content{
  background-color: white;
  color:rgb(60, 36, 111);
}

//Marco legal

.text_sextion p{
  text-align: justify;
  color:#3c246f;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 1.1rem;
}

//Vacunate

.vacunate{
  text-align: center;
}

.vacunate button{
   border-radius: 30px;
   background-color: rgb(75, 21, 116);
   color: white;
}

//vih

.vih h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(60, 36, 111);
    font-weight: 700;
}

.vih{
  color:rgb(60, 36, 111);
}

.vih p{
  margin-bottom: 1em;
}

.vih h1{
  font-weight: bold;
  color:rgb(60, 36, 111);
  font-size: 3rem;
}

//prevenirlo

.prevenirlo{
  color:rgb(60, 36, 111);
}

.prevenirlo h1{
  font-size: 3rem;
  font-weight: bold;
  color:rgb(60, 36, 111);
}

///vih no es sida

.vih-no{
  color:rgb(60, 36, 111);
}

.vih-no h1{
  font-size: 3rem;
  font-weight: bold;
}

.vih-no p{
  margin-top: 1em
}

//servicio

.servicio{
  background-color: #b697c9;
  color:rgb(60, 36, 111);
  margin: 0;
  border-radius: 0;
}

.servicio-2{
  background-color: #b697c9;
}

.servicio h1{
  font-size: 3rem;
  font-weight: bold;
}


.servicio p{
  margin-bottom: 1em;
}

//IMG

.img8{
  width: 545px;
    height: 158px;
    margin: 45px 10px 10px 10px;
}

.img12{
    height: 55px;
}

.img15{
  height: 202px;
}
.svg-ciclos{
  margin: -25px;
}

.comillas{
  font-size: 1.5rem;
}

.svg-top-ciclo{
  margin: -25px;
}


@media (min-width: 800px){

  .margin-card-default{
    margin: 0px 160px 1px 160px;
    max-width: 900px;
  }

  .quote{
    margin: 10px 120px 10px 120px;


  }

  .comillas{
    font-size: 2rem;
  }

  .quote p{
    font-size: 2rem;
    color:rgb(60, 36, 111);
  }



  .metodos__img{
    float: right ;
    height: 279px;
    width: 300px;
  }


  .mac-bigbox-2{
    margin: 0px 160px 1px 160px;
  }

  .mac-bigbox{
    margin: 0px 160px 1px 160px;
  }



  .img5{
    height: 228px;
  }

  .img11{
    height: 288px;
  }


  .emergencia-content3 h2{
    font-size: 1.8rem;

  }

  .header{
    height: 631px;
  }

  .header-text-h2{

    font-size: 6.5rem;

    }

  .header-text{
    position: relative;

    bottom: 496px;

    text-align: center;
  }

  .ginecologia h2{
    font-size: 2.5rem;
  }

}



@media (min-width: 1400px){

  .title_desktop{
    font-size: 3rem;
  }

  .salud-sexual-header{
    margin-top: 230px;
  }

  .header{
    height: 975px;
  }

  .header-text{

    bottom: 1000px;

  }

    .header-text-h2{
      font-size: 10rem;

    }

  p{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.8rem;
  }
  .margin-card-default{
    margin: 0px 279px 0px 279px;
    max-width: 1330px;
}


    .title__section {
      font-size: 4rem !important;
    }

    .items__ovu p{
       font-size: 2.5rem;
    }



    .mac p{
        font-size: 1.5rem;
    }


    .metodos__img {
      width: 550px;
      display: block;
      margin: 0 auto;
      height: 400px;
    }

    .quote{
      margin: 10px 140px 10px 140px;

    }


    .derechos-mac p{
        font-size: 1.5rem;
    }

    .quote p {
      font-size: 2.5rem;
    }
    .mac-bigbox{
      display: block;
      border: 1px solid #93c;
      padding: 30px;
      max-width: 1330px;
      margin: 0 auto;

      h2 {
        text-align: center;
        font-size: 2.7rem;

      }
    }

    .mac-content p{

      font-size: 1.5rem;

    }


    .img1 {
      height: 120px;
    }



    .mac-bigbox-2{
        margin: 0 300px 0px 300px;
    }

    .yellow{font-size: 2.5rem;}

    .yellow-2{
      font-size: 2.5rem;
    }

    .no-justify{
      font-size: 2.5rem;
    }


    //emergencia



    .emergencia-pastilla h2{
        font-size: 1.8rem !important;
    }


.emergencia-pastilla-content span{
  font-size: 2.5rem;
  line-height: 1.4;
  background-color: rgb(172, 216, 206);
  padding: 4px;
}

    .emergencia-uso p{
        font-size: 1.5rem;
    }

    .emergencia-uso h1{
        font-size: 7rem;
    }

    .img1{
      height: 245px;
    }

    .img2{
      width: 300px;
      height: 200px;
     }


     //preservativo

     .preservativo ion-card-title {
       font-size: 4rem !important;
       font-weight: bold;
     }

    .preservativo p{
        font-size: 1.5rem;
    }

    .preservativo  span{
        font-size: 1.8rem;
    }

    .implante-content {
      ion-card-title {
        font-size: 4.5rem !important;
        font-weight: bold;
      }
      span {
        font-size: 2.5rem;
      }
    }

    .implante-content p{
      font-size: 1.5rem;
    }

    .implante-content strong {
      font-size: 1.5rem;
    }


    .img3{
        display: none;
    }

    //MAC

    .mac-bigbox {
      padding: 20px;
    }

    .img4 {
      height: 110px;
      margin-top: 70px;
    }

    //Implante



    .implante h1{
        font-size: 7rem;
    }

    .implante p{
        font-size: 4rem;
    }

    .implante  span{
        font-size: 5rem;
    }

    .img4{
        width: 100%; height: 313px;
    }

    .testeate-content p{
      font-size: 1.5rem;

    }

    //diu



    .diusiu-content {
        ion-card-title {
          font-size: 4.5rem;
        }
        p {
          font-size: 1.5rem;
        }
    }

    // .diusiu-content p{



    .diusiu-content  span{
        font-size: 5rem;
    }

    .img4{
      height: 150px;
    }

    //anticonceptivos-inyectables

    .inyectabales-content {
      ion-card-title {
        font-size: 4.5rem;
      }
      h2 {
        font-size: 1.4rem !important;
      }
    }



    .anticonceptivos-inyectables h1{
        font-size: 7rem;
    }

    .anticonceptivos-inyectables p{
        font-size: 3rem;
    }
    .img5 {

      height: 294px;
    }

    .img6{
        margin-top: 17px;
    }

    // Anticonceptivos orales


    .anticonceptivos-orales h1{
        font-size: 7rem;
    }

    .anticonceptivos-orales p{
        font-size: 3rem;
    }

    .img7{
        width: 508px;
        height: 294px;
    }

    .img8 {
      margin-top: 50px;
    }



    .img9{
      height: 355px;
    width: 341px;
    margin-left: 105px;

    }


    //anillo vaginal


    .anillo-vaginal h1{
        font-size: 7rem;
    }

    .anillo-vaginal p{
        font-size: 3rem;
    }

    .img10{
        margin-top: 83px;
        height: 123px;
    }

    //Parche

    .parche-anticonceptivo h1{
        font-size: 7rem;
    }

    .parche-anticonceptivo p{
        font-size: 3rem;
    }

    .img11{
      width: 363px;
    height: 356px;

    }

    //irreversibles



    .irreversibles p{
        font-size: 3rem;
        color:rgb(60, 36, 111);
    }

    .img12{
      height: 123px;
      margin-top: 30px;
    }

    .img13{
      height: 123px;
      margin-top: 30px;
    }

    //marco legal


    .marco-legal h1{
      font-size: 7rem;
    }

    .marco-legal p{
        font-size: 3rem;
    }

    .ciclo-content{

      text-align: justify;
    }

    .ciclo-content h1{
      font-size: 2.8rem;
    }

    .ciclo-content h2{
      font-size: 7rem;

  }

     .ciclo__menstrual {
      width: 680px;
      display: block;
      margin: 0 auto;
     }

    .img14{
        height: 422px;
        margin-top: 169px;
    }

    .img15{
      height: 600px;
      margin-top: 228px;
      margin-left: 35px;
    }

    //formas

    .formas-content{
        background-color: white;

        color:rgb(60, 36, 111);


    }

    .formas-content p{
        font-size: 1.5rem;
    }

    //Irreversibles

    .irreversibles-content p{
      font-size: 1.5rem;
    }

    .irreversibles-content h2{
      font-size: 1.8rem;
    }

    //Ginecologia

    .ciclo_title{
      font-size: 7rem;
    }

    .ginecologia-img {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: start;

    }

    .img16 {
      margin-right: 100px;
    }

    .ginecologia p{
        font-size: 1.5rem;

    }

    .ginecologia h2{
        font-size: 4.5rem;
      color: white;
    }

    .its{
        background-color:rgb(60, 36, 111); margin-top: 0;
        margin-right: 122px;
        margin-left: 113px;
        padding: 127px;
        color: white;

    }

    .its p{
      font-size: 5rem;
    }

    //testeate





    .testeo__btn {
      width: 250px;
      display: block;
      margin: 0 auto;
    }

    .testeate-content h1{
        font-size: 7rem;
        font-weight: bold;
    }

    //vih

    .vih{
      color:rgb(60, 36, 111);

    }

    .vih p{
      font-size: 1.5rem;
    }

    .vih__title{
      font-size: 2.8rem;
      font-weight: bold;
    }

    //prevenirlo


    .prevenirlo{
      color:rgb(60, 36, 111);

    }

    .prevenirlo p{
      font-size: 1.5rem;
    }

    .prevenirlo h1{
      font-size: 2.8rem;
      font-weight: bold;
    }

    //Servicio


    .servicio p{
        font-size: 1.5rem;
    }

    .servicio h1{
      font-size: 1.8rem;
      font-weight: bold;
    }

    .servicio h2{
        font-weight: 1.8rem;
    }

    .comillas{
      font-size: 2.8rem;
    }


}
