//noviazgo

.noviazgo-content p{
    color: #3c246f;
}



.identificar-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.violencia-bigbox{
    background-color: #d5e26a;
    border: 1px solid #93c;
    margin:15px;
}



.violencia-close-icon{
    width: 100%;
    background-color: #d5e26a;
    border-bottom: 1px solid #93c; 
    float: right;
    box-sizing: border-box;
}

.violencia-content{
    width: 100%;
    text-align: center;
    line-height: 20pt;
  
}

//contacto

.contacto-content{
    padding-left: 15px;
}
