<app-toolbar></app-toolbar>

<ion-content>

  <div class="header">
    <ion-grid>
      <ion-row>
        
        <ion-col size="12" size-lg="6">
          <h1 class="h1-header">Relaciones sexo-afectivas</h1>
        </ion-col>
        <ion-col size="0" size-lg="6">
          <img class="img2" src="../../../assets/imgHome/no-es-no.png">
        </ion-col>
      </ion-row>
    </ion-grid>
    
   
    <img style="position: absolute; height: 21px; position: absolute; left: 270px; top: 19px;" src="../../../assets/pdf genero/piririn-2.png">
    <img style="position: absolute; left: 39px; top: 8px; position: absolute; height: 36px;" src="../../../assets/pdf genero/circulo-verde.png">
     <img style="position: absolute; height: 43px; transform: scaleX(-1); top: 93px; right: 353px;" src="../../../assets/imgHome/circle-lightblue.png">
     <img style="position: absolute; height: 153px; bottom: 411px; left: 218px; display: none;" src="../../../assets/pdf bullying/Image_009.png">
 
  </div>

  <ion-card class="margin-card-default card-no-shadow">
    <ion-card-content>
      <div class="noviazgo-content">
      <p>Noviazgo Violento refiere a una relación de pareja donde una de las personas agrede a la otra o la agresión es mutua.</p>
      <br>
      <p ><span style="background-color: #d5a8c9;">La particularidad de estas relaciones es que la violencia no pone en duda la continuidad de la pareja.</span></p>
      <br>
      <p>La violencia es peligrosa y deja consecuencias en la vida de las personas.</p>
    <br>
    </div>
    </ion-card-content>
  </ion-card>

 <ion-card class="noviazgo margin-card-default card-no-shadow">

  <div>
    
    <h2 class="title__section">Como identificar noviazgos violentos</h2>
    <div class="violento-cont">
      <div class="identificar-content">
        <h2>Relacion asimetrica o desigual:</h2>
        <br>
        <p>Una relación asimétrica o con dominancia, es cuando uno de los integrantes de la pareja manipula por medio de agresiones de cualquier tipo al otro/ra, generando de este modo una diferencia de poder entre ambos ASIMETRÍA.</p>      
        <br>
        <p>
          Hay uno/a que domina, manipula, lastima y ejerce violencia, para luego mostrarse  arrepentid@, y hacer cosas para reconquistar a la persona agredida. De esta manera, se forma UN CICLO DE ENOJOS Y RECONCILIACIONES.
        </p>
      </div>

      <div style="height: 33px;">
        <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: #3c246f;position: relative;top: 28px;"><path style="fill: #3c246f;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
      </div>

       <img style="width: 100%;" src="../../../assets/pdf relaciones sexoafectivas/image004.png">
 
      
     </div>
    </div>
    </ion-card>


    <ion-grid class="margin-card-default">
      <ion-row>
      <ion-col size="12" size-lg="6">

          <ion-card class="card-no-shadow">
            <ion-col size="12">
              <div class="violencia-bigbox">
                <div style="border-bottom: 1px solid #93c;" class="violencia-content">
                  <div class="close-icon">
                    <img src="../../../assets/x-caja.png">
                  </div>
                  
                  <div class="header-h2" >
                    <h1>Violencia de género</h1>
                  </div>
                  
          
                </div>
                <div class="violencia-text">
                  <p>Las Naciones Unidas definen la violencia contra la mujer o disidencias como «todo acto de violencia de género que resulte, o pueda tener como resultado un daño físico, sexual o psicológico, inclusive las amenazas de tales actos, la coacción o la privación arbitraria de libertad, tanto si se producen en la vida pública como en la privada».</p>
              
                </div>
              </div>
            </ion-col>

          </ion-card>

      </ion-col>

      <ion-col size="12" size-lg="6">

        
    <ion-card class="card-no-shadow">

      <ion-col size="12">
        <div class="violencia-bigbox">
          <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
            
                    
            <div class="close-icon">
              <img src="../../../assets/x-caja.png">
            </div>
            
            <div class="header-h2" >
              <h1>Violencia Física</h1>
            </div>
    
          </div>
          <div class="violencia-text" >
            <p>Es la que actúa contra el cuerpo de la víctima causándole dolor, daño o riesgo de producirlo y cualquier otra forma de maltrato o agresión que afecte su integridad física.</p>
         
          </div>
    
          
        </div>
      </ion-col>
    </ion-card>
  
        
      </ion-col>

      <ion-col size="12" size-lg="6">

        <ion-card class=" card-no-shadow">

          <ion-col size="12">
            <div class="violencia-bigbox">
              <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
                
                <div class="close-icon">
                  <img src="../../../assets/x-caja.png">
                </div>
                
                <div class="header-h2" >
                <h1>Violencia Psicológica o emocional</h1>
                </div>
          
        
              </div>
              <div class="violencia-text" >
                <p>Es toda conducta que causa daño emocional y disminución de la autoestima, busca degradar el valor de la persona ante ella misma y ante los demás, controlar sus acciones, comportamientos, creencias y decisiones. Este tipo de violencia le impide a la víctima desarrollar plenamente su personalidad.</p>
             
              </div>
            </div>
          </ion-col>
    
        </ion-card>
        
      </ion-col>

      

      <ion-col size="12" size-lg="6">

        

          

    <ion-card class="card-no-shadow">
      <ion-col size="12">
        <div class="violencia-bigbox">

          <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
            
                           
            <div class="close-icon">
              <img src="../../../assets/x-caja.png">
            </div>
            
            <div class="header-h2" >
              <h1>Violencia sexual</h1>
            </div>
    
          </div>
          <div class="violencia-text">
            <p>Este tipo de violencia incluye cualquier práctica o acto sexual que no sea plenamente consentido por l@s dos integrantes de la pareja.
            </p>
         
          </div>
        </div>
      </ion-col>

    </ion-card>

        
      </ion-col>
    </ion-row>
    </ion-grid>


 


  

 

  <ion-card class="margin-card-default card-no-shadow">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="pareja" size="12" size-lg="8">
            <p>La violencia en una pareja suele comenzar en ámbitos privados y en ausencia de testigos.</p>
            <br>
            <p style="font-style: italic;"> Se habla de “doble fachada” o “dos caras” cuando el/la que ejerce violencia, se muestra amoros@ y considerado con su pareja sólo cuando hay testigos.</p>  
          </ion-col>
          <ion-col size="12" size-lg="4">
            <img class="img3" src="../../../assets/pdf relaciones sexoafectivas/image006.png">
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




  <div class="div-svg-contacto-top">
    <svg class="svg-contacto-top"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
  </div>

 
  <div class="contacto " >
      <div class="contacto-content  margin-card-default card-no-shadow">
      <h1 style="color: white;">¿Qué hacer ante una situación violenta?</h1>
      <br>
      <p>Comunicate al 144, las 24 horas de lunes a lunes.</p>
      <br>
      <p>En caso de vivir una situación de violencia, la víctima puede salir y pedir ayuda: salir del aislamiento por pandemia de COVID 19, está justificado por encontrarse en peligro.</p>
      <br>
      <p>Se aconseja:</p>
      <br>
      <p>- Llamar al 109 - Urgencias</p>
      <br>
      <p>- Línea 144 - Asesoramiento, acompañamiento y contención</p>
      <br>
      <p>- Whatsapp que atiende 24 hs 2771-6463 para violencia de género</p>
      <br>
      <p>- Oficina de Violencia Doméstica - Denuncia y atención las 24 hs. (Lavalle 1250- 11-4123-4510)</p>
      <br>
      <p>- Comisaría más cercana – Denuncia</p>
      <br>
      <p>- Comisaria de la mujer 2111 -2218</p>
      <br>
      <p>- Ministerio Público Fiscal - Denuncias y atención las 24 hs (denuncias@fiscalias.gob.ar)</p>
      <br>
      <p>- WhatsApp de la Ciudad: 11-5050-0147</p>
      <br>
      <p>-
        Comisaria de la Mujer de Vicente López
        
        Tomás Espora 3045, B1636DUC Olivos, Provincia de Buenos Aires
        
        Teléfono: 011 4711-7887</p>
      </div>
</div>

<div class="div-svg-contacto-bottom" >
  <svg class="svg-contacto-bottom"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
</div>

  
  <app-footer></app-footer>
  

</ion-content>
