@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 1.8rem;
  }


h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
    font-family: 'bitter', sans-serif;
    font-weight: bold
  }

//Header

.header {
    height: 25%; 
    text-align: center;
    width: 100%;
    background-color: rgb(176, 207, 196); 
    font-size: 3rem;
}

.header h1{
  
    left: 15px;
    position: absolute;
    font-size: 3rem;

}

//Violento



.violento h1{margin: 30px ;font-weight: bold; font-size: 3rem; color: rgb(60, 36, 111);}

.violento-cont{
    color: white; background-color: #3c246f; border-radius: 30px; margin:15px;
}
//noviazgo



.noviazgo-content p{
    color: #3c246f;
   
}

.noviazgo-content span{
    line-height: normal;
}


//IDENTIFICAR

.identificar-content{
    padding: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.identificar-content h1{
    font-weight: bold;font-size: 3rem;color: rgb(255, 255, 255);
}


.identificar-content p{
    color: rgb(255, 255, 255); 
}

//SVG

.div-svg-top{
    height: 33px;
}

.svg-top{
    fill: #3c246f;position: relative;top: 28px;
}

.identificar-content h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

.violencia-bigbox{
    background-color: #d5e26a;
    border: 1px solid #93c;
    margin:15px;
}



.violencia-close-icon{
    width: 100%;
    background-color: #d5e26a;
    border-bottom: 1px solid #93c; 
    float: right;
    box-sizing: border-box;
}

.violencia-content{
    width: 100%;
   line-height: 20pt;
    text-align: center;
    padding: 5px
  
}

.violencia-content img{
    height: 20px;

}

//Tarjetas
.close-icon{
    background-color: #d5e26a;
    float: right;
    box-sizing: border-box;
    /* padding: 1px; */
    /* margin-top: 17px; */
    /* width: 24%; */

}

.header-h2{
    width: 1070%0%;
    text-align: left;
    line-height: 20pt;
    color:#3c246f;
    font-weight: 600;
  
}

//Pareja

.pareja{
    color:#3c246f;
}

.pareja p{
    font-size: 1.5rem; 
}

//contacto

.contacto{
    padding: 16px;background-color: black; color: white; font-size: 14px;
}

//SVG

.div-svg-contacto-top{
    height: 33px;
}

.svg-contacto-top{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}


.svg-contacto-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;

}

@media (min-width: 1146.98px){

    .header{
        height: 500px;
    }

    .header h1{
        left: 179px;
        position: absolute;
        font-size: 8rem;

    }

    .img2{
        height: 501px;
        padding-right: 383px;
    }

    //Noviazgo



    .noviazgo{
        margin: 100px 300px 0px 300px;
    }

    .noviazgo p{
        font-size: 4rem;
    }

    .noviazgo h1{
        font-size: 7rem;
    }

    .violento{
        margin-right: 122px;
        margin-left: 113px;
      
    }

    .violento-cont{
        color: white; background-color: #3c246f; border-radius: 30px; margin:15px;
    }

    .identificar-content h1{
        font-size: 7rem;
    }
    
    .identificar-content p{
     
    }

    .violencia-bigbox{
        margin-right: 122px;
        margin-left: 113px;

    }

    .violencia-content{
        line-height: normal;
    }

    .violencia-content p{
        font-size: 4rem;
        color:#3c246f;
    }

    .violencia-content h1{
        font-size: 7rem;
    }

    //Pareja

    .pareja{
    
        margin-right: 122px;
        margin-left: 113px;
    
    }

    .pareja p{
        font-size: 4rem;
    }

    .img3{
        margin-left: 155px;
        height: 370px;
    }

    //Contacto

    
 

    .contacto p{
        font-size: 4rem;
    }

    .contacto h1{
        font-size: 7rem;
    }

    //SVG

    .div-svg-contacto-top{
        height: 155px;
    }

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom: 389px;   transform: scaleY(-1);
    }

    .div-svg-contacto-bottom{
        height: 143px;
    }
    
    .svg-contacto-bottom{
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;
    
    }












}
