<app-toolbar></app-toolbar>

<ion-content>


  <div>
    <img class="img-header" src="../../../assets/headers/header relaciones.svg" >
    </div>


  <ion-card class="margin-card-noviazgo card-no-shadow">
    <ion-card-content>
      <div class="noviazgo-content">
      <p>"Noviazgo Violento refiere a una relación de pareja donde una de las personas agrede a la otra o la agresión es mutua.</p>
      <br>
      <p><span style="background-color: #d5a8c9;">La particularidad de estas relaciones es que la violencia no pone en duda la continuidad de la pareja.</span></p>
      <br>
      <div class="noviazgo-bold-text">
      <p>La violencia es peligrosa y deja consecuencias en la vida de las personas.</p>
      </div>
      <br>
    </div>
    </ion-card-content>
  </ion-card>

 <ion-card class="noviazgo margin-card-default card-no-shadow">
   
  <h2 class="title__section">Como identificar noviazgos violentos</h2>
  <ion-grid class="violento-cont">
    <ion-row class="identificar-content">
   
      <ion-col size="12" size-md="8">
        
   
            <h2>Relación asimetrica o desigual:</h2>
            <p>Una relación asimétrica o con dominancia, es cuando uno de los integrantes de la pareja manipula por medio de agresiones de cualquier tipo al otro/ra, generando de este modo una diferencia de poder entre ambos ASIMETRÍA.</p>
            
            <p>
              Hay uno/a que domina, manipula, lastima y ejerce violencia, para luego mostrarse  arrepentid@, y hacer cosas para reconquistar a la persona agredida. De esta manera, se forma UN CICLO DE ENOJOS Y RECONCILIACIONES.
            </p>
        
      </ion-col>
      
      <ion-col class="svg-costado" size="0" size-md="4">

    
         <img class="violento__img" src="../../../assets/pdf relaciones sexoafectivas/noviazgo violento foto.svg">

      </ion-col>
      
    </ion-row>
  </ion-grid>



  </ion-card>

  
 

    


    <ion-grid class="margin-card-default">
      <ion-row>
      <ion-col size="12" size-md="6">

          <ion-card class="card-no-shadow">
            <ion-col size="12">
              <div class="violencia-bigbox">
                <div style="border-bottom: 1px solid #93c;" class="violencia-content">
                  <div class="close-icon">
                    <img src="../../../assets/x-caja.png">
                  </div>

                  <div class="header-h2" >
                    <h2>Violencia de género</h2>
                  </div>


                </div>
                <div class="violencia-text">
                  <p>Las Naciones Unidas definen la violencia contra la mujer o disidencias como «todo acto de violencia de género que resulte, o pueda tener como resultado un daño físico, sexual o psicológico, inclusive las amenazas de tales actos, la coacción o la privación arbitraria de libertad, tanto si se producen en la vida pública como en la privada».</p>

                </div>
              </div>
            </ion-col>

          </ion-card>

      </ion-col>

      <ion-col size="12" size-md="6">


    <ion-card class="card-no-shadow">

      <ion-col size="12">
        <div class="violencia-bigbox">
          <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">


            <div class="close-icon">
              <img src="../../../assets/x-caja.png">
            </div>

            <div class="header-h2" >
              <h2>Violencia Física</h2>
            </div>

          </div>
          <div class="violencia-text" >
            <p>Es la que actúa contra el cuerpo de la víctima causándole dolor, daño o riesgo de producirlo y cualquier otra forma de maltrato o agresión que afecte su integridad física.</p>

          </div>


        </div>
      </ion-col>
    </ion-card>


      </ion-col>

      <ion-col size="12" size-md="6">

        <ion-card class=" card-no-shadow">

          <ion-col size="12">
            <div class="violencia-bigbox">
              <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">

                <div class="close-icon">
                  <img src="../../../assets/x-caja.png">
                </div>

                <div class="header-h2" >
                <h2>Violencia Psicológica o emocional</h2>
                </div>


              </div>
              <div class="violencia-text" >
                <p>Es toda conducta que causa daño emocional y disminución de la autoestima, busca degradar el valor de la persona ante ella misma y ante los demás, controlar sus acciones, comportamientos, creencias y decisiones. Este tipo de violencia le impide a la víctima desarrollar plenamente su personalidad.</p>

              </div>
            </div>
          </ion-col>

        </ion-card>

      </ion-col>


      <ion-col size="12" size-md="6">

        <ion-card class=" card-no-shadow">

          <ion-col size="12">
            <div class="violencia-bigbox">
              <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">

                <div class="close-icon">
                  <img src="../../../assets/x-caja.png">
                </div>

                <div class="header-h2" >
                  <h2>Violencia sexual</h2>
                </div>


              </div>
              <div class="violencia-text" >
                <p>Este tipo de violencia incluye cualquier práctica o acto sexual que no sea plenamente consentido por l@s dos integrantes de la pareja.
                </p>
              </div>
            </div>
          </ion-col>

        </ion-card>

      </ion-col>





    </ion-row>
    </ion-grid>









  <ion-card class="margin-card-default card-no-shadow">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="pareja" size="12" size-md="8">
            <p>La violencia en una pareja suele comenzar en ámbitos privados y en ausencia de testigos.</p>
            <br>
            <p style="font-style: italic;"> Se habla de “doble fachada” o “dos caras” cuando el/la que ejerce violencia, se muestra amoros@ y considerado con su pareja sólo cuando hay testigos.</p>
          </ion-col>
          <ion-col size="12" size-md="4">
            <img class="img3" src="../../../assets/pdf relaciones sexoafectivas/image006.png">

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>





    <svg class="svg-contacto-top"  viewBox="0 0 500 40" preserveAspectRatio="none" ><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>



  <div class="contacto" >
      <div class="contacto-content  margin-card-default card-no-shadow">
      <h2>¿Qué hacer ante una situación violenta?</h2>
      <br>
      <p>Comunicate al 144, las 24 horas de lunes a lunes.</p>

      <p>En caso de vivir una situación de violencia, la víctima puede salir y pedir ayuda: salir del aislamiento por pandemia de COVID 19, está justificado por encontrarse en peligro.</p>

      <p>Se aconseja:</p>

      <ul>
        <li>Llamar al 109 - Urgencias</li>
        <li>Línea 144 - Asesoramiento, acompañamiento y contención</li>
        <li>Whatsapp que atiende 24 hs 2771-6463 para violencia de género</li>
        <li>Oficina de Violencia Doméstica - Denuncia y atención las 24 hs. (Lavalle 1250- 11-4123-4510)</li>
        <li>Comisaría más cercana – Denuncia</li>
        <li>Comisaria de la mujer 2111-2218</li>
        <li>Ministerio Público Fiscal - Denuncias y atención las 24 hs (denuncias@fiscalias.gob.ar)</li>
        <li>WhatsApp de la Ciudad: 11-5050-0147</li>
        <li>Comisaria de la Mujer de Vicente López
          <br>
          Tomás Espora 3045, B1636DUC Olivos, Provincia de Buenos Aires.
          <br>
          Teléfono: 011 4711-7887
        </li>
      </ul>
      </div>
      <img class="img-contacto-3" src="../../../assets/imgHome/circulo-violeta.png">
      <img class="img-contacto-2" src="../../../assets/imgHome/circle-lightblue.png">
      <img class="img-contacto-4" src="../../../assets/imgHome/circulo-verde.png">
</div>


<div class="component">
  <app-contact></app-contact>
</div>


  <app-footer></app-footer>

 


</ion-content>
