<ion-header>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="font: bold;">Relaciones sexo-afectivas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="noviazgo-content">
      <p style="font-size:1.5rem; text-align: justify;">Noviazgo Violento refiere a una relación de pareja donde una de las personas agrede a la otra o la agresión es mutua.</p>
      <br>
      <p style="font-size:1.5rem; text-align: justify;"><span style="background-color: #d5a8c9;">La particularidad de estas relaciones es que la violencia no pone en duda la continuidad de la pareja.</span></p>
      <br>
      <p style="font-size:1.5rem; text-align: justify;">La violencia es peligrosa y deja consecuencias en la vida de las personas.</p>
    <br>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <h1 style=" margin: 18px ;font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);">Como identificar noviazgos violentos</h1>
    <ion-card-content style="color: white; background-color: #3c246f; border-radius: 30px; margin: 12px;">
      <div class="identificar-content">
      <h2 style="font-weight: bold;
      font-size: 2rem;color: rgb(255, 255, 255);">Relacion asimetrica o desigual</h2>
        <br>
        <p style="color: rgb(255, 255, 255);">Una relación asimétrica o con dominancia, es cuando uno de los integrantes de la pareja manipula por medio de agresiones de cualquier tipo al otro/ra, generando de este modo una diferencia de poder entre ambos ASIMETRÍA.<br>Hay uno/a que domina, manipula, lastima y ejerce violencia, para luego mostrarse  arrepentid@, y hacer cosas para reconquistar a la persona agredida. De esta manera, se forma UN CICLO DE ENOJOS Y RECONCILIACIONES.  <br><br></p>
     <img src="../../../assets/pdf relaciones sexoafectivas/Noviazgo violento.jpg">
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-col size="12">
    <div class="violencia-bigbox">
      <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
        <h2>Violencia de género</h2>

      </div>
      <div class="violencia-content" style="text-align: justify; padding: 10px; ">
        <p>Las Naciones Unidas definen la violencia contra la mujer o disidencias como «todo acto de violencia de género que resulte, o pueda tener como resultado un daño físico, sexual o psicológico, inclusive las amenazas de tales actos, la coacción o la privación arbitraria de libertad, tanto si se producen en la vida pública como en la privada».</p>
     
      </div>
    </div>
  </ion-col>

  <ion-col size="12">
    <div class="violencia-bigbox">
      <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
        <h2>Violencia Física</h2>

      </div>
      <div class="violencia-content" style="text-align: justify; padding: 10px; ">
        <p>Es la que actúa contra el cuerpo de la víctima causándole dolor, daño o riesgo de producirlo y cualquier otra forma de maltrato o agresión que afecte su integridad física.</p>
     
      </div>
    </div>
  </ion-col>

  <ion-col size="12">
    <div class="violencia-bigbox">
      <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
        <h2>Violencia Psicológica o emocional</h2>

      </div>
      <div class="violencia-content" style="text-align: justify; padding: 10px; ">
        <p>Es toda conducta que causa daño emocional y disminución de la autoestima, busca degradar el valor de la persona ante ella misma y ante los demás, controlar sus acciones, comportamientos, creencias y decisiones. Este tipo de violencia le impide a la víctima desarrollar plenamente su personalidad.</p>
     
      </div>
    </div>
  </ion-col>

  <ion-col size="12">
    <div class="violencia-bigbox">
      <div style="border-bottom: 1px solid #93c; width: 100%; " class="violencia-content">
        <h2>Violencia sexual</h2>

      </div>
      <div class="violencia-content" style="text-align: justify; padding: 10px; ">
        <p>Este tipo de violencia incluye cualquier práctica o acto sexual que no sea plenamente consentido por l@s dos integrantes de la pareja.
        </p>
     
      </div>
    </div>
  </ion-col>


  <ion-card>
    <ion-card-content>
      <div style="color: rgb(60, 36, 111);">
      <p style="font-size: 1.5rem;">La violencia en una pareja suele comenzar en ámbitos privados y en ausencia de testigos.</p>
      <br>
      <p style="font-size: 1.5rem;"> Se habla de “doble fachada” o “dos caras” cuando el/la que ejerce violencia, se muestra amoros@ y considerado con su pareja sólo cuando hay testigos.</p>
      <br>
      <img src="../../../assets/pdf relaciones sexoafectivas/image006.png">
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: black; color: white;">
    <ion-card-content>
      <div class="contacto-content">
      <h1 style="color: white;">¿Qué hacer ante una situación violenta?</h1>
      <br>
      <p>Comunicate al 144, las 24 horas de lunes a lunes.</p>
      <br>
      <p>En caso de vivir una situación de violencia, la víctima puede salir y pedir ayuda: salir del aislamiento por pandemia de COVID 19, está justificado por encontrarse en peligro.</p>
      <br>
      <p>Se aconseja:</p>
      <br>
      <p>- Llamar al 109 - Urgencias</p>
      <br>
      <p>- Línea 144 - Asesoramiento, acompañamiento y contención</p>
      <br>
      <p>- Whatsapp que atiende 24 hs 2771-6463 para violencia de género</p>
      <br>
      <p>- Oficina de Violencia Doméstica - Denuncia y atención las 24 hs. (Lavalle 1250- 11-4123-4510)</p>
      <br>
      <p>- Comisaría más cercana – Denuncia</p>
      <br>
      <p>- Comisaria de la mujer 2111 -2218</p>
      <br>
      <p>- Ministerio Público Fiscal - Denuncias y atención las 24 hs (denuncias@fiscalias.gob.ar)</p>
      <br>
      <p>- WhatsApp de la Ciudad: 11-5050-0147</p>
      <br>
      <p>-
        Comisaria de la Mujer de Vicente López
        
        Tomás Espora 3045, B1636DUC Olivos, Provincia de Buenos Aires
        
        Teléfono: 011 4711-7887</p>
      </div>
    </ion-card-content>
  </ion-card>

  

  

</ion-content>
