@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.button__hero {
    width: 170px;
    height: 40px;
   
  }

  h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  p{
      font-family: 'bitter', sans-serif;
      font-weight: 400;
    }

.card-no-shadow {
    box-shadow: none;
  }
  
  .title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    font-size: 2rem;
  }
  
  
  .title__section-light {
    color: var(--ion-color-light);
    font-weight: 600;
  }




//Header

.header {
    height: 30%; 
    text-align: center;
    width: 100%;
    background-color: rgb(176, 207, 196); 
    font-size: 3rem;
}

.header h1{
  
    left: 15px;
    position: absolute;
    font-size: 2.5rem;

}

//Violento



.violento-cont{
    color: white; background-color: #3c246f; border-radius: 30px; 
}
//noviazgo



.noviazgo-content p{
    color: #3c246f;
    font-size: 2rem; 
}

.noviazgo-bold-text p{
    font-weight: bold;
}

.noviazgo-content span{
    line-height: normal;
}


//IDENTIFICAR
.identificar-content{
    padding: 10px;
}

.identificar-content p{
    font-size: 1.5rem;
}


//SVG

.div-svg-top{
    height: 33px;
}

.svg-top{
    fill: #3c246f;position: relative;top: 28px;
}



.violencia-bigbox{
    background-color: #f0f0f0;
    border: 1px solid #93c;
    margin:15px;
    
}


.violencia-content{
    text-align: justify;
    padding: 5px;
   
}

.violencia-text{
    text-align: justify;
    padding: 5px;
    font-size: 1.5rem;
    color: #3c246f;
}


//Tarjetas
.close-icon{
    width: 100%;
    background-color: #f0f0f0;

}

.close-icon img{
    margin-left: 231px;
}

.header-h2{
    text-align: center;
    color:#3c246f;
    font-weight: bold;
    
  
}

//Pareja



.pareja p{
    font-size: 1.5rem; 
    color:#3c246f;
    font-weight: 800;
}

//contacto

.contacto{
    padding: 16px;background-color: black; color: white; font-size: 14px;
}


//SVG

.div-svg-contacto-top{
    height: 33px;
}

.svg-contacto-top{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}


.svg-contacto-bottom{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;

}

.img-contacto-2{
    display: none;
}

.img-contacto-3{
    display: none;

}

.img-contacto-4{
    display: none;
}

@media (min-width: 1146.98px){

    

    .margin-card-default{
        margin: 16px 279px 1px 271px;
        max-width: 1330px; 
    }


    .header{
        height: 500px;
    }

    .header h1{
        left: 179px;
        position: absolute;
        font-size: 8rem;

    }

    .img2{
        height: 501px;
    
    }

    //Noviazgo


    .noviazgo p{
        font-size: 4rem;
    }

    .noviazgo h2{
        font-size: 4rem;
        color: #3c246f;
    }
    
    .noviazgo-content p{
        font-size: 3rem; 
    }

    .violento{
        margin-right: 122px;
        margin-left: 113px;
      
    }

    .violento-cont{
      color: white; background-color: #3c246f; border-radius: 30px; 
    }

    .identificar-content{
        padding: 10px;
    }

    .identificar-content h2{
        font-size: 3rem;
        color: white;
    }
    
    .identificar-content p{
      
        font-size: 2rem;
        color: white;
    }


    //Pareja

    .pareja p{
        font-size: 1.8rem;
    }


    .img3{
        margin-left: 155px;
        height: 370px;
    }

    //Contacto

    
    .contacto{
        background-color: black;
    }

    .contacto p{
        font-size: 1.5rem;
      
    }

    .contacto-content h2{
        font-size: 3rem;
    }

    .img-contacto-2{
        display: block;
        position: absolute;
        transform: scaleX(-1);
     
        margin: -800px 10px 1px -67px;
    }

    .img-contacto-3{
        position: relative;
        left: 1365px;
        top: -742px;
        display: block;
    
    }

    .img-contacto-4{
        position: relative;
        left: 1365px;
        top: -430px;
        display: block;
    }
  
    //SVG

    .div-svg-contacto-top{
        height: 155px;
    }

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom: 403px;   transform: scaleY(-1);
    }

    .div-svg-contacto-bottom{
        height: 143px;
    }
    
    .svg-contacto-bottom{
        fill: rgb(255, 255, 255);position: relative;bottom: 1px;
    
    }

    //card its

    .header-h2 h2{
      
        font-size: 2.2rem;
    }


    .violencia-text {
        font-size: 1.8rem;
        color: #3c246f;
        
    }

    .violencia-bigbox{
        height: 466px;
    }

    .close-icon{
        height: 28px;
    }

    .close-icon img{
        margin-left: 530px;
    }











}
