ion-toolbar {
  height: 100px;
}

.logo2 {
  width: 400px;
}

.logo1{
  width: 178px;
}



@media (min-width: 768px) {

  .logo2, .logo1 {
    width: 180px;
  }

  .logo1 {
    margin-left: 90px ;
  }

  .logo2 {
    margin-right: 95px;
  }

}


