<app-toolbar></app-toolbar>

<ion-content>
  <div style="display: flex ;background-color: #c8b5ed; height: 25%; text-align: center;">
    <h1 style="font-size: 3rem;color: black; top: 50px; position: relative; left: 129px;">Géneros</h1>
    <img style="position: absolute; height: 21px; position: absolute; left: 270px; top: 19px;" src="../../../assets/pdf genero/piririn-2.png">
    <img style="position: absolute; left: 39px; top: 34px; position: absolute; height: 36px;" src="../../../assets/pdf genero/circulo-verde.png">
     <img style="position: relative; height: 43px; transform: scaleX(-1); top: 93px; right: 121px;" src="../../../assets/imgHome/circle-lightblue.png">
     <img style="position: relative;top: 75px;" src="../../../assets/pdf bullying/Image_009.png">
  </div>
  <div style="height: 27px;">
     <svg viewBox="0 0 500 150" preserveAspectRatio="none"><path style="fill: #c8b5ed;" class="lv-wave" d="M-76.46,42.92 C112.02,-45.88 486.17,116.94 577.03,-29.11 L515.52,-20.22 L-25.11,-14.30 Z"></path></svg>
    </div>
  <ion-card>
    <ion-card-content style="justify-content: center;">
      <h1 style="font-size: 3rem;">Igualdad de géneros</h1>
      <br>
      <div class="igualdad-content">
      <p>La igualdad de género reﬁere a la igualdad de oportunidades entre niños, niñas adolescentes, hombres, mujeres y diversidades, en relación al pleno goce de los derechos.</p>
      <br>
      <p >En la actualidad, existen diversas conquistas hacia las mujeres y disidencias, que hace unas décadas atrás eran impensables. Esto quiere decir que los derechos para las mujeres y disidencias, se han ido obteniendo mediante distintas prácticas combinadas: académicas, políticas, de organización social, etc.</p>
      <br>
      <p>Sin embargo y, a pesar de las conquistas del movimiento feminista, en Argentina y en el mundo, aún existen problemáticas sociales de gran desigualdad a la hora de acceder al pleno goce de los derechos, de igual manera que los hombres.</p>
      <br>
      <p>Cuando se habla de igualdad, no se reﬁere a poner un género sobre otro, ni a generar una lucha entre las personas. Lo que se aspira, es a visibilizar la desigualdad aún existente, que se ve materializada y naturalizada, en distintas esferas de la vida.</p>
      <br>
      <p>Haciendo un poco de historia, podemos recordar que antes de la década del 50, las mujeres no tenían voto, a la hora de deﬁnir las autoridades y conducción del país. De manera que la democracia no incluía la voz de las mujeres en el sufragio.</p>
      <br>
      <p>Hoy parece incomprensible, pero afortunadamente el avance en materia de derechos también ha habilitado el voto no solo a las mujeres sino que además lxs jóvenes de 16 años tienen derecho a votar, si lo desean. La ley n° 26.774 en su artículo 1º es clara al deﬁnir que “los argentinos que hubiesen cumplido la edad de dieciséis (16) años, gozan de todos los derechos políticos conforme a la constitución y a las leyes de la república.”</p>
      <br>
      <p>Este signiﬁca que a lo largo de la historia, la juventud ha experimentado muchos cambios y, en los últimos años, se han ampliado sus formas de participación, entendiendo que lxs jóvenes son capaces y suﬁcientemente maduros, para asumir mayores responsabilidades y tener un ejercicio más pleno de sus derechos políticos. El voto a partir de los 16 años signiﬁca que los jóvenes tienen uno de los principales derechos democráticos y que van a poder ejercerlo con compromiso.</p> 
      <br>
      <p>Afortunadamente, el avance de las sociedades a través de las conquistas sociales y de los derechos, ha permitido que muchas mujeres puedan, estudiar y alcanzar posiciones de ocupando cargos en los poderes que hacen a una República como son el: Poder Ejecutivo, el Legislativo y el Poder Judicial.</p>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-content>
      
      <h1 style="font-size: 3rem;">Empoderamiento</h1>
      <br>
      <div class="empoderamiento-content">
      <p>Una de las principales formas de empoderamiento de las niñas, adolescentes mujeres y disidencias, tiene que ver con la capacidad de organización y agrupación, pero fundamentalmente en el auto reconocimiento del potencial y capacidad para gozar de los derechos y la libertad para poder ejercerlos.</p>
      <br>
      <p>Sin embargo, en este sendero de los derechos humanos fundamentales, la participación en la vida social, política, económica, etc. muchas veces se ve perjudicada en el caso de las mujeres niñas y adolescentes por ciertas creencias y tradiciones que reproducen algunas prácticas machistas que beneﬁcian exclusivamente a los hombres. Por ejemplo: hogares donde los hombres son criados para trabajar y a las niñas y adolescentes se las orienta a actividades de cuidado de lxs hombres y el hogar, como cocinar, lavar, planchar, hacer las compras, etc.</p>
      <br>
      <p>Aún hay muchas mujeres, niñas y adolescentes que padecen en sus núcleos primarios, como la familia, roles subalternos que condicionan sus deseos y sus gustos, predestinándolas a roles pasivos socialmente hablando y a un desempoderamiento silencioso.</p>
      <br>
      <p>Por eso es muy importante estar informada/o y dialogar y participar de espacios de discusión y reﬂexión, como por ejemplo los que promueve UNICEF o las Naciones Unidas, ya que son organismos que trabajan por ampliar los derechos de las niñas, adolescentes mujeres y disidencias de todo el mundo.</p>
    </div>
    </ion-card-content>
  </ion-card>

      <div style="height: 33px;">
        <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);"><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
      </div>
      
   <div style="padding: 16px;background-color: black; color: white; font-size: 14px;">
      <button style="font-weight: bold ;padding: 15px;border-radius: 30px; background-color:white; "> <a style="color: black; text-decoration: none;" href="https://mvl.edu.ar/programas/parlamento-de-las-juventudes/">Participá</a></button>
      <br>
      <div style="padding-bottom: 10px; padding-top:10px; margin: 5px;">
        <h2>CONTACTOS Y PREFERENCIAS</h2>
        <br>
        <a href="www.unicef.org/lac/igualdad-de-genero" style="color: white; text-decoration: none;">www.unicef.org/lac/igualdad-de-genero</a> 
        <br>  
        <a href="lac.unwomen.org/es/digiteca/publicaciones/2015/07/jovenes-y-participacion" style="color: white; text-decoration: none;">lac.unwomen.org/es/digiteca/publicaciones/2015/07/jovenes-y-participacion</a>
        <br>
        <a href="www.unicef.org/argentina/temas/adolescentes" style="color: white; text-decoration: none;">www.unicef.org/argentina/temas/adolescentes</a>
     </div>
 
     <div>
       <h2>SERVICIOS</h2>
       <br>
       <p>Centro Municipal de la Niñez Adolescencia de Vicente López

        Hipólito Yrigoyen 4848, Florida Oeste, Buenos Aires
        
        Teléfono 47112800 Int 4415</p>

        <p>Servicio de Adolescencia. Hospital Municipal

          Hipólito Yrigoyen 1757
          
          4796-7200 Int 7309
          
          adolescenciaservicio@gmail.com</p>
      </div>
    </div>

    <div style="height: 33px;">
      <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 0px;"><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
    </div>

  <ion-card>
    <ion-card-content>
      <h1 style="font-size: 3rem;">Identidad de género y diversidad sexual</h1>
      <br>
      <div class="identidad-content">
      <P>Hablar de identidad de género reﬁere a la forma en que cada persona siente su género. Puede corresponder o no con el sexo asignado al nacer, o sexo biológico. Es decir que el género que cada persona siente, es independiente de que se le haya asignado el sexo femenino/masculino/intersexual­ en el momento del nacimiento.</P>
      <br>
      <P>Las personas trans son aquellas personas cuya identidad de género no coincide con el sexo asingado al nacer. El término trans es un abanico que hace referencia a personas transgénero, transexuales, travestis, identidades no binarias, entre otras.</P>
      <br>
      <P>La Ley de Identidad de Género, promulgada en el año 2012 en Argentina, establece que toda persona tiene derecho a ser llamada por el nombre con el que se autopercibe, aunque su DNI no lo reﬂeje.</P>
      <br>
      <P>Este derecho debe respetarse en toda institución a la que la persona asista, ya sea: la escuela, centro de salud, universidades, etc. Asimismo, conﬁere el derecho de ﬁgurar en todos los registros y documentos institucionales con el nombre elegido. Por ejemplo: en el boletín escolar, en la Historia clínica, etc etc.</P>
      <br>
      <P>En cuanto al sistema de salud, se deben garantizar los derechos que la ley reconoce para llevar adelante el seguimiento de tu salud, o cualquier consulta que necesites realizar.</P>
      <br>
      <p>La identidad de género de una persona no constituye su orientación sexual, que reﬁere a los gustos y deseos relacionados con estar afectiva o sexualmente con otra persona. Y tampoco tiene que ver con su expresión de género, que se relaciona con los gustos por la moda, los deportes, juegos etc.</p>
      <br>
      <p>Los intereses de una persona pueden ir variando a lo largo de la vida y esto no determina necesariamente cambios relacionados con la identidad de género o su orientación sexual.</p>
      <br>
      <p>Muchos de estos aspectos son culturales, porque han sido contruidos socialmente como reglas generales a lo largo del tiempo. Tal es así que en un momento histporico solo los hombres podían jugar al futbol y actualmente es un deporte que puede ser jugado por todas las personas independientemente de su género.</p>
      <br>
      <p>Las sociedades van avanzando en términos de derechos, pero esto no signiﬁca que las actos de las personas acompañen siempre esta legislación. Por ello es que es tan importante educar a las personas adultas para que comprendan los cambios socioculturales que visibilizan nuevas identidades, antes invisibilizadas.</p>
      <br>
      <p>Los procesos de visibilización son importantes en una sociedad porque traen consigo un abanico de posibilidades para aquellas personas que antes veían cercenados sus derechos. El avance en materia de derechos humanos, implica la posibilidad de mejorar los accesos para lograr un desarrollo humano en plenitud.</p>
    </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-content>
      <div class="diversidad-content">
        <p style="font-size: 2rem; text-align: justify;">La diversidad en todos sus aspectos, y especíﬁcamente la diversidad sexual y corporal,<span style="background-color: #a4d0c6;">reconoce que las personas no se determinan por su sexo asignado al nacer, ni su género por su corporalidad.
        </span></p>
        </div>
        <div class="diversidad-2-content">
        <img src="../../../assets/pdf genero/chica.png">
        <p>En distintos escenarios de la vida, y especiﬁcamente en el área de salud, es importante reconocer los órganos sexuales internos y externos que cada persona posee, como así también sus prácticas sexuales, ya que el tamizaje de diferentes patologías, o la posibilidad de embarazo por ejemplo, dependen de ambas circunstancias. Tal es así que últimamente se preﬁere hablar de “personas con ovarios/personas con útero”, para no presumir que las personas que han nacido con dichos caracteres sexuales son mujeres. De esta forma, incorporamos a todas las peronas no binarias o los hombres trans en tal descripción, sin la necesidad de asignarles el sexo “femenino”.</p>
        <br>
        <p>Del mismo modo, al hacer referencia a “las personas con testículos”, podemos incorporar a las mujeres trans y otras identidades no binarias dentro de esta clasiﬁcación.. Por ejemplo, al hablar de “hombres” o “sexo masculino”, se descarta la posibilidad de patologías como por ejemplo el cáncer de cuello de útero.</p>
        <br>
        <p>Sin embargo, los hombres trans que no han realizado cirugía de remoción de órganos internos, son susceptibles de tal enfermedad, con lo cual el tamizaje con papanicolau es una práctica sugerida en dicha población.</p>
        <br>
        <p>Respecto a las prácticas sexuales, las mismas son importantes para realizar una correcta asesoría de anticoncepción. Las personas con útero y ovarios que no realizan prácticas sexuales con personas con testículos no tienen necesidad de anticoncepción ya que no existe posibilidad de embarazo.</p>
        <br>
        <p>Para ejempliﬁcar dicho escenario, supongamos que un hombre trans mantiene relaciones sexuales con una mujer cis, en este caso la conserjería en anticoncepción sería fomentar el uso de métodos de barrera para prevenir infecciones de transmisión sexual, pero no existiría necesidad de utilizar algún método anticonceptivo ya que no existe posibilidad de fecundación.</p>
        <br>
        <p>Por consiguiente, es conveniente siempre hacer referencia a la corporalidad y no a su sexo o género para garantizar un correcto control de salud en la poblacion de personas trans.</p>
        <br>
        <p>De igual manera, al hablar que el cáncer de próstata lo pueden tener únicamente los hombres, también estamos errados, ya que las mujeres trans son una población que no está exenta de dicha patología. Por consiguiente, conviene aclarar que el cáncer de próstata es una patología de aquellas personas que tienen próstata. Siguiendo esta lógica de pensamiento, las mujeres trans que mantienen sexo con hombres cis, tampoco tienen posibilidad de embarazo (ya que las mujeres trans no poseen ni útero ni ovario), por lo que la conserjería debería rondar en el correcto método del preservativo.</p>
        <br>
        <p>Finalmente, es importante abandonar la concepción biológica binaria para dar lugar a una mirada superadora en salud basada en la diversidad.</p>
        <br>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
 
    <ion-card-content>
      <div class="esi-content">
      <h1 style="font-size: 3rem;">ESI</h1>
      <br>
        <p>Tener acceso a información confiable y oportuna evita caer en situaciones de vulnerabilidadque pueden dejar huellas difíciles de borrar.</p>
      <br>
      <p style="font-size:2rem"><span style="background-color: #d7e36a;">Tener acceso a información confiable y oportuna evita caer en situaciones de vulnerabilidad</span> que pueden dejar huellas difíciles de borrar.</p>
      <img src="../../../assets/pdf genero/chica-2.png">
    </div>
    </ion-card-content>
  </ion-card>

  <div style="height: 33px;">
    <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);"><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
  </div>

  <div style="padding: 16px;background-color: black; color: white; font-size: 14px;">
      <div class="servicios-content">
        <h1 style="color: white;">SERVICIOS</h1>
        <p>Equipos de Abordaje Integral en Diversidad en las siguientes especialidades y servicios:</p>
        <br>
        <p>- Consultorio de Diversidad</p>
        <p>- Test rápido de VIH</p>
        <p>- Asesoramiento para tratamientos de Modiﬁcación Hormonal Corporal (TMHC)</p>
        <p>- Trabajo social y asesoramiento para el cambio registral</p>
        <p>- Asesoramiento para programas y subsidios.</p>
      <br>
      <button style="padding: 15px; border-radius: 30px; background-color:white; "><a style="font-weight:bold; text-decoration:none" href="https://www.vicentelopez.gov.ar/turnos-salud">TURNOS DIVERSIDAD</a></button>
      <br>
      <br>
      <p>Diversidad.salud@vicentelopez.gov.ar</p>
      <p>Hospital Municipal Dr. B. Houssay</p>
      <p>Hipólito Yrigoyen 1757, Florida, Buenos Aires.</p>
      <p>Teléfono 08000-555-TURNO (88766), de lunes a viernes de 8 a 18hs</p>
      <br>
      <p>Servicio de Adolescencia</p>
      <p>adolescenciaservicio@gmail.com</p>
      <p>tel: 4796-7200 int 7309</p>
    
    <br>
    <div>
      <h1 style="font-weight: bold; color: white;">Ley 26.743 - Identidad de género.</h1>
      <br>
      <p>La identidad de género es la vivencia interna e individual del género tal como la persona la siente.
        Puede corresponder o no con el sexo asignado al nacer.</p>
      <br>
      <p>Toda persona tiene derecho:</p>
      <p>-Que su identidad de género sea reconocida</p>
      <p>-Al libre desarrollo de su persona y su vida conforme a su identidad de género;</p>
      <p>-A ser tratada de acuerdo con su identidad de género y, en particular, a ser identiﬁcada de ese modo en los documentos que acreditan su identidad respecto de el/los nombre/s de pila, imagen y sexo con los que allí es registrada.</p>
      <br>
      <p>La ley permite:</p>
      <p>-Modiﬁcar tu nombre, imagen y sexo registrado para poder adecuarlos a tu identidad sin requerimiento de gestores.</p>
      <p>-También permite acceder a tratamientos hormonales, intervenciones quirúrgicas, para adecuar tu cuerpo a tu identidad.</p>
      <p>Estos procedimientos están cubiertos por obras sociales, prepagas y hospitales públicos.</p>
      <br>
      <p>Hipólito Yrigoyen 1757, Florida, Buenos Aires.

        Teléfono 08000-555-TURNO (88766), de lunes a viernes de 8 a 18hs</p>
        <br>
      <p>Servicio de Adolescencia
        
        adolescenciaservicio@gmail.com
        
        tel: 4796-7200 int 7309</p>
    </div>
  </div>     

</div>
<div style="height: 33px;">
  <svg  viewBox="0 0 500 150" preserveAspectRatio="none" style="fill: rgb(255, 255, 255);position: relative;bottom: 0px;"><path style="fill: black;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg> 
</div>


  <app-footer></app-footer>
  
</ion-content>
