h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

body{ 
    font-family: "Bitter";
    -webkit-font-smoothing: antialiased;
    }

//Igualdad

.igualdad-content p{
    color: #3c246f;
}

.igualdad-content {
    text-align: justify;
}

//Empoderamiento

.empoderamiento-content p{
    color: #3c246f;

}

.empoderamiento-content{
    text-align: justify;
}

//Identidad

.identidad-content p{
    color: #3c246f;
    
}

//diversidad

.diversidad-content{
    font-size: 3em;
    line-height: 2.3rem;
    color: #3c246f;
    text-align: justify;
}

.diversidad-2-content p{
    color: rgb(60, 36, 111);
    text-align: justify;
}

//ESI

.esi-content p{
    color: #3c246f;

}

//Servicios

.servicios-content{
    padding-left: 15px;
}