@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
    font-family: 'bitter', sans-serif;
    font-weight: bold
  }


h1{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(60, 36, 111);
}

body{ 
    font-family: "Bitter";
    -webkit-font-smoothing: antialiased;
    }

//Header

.header{
    margin-top: -20px;
}

.header h1{
    font-size: 3rem;color: black; top: 50px; position: relative; left: 129px;
}

//svg

.div-svg-top-contacto{height: 33px;}

.svg-top-contacto{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;}

.div-svg-bottom-contacto{
    height: 33px;
}

.svg-bottom-contacto{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;
}

.svg-bottom-genero{
    height: 27px;
}

//genero

.genero h1{
    font-size: 3rem;
}

//empoderamiento

.empoderamiento h1{
    font-size: 3rem;
}

//contacto

.contacto{
    padding: 16px;background-color: black; color: white; font-size: 14px;
    
}

.contacto h1{
    color: white;
}

.contacto button{
    font-weight: bold ;padding: 15px;border-radius: 30px; background-color:white;

}

.contacto-div1{
    padding-bottom: 10px; padding-top:10px; margin: 5px;
    
}

//SVG

.svg-top-contacto{
    height: 33px;
}



//Igualdad

.igualdad-content p{
    color: #3c246f;
}

.igualdad-content {
    text-align: justify;
}

//Empoderamiento

.empoderamiento-content p{
    color: #3c246f;

}

.empoderamiento-content{
    text-align: justify;
}

//Identidad

.identidad-content p{
    color: #3c246f;
    
}

.identidad h1{
    font-size: 3rem;
}

//diversidad



.diversidad-content{
    padding: 38px ;
    color: #3c246f;
    text-align: justify;
}

.diversidad-content p{
    font-size: 2rem;
}

.diversidad-2-content p{
    color: rgb(60, 36, 111);
    text-align: justify;
}

//ESI

.esi{
    color: #3c246f;;
}

.esi-content{
    text-align: center;
}

.esi-content p{
    color: #3c246f;
    font-size:2rem
}

.esi h1{
    font-size: 3rem;
}

//Servicios

.servicios{
    padding: 16px;background-color: black; color: white; font-size: 14px;
}

.servicios button{
    padding: 15px; border-radius: 30px; background-color:white; 

}

//SVG

.div-svg-contacto-top{
    height: 33px;
}

.svg-contacto-top{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}

@media (min-width: 1146.98px)  {

    .diversidad{
        margin-right: 122px;
        margin-left: 113px;
    
    }



    //SVG

    .div-svg-contacto-top{
        height: 155px;
    }

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom: 389px;   transform: scaleY(-1);
    }
//Header

.header{
    text-align: center;
}

.header h1{
    font-size: 113px;
    left: 0;
}


.header img{
    display: none;
}

//SVG

.svg-bottom-genero{
    height: 133px;
}

.svg-top-contacto{
    height: 33px;
    display: none;
}

//Genero

.genero{
    margin-right: 122px;
    margin-left: 113px;
}
.genero h1{
    font-size: 7rem;
}

.genero p{
    font-size: 4rem;
}

//empoderamiento

.empoderamiento{
    margin-right: 122px;
    margin-left: 113px;
}
.empoderamiento h1{
    font-size: 7rem;
}

.empoderamiento p{
    font-size: 4rem;
}

.contacto button{
    width: 293px;
      font-size: 3rem;
      height: 95px;
    }

.contacto{
    font-size: 4rem;
    padding: 177px;
}

.contacto h1{
    font-size: 7rem;
}
//svg contacto

.svg-top-contacto{
    display: none;
}

//identidad

.identidad{
    margin-right: 122px;
    margin-left: 113px;
    margin-top: 136px;
}

.identidad h1{
    font-size: 7rem;
    
}

.identidad p{
    font-size: 4rem;
}

//diversidad

.diversidad-content{
    padding:200px 200px 0 200px;
}

.diversidad-content p{
    font-size: 5rem;
}

.diversidad-2-content{
    margin-right: 122px;
    margin-left: 113px;
    text-align: center;
}

.diversidad-2-content p{

    font-size: 4rem;
}

.esi{
    margin-right: 122px;
    margin-left: 113px;
    
}

.esi p{
    font-size: 4rem;
}
.esi h1{
    font-size: 7rem;
}

.esi-content{
    text-align: center;
}

.esi-content p{
    font-size: 5rem;
}
.esi-content span{
    font-size: 5rem;
}

//Servicios

.servicios{
padding: 177px;
}

.servicios button{
    width: 293px;
    font-size: 3rem;
    height: 95px;

}

.servicios-content h1{
    font-size: 7rem;
}

.servicios-content p{
    font-size: 5rem;
}

.svg-servicios-top{
    display: none;
}
.svg-servicios-bottom{
    display: none;
}

}