@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


.button__hero {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  }

  h1, h2{
    font-family: 'Bitter', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

.card-no-shadow {
    box-shadow: none;
  }

.title__section {
  color: var(--ion-color-primary);
  font-weight: 700;
  color: rgb(60, 36, 111);
  font-size: 1.5rem;
  }

//Header

.header{
  margin-top: -20px;
  background-color: #c8b5ed;
  height: 25vh;
}

.header h1{
  font-size: 3rem;
  color: black;
  top: 50px;
  position: relative;
  left: 129px;
}

//svg

.div-svg-top-contacto {
  height: 33px;
}

.svg-top-contacto {
  fill: rgb(255, 255, 255);
  position: relative;
  bottom: 79px;
  }

.div-svg-bottom-contacto {
  height: 33px;
}

.svg-bottom-contacto {
  fill: rgb(255, 255, 255);
  position: relative;
  bottom: 0px;
}

.svg-bottom-genero{
  height: 27px;
}

//contacto

.contacto{
  background-color: var(--ion-color-dark);
  margin-bottom: 0;
  color: white;
  ion-card-content {
    ion-button {
      display: block;
      margin: 0 auto;
    }
  }
}


.contacto-div1{
  padding-bottom: 10px;
  padding-top:10px;
  margin: 5px;
  h2 {
    font-size: 1.5rem;
  }
  ion-button {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
}

//SVG
.svg-top-contacto{
  height: 33px;
}

.svg-bottom-contacto {
  margin-bottom: 4px;
}

//Igualdad
.igualdad-content p{
  color: #3c246f;
}

.igualdad-content {
  text-align: justify;
}

//Empoderamiento

.empoderamiento-content p{
  color: #3c246f;

}

.empoderamiento-content{
  text-align: justify;
}

//Identidad
.identidad-content p{
  color: #3c246f;
}

//diversidad
.diversidad-content{
  padding: 38px ;
  color: #3c246f;
  text-align: center;
}

.diversidad-content p{
  font-size: 1.2rem;
}

.diversidad-2-content p{
  color: rgb(60, 36, 111);
  text-align: justify;
}

.text__resalt {
  background-color: #a4d0c6;
}

//ESI
.esi{
  color: #3c246f;
}

.esi-content{
  text-align: center;
}

.esi-content p{
  color: #3c246f;
  font-size:1.5rem
}

.text__resalt-esi {
  background-color: #d7e36a;
}

//Servicios
.servicios-content {
  background-color: var(--ion-color-dark);
}

.servicios {
  h2 {
    font-size: 1.5rem;
  }
}

//SVG
.div-svg-contacto-top{
  height: 33px;
}

.svg-contacto-top{
  fill: rgb(255, 255, 255);
  position: relative;
  bottom: 75px;
  transform: scaleY(-1);
}

.svg-bottom-contacto{
  bottom: 4px;
}

.img-contacto1{
  display: none;
}

.img-contacto2{
  display: none;
}

@media (min-width: 1146.98px)  {
  .img-contacto1{
    margin: 129px 10px 10px -1px;
    position: absolute;
    display: block;
    transform: scaleX(-1);
  }

    .img-contacto2{
    display: block;
    position: absolute;
    margin: -1050px 10px 10px 1100px;

    }
    .margin-card-default{
      margin: 16px 279px 1px 271px;
      max-width: 1330px;
    }

    //SVG
    .div-svg-contacto-top{
      height: 155px;
    }

    .svg-contacto-top{
      fill: rgb(255, 255, 255);
      position: relative;
      bottom: 389px;
      transform: scaleY(-1);
    }
//Header

.header{
  text-align: center;
}

.header h1{
  font-size: 113px;
  left: 0;
}


.header img{
  display: none;
}

//SVG

.svg-bottom-genero{
  height: 133px;
}

.svg-top-contacto{
  height: 33px;
  display: none;
}

//Genero
.genero p{
  font-size: 1.5rem;
}

//empoderamiento


.empoderamiento h2{
  font-size: 1.8rem;
}

.empoderamiento p{
  font-size: 1.5rem;
}

.contacto button{
  width: 293px;
  font-size: 0.9rem;
  height: 95px;
}

.contacto{
  background-color: black;
  padding: 0;
}

.contacto h2{
  font-size: 1.5rem;
}

.contacto p{
  font-size: 1.5rem;
}
//svg contacto

.svg-top-contacto{
  display: none;
}

//identidad

.identidad{
  margin-top: 136px;
}

.identidad h2{
  font-size: 1.5rem;
}

.identidad p{
  font-size: 1.2rem;
}

//diversidad

.diversidad-content{
  padding:200px 200px 0 200px;
}

.diversidad-content p{
  font-size: 1.2rem;
}

.diversidad-2-content{
  text-align: center;
}

.diversidad-2-content p{
  font-size: 1.2rem;
}


.esi p{
  font-size: 1.2rem;
}
.esi h2{
  font-size: 1.5rem;
}

.esi-content{
  text-align: center;
}

.esi-content p{
  font-size: 1.2rem;
}
.esi-content span{
  font-size: 1.5rem;
}

//Servicios
.servicios{
padding: 177px;
}

.servicios button{
  width: 293px;
  font-size: 1rem;
  height: 95px;
}

.servicios-content{
  background-color: black;
}

.servicios-content h2{
  font-size: 1.5rem;
}

.servicios-content p{
  font-size: 1.2rem;
}

.svg-servicios-top{
  display: none;
}
.svg-servicios-bottom{
  display: none;
}


//SVG contacto
.svg-bottom-contacto{
  fill: rgb(255, 255, 255);
  position: relative;
  bottom: 2px;
}

.div-svg-bottom-contacto-2{
  height: 250px;
}

}
