@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');


.button__hero {
    width: 170px;
    height: 40px;
   
  }

  h1, h2{
    font-family: 'Bitter', sans-serif;
    font-weight: bold;
  }
  
  p{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
    }

.card-no-shadow {
    box-shadow: none;
  }
.title__section {
    color: var(--ion-color-primary);
    font-weight: 700;
    color: rgb(60, 36, 111);
    font-size: 1.8rem;
  }

//Header

.header{
    margin-top: -20px;
}

.header h1{
    font-size: 3rem;color: black; top: 50px; position: relative; left: 129px;
}

//svg

.div-svg-top-contacto{height: 33px;}

.svg-top-contacto{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;}

.div-svg-bottom-contacto{
    height: 33px;
}

.svg-bottom-contacto{
    fill: rgb(255, 255, 255);position: relative;bottom: 0px;
}

.svg-bottom-genero{
    height: 27px;
}

//genero

.genero h1{
    font-size: 3rem;
}

//empoderamiento

.empoderamiento h1{
    font-size: 3rem;
}

//contacto

.contacto{
    padding: 16px;background-color: black; color: white; font-size: 14px;
    
}

.contacto h1{
    color: white;
}

.contacto button{
    font-weight: bold ;padding: 15px;border-radius: 30px; background-color:white;

}

.contacto-div1{
    padding-bottom: 10px; padding-top:10px; margin: 5px;
    
}

//SVG

.svg-top-contacto{
    height: 33px;
}



//Igualdad

.igualdad-content p{
    color: #3c246f;
}

.igualdad-content {
    text-align: justify;
}

//Empoderamiento

.empoderamiento-content p{
    color: #3c246f;

}

.empoderamiento-content{
    text-align: justify;
}

//Identidad

.identidad-content p{
    color: #3c246f;
    
}

.identidad h1{
    font-size: 3rem;
}

//diversidad



.diversidad-content{
    padding: 38px ;
    color: #3c246f;
    
}

.diversidad-content p{
    font-size: 1.1rem;
}

.diversidad-2-content p{
    color: rgb(60, 36, 111);
    text-align: justify;
}

//ESI

.esi{
    color: #3c246f;;
}

.esi-content{
    text-align: center;
}

.esi-content p{
    color: #3c246f;
    font-size:2rem
}

.esi h1{
    font-size: 3rem;
}

//Servicios

.servicios{
    padding: 16px;background-color: black; color: white; font-size: 14px;
}

.servicios button{
    padding: 15px; border-radius: 30px; background-color:white; 

}

//SVG

.div-svg-contacto-top{
    height: 33px;
}

.svg-contacto-top{
    fill: rgb(255, 255, 255);position: relative;bottom: 79px;;   transform: scaleY(-1);
}

@media (min-width: 1146.98px)  {

    .margin-card-default{
        margin: 16px 279px 1px 271px;
        max-width: 1330px; 
    }
    

   


    //SVG

    .div-svg-contacto-top{
        height: 155px;
    }

    .svg-contacto-top{
        fill: rgb(255, 255, 255);position: relative;bottom: 389px;   transform: scaleY(-1);
    }
//Header

.header{
    text-align: center;
}

.header h1{
    font-size: 113px;
    left: 0;
}


.header img{
    display: none;
}

//SVG

.svg-bottom-genero{
    height: 133px;
}

.svg-top-contacto{
    height: 33px;
    display: none;
}

//Genero

.genero{
    
}
.genero h1{
    font-size: 1.8rem;
}

.genero p{
    font-size: 1.5rem;
}

//empoderamiento

.empoderamiento{
   
}
.empoderamiento h2{
    font-size: 1.8rem;
}

.empoderamiento p{
    font-size: 1.5rem;
}

.contacto button{
    width: 293px;
      font-size: 3rem;
      height: 95px;
    }

.contacto{
    
    padding: 177px;
}

.contacto h2{
    font-size: 1.8rem;
}

.contacto p{
    font-size: 1.5rem;
}
//svg contacto

.svg-top-contacto{
    display: none;
}

//identidad

.identidad{
   
    margin-top: 136px;
}

.identidad h2{
    font-size: 1.8rem;
    
}

.identidad p{
    font-size: 1.5rem;
}

//diversidad

.diversidad-content{
    padding:200px 200px 0 200px;
}

.diversidad-content p{
    font-size: 1.5rem;
}

.diversidad-2-content{
    
    text-align: center;
}

.diversidad-2-content p{

    font-size: 1.5rem;
}


.esi p{
    font-size: 1.5rem;
}
.esi h2{
    font-size: 1.8rem;
}

.esi-content{
    text-align: center;
}

.esi-content p{
    font-size: 1.5rem;
}
.esi-content span{
    font-size: 5rem;
}

//Servicios

.servicios{
padding: 177px;
}

.servicios button{
    width: 293px;
    font-size: 3rem;
    height: 95px;

}

.servicios-content h2{
    font-size: 1.8rem;
}

.servicios-content p{
    font-size: 1.5rem;
}

.svg-servicios-top{
    display: none;
}
.svg-servicios-bottom{
    display: none;
}

}