
<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid class="header-grid">
    <ion-row>

      <ion-col size="12" size-lg="8">
        <div class="header ion-padding">
          <img src="../../assets/imgHome/bienvenidos.png">
          <p class="header__text" color="tertiary">
            Datto es un sitio web, pensado para que lxs adolescentes accedan a información de interés, de manera confiable, segura y oportuna.
          </p>
          <ion-button
            class="button__hero"
            expand="block"
            color="primary"
            shape="round"
          >
            Sumate a Datto
          </ion-button>
          <img class="header-img-home1" src="../../assets/imgHome/circle-lightblue.png">
          <img class="header-img-home2"   src="../../assets/pdf genero/circulo-verde.png">
        </div>
      </ion-col>

      <ion-col class="header__image-women">
        <img src="../../assets/imgHome/imagenHome.png">
        <img class="header-img-home3" src="../../assets/imgHome/cuadrados-verdes.png">
      </ion-col>

    </ion-row>
  </ion-grid>

  <h2 class="title__section ion-padding"> Salud sexual </h2>


  <ion-slides
    class="ion-slides"
    pager="true"
    [options]="slideOpts"
  >

    <ion-slide>
      <ion-card class="card-slide" color="light">
        <ion-card-header>
          <img src="../../assets/imgHome/slide1.jpg">
        </ion-card-header>
        <ion-card-content>
          <div>
            <h2 class="title__section ion-padding">Métodos anticonceptivos</h2>
            <br>
            <p>
              Una plataforma especializada para integrar la cadena productiva de tu negocio
            </p>
            <br>
            <ion-button
              class="button__hero"
              expand="block"
              shape="round"
              routerLink="/salud-sexual"
            >
            Más Info
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card
        class="card-slide"
        color="light"
      >
        <ion-card-header>
          <img src="../../assets/imgHome/slide3.jpg">
        </ion-card-header>
        <ion-card-content>
          <div>
            <h2 class="title__section ion-padding"> Prevencion ITS</h2>
            <br>
            <p>Nunca dejes de cuidar a tus empleados.</p>
            <br>
            <ion-button
                class="button__hero"
                expand="block"
                shape="round"
                routerLink="/salud-sexual"
              >
              Más Info
              </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="card-slide" color="light">
        <ion-card-header>
          <img src="../../assets/imgHome/slide2.jpg">
        </ion-card-header>
        <ion-card-content>
          <div>
            <h2 class="title__section ion-padding">Gestion menstrual</h2>
            <br>
            <p>Nunca dejes de cuidar a tus empleados.</p>
            <br>
            <ion-button
                class="button__hero"
                expand="block"
                shape="round"
                routerLink="/salud-sexual"
              >
              Más Info
              </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
</ion-slides>



<div>

  <div class="div-svg-consumo-top" >
    <svg class="svg-consumo-top"  viewBox="0 0 500 150" preserveAspectRatio="none"><path style="fill: #4b1574;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
  </div>

   <div class="consumo-div">
             <h2>Consumo de sustancias</h2>
             <br>
              <p> Este espacio acerca herramientas que posibilitan la reflexión y la intervención desde un enfoque de la complejidad, la multidimensionalidad y la interdisciplinariedad que la temática requiere.
              </p>
              <br>

              <ion-button
                class="button__hero"
                expand="block"
                shape="round"
                routerLink="/consumo-problematico"
                color="light"
              >
              Más Info
              </ion-button>
     </div>
        <div style="height: 80px;">
          <svg class="svg-consumo-bottom"  viewBox="0 0 500 150" preserveAspectRatio="none"><path style="fill: #4b1574;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
        </div>
</div>


  <h2 class="title__section ion-padding">Gestión de emociones</h2>

  <div class="ion-padding">
    <p> Comprender el mundo emocional es importante para poder gestionar el estado de ánimo, lo que ayuda a poder seguir construyendo nuestra identidad, relaciones interpersonales y también el proyecto de vida.</p>
    <br>
    <p>
      Cada un@ tiene una manera diferente de registrar emociones en el cuerpo, y es fundamental conocerlas e identificarlas a tiempo. Desde DATTO queremos escucharte y ayudarte.
    </p>
  </div>


                  <ion-card>
                    <ion-card-header>
                      <img src="../../assets/imgHome/Depresión 3.jpg ">
                    </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="depresion-content" size="12" size-lg="8">
                            <h2 class="title__section">Depresión</h2>
                            <br>
                            <br>
                          <p>A veces podés sentirte bajoneada/o por un período largo de tiempo, con desánimo y pocas ganas.</p>
                          <br>
                          <p> Es importante que si te sentís así, puedas hablarlo con alguien con quien sientas conﬁanza o consideres que puede escucharte.</p>
                          <br>
                          <ion-button
                            class="button__hero"
                            expand="block"
                            shape="round"
                            routerLink="/gestion-emociones"
                            color="primary"
                          >
                            Consejos útiles
                          </ion-button>
                          </ion-col>
                          <ion-col size="12" size-lg="4">
                            <img class="img_depresion-desktop" src="../../assets/imgHome/Depresión 3.jpg ">
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>

                   <ion-card class="ansiedad-content">
                    <ion-card-header>
                      <img src="../../assets/imgHome/ansiedad.png">
                    </ion-card-header>
                     <ion-card-content>
                        <div class="ansiedad-div">
                        <ion-grid>
                          <ion-row>
                            <ion-col class="depresion-content" size="12" size-lg="8">
                              <h2 class="title__section-light">Ansiedad</h2>
                              <br>
                              <br>
                              <p>En la vida cotidiana existen emociones, sentimientos y estados de ánimo que se ven modiﬁcados permanentemente.</p>
                              <br>
                              <p>Muchas veces suceden de forma tal que no se identiﬁcan y entonces pueden afectarte mientras estás desarrollando tus actividades diarias.
                              </p>
                              <br>
                              <ion-button
                                class="button__hero"
                                expand="block"
                                shape="round"
                                routerLink="/gestion-emociones"
                                color="light"
                              >
                                ¿Qué hacer?
                              </ion-button>
                            </ion-col>
                            <ion-col size="12" size-lg="4">
                              <img class="img_depresion-desktop" src="../../assets/imgHome/ansiedad.png ">
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </ion-card-content>
                  </ion-card>




           <div style="height: 80px;">
             <svg class="svg-datto-top"  viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: #e2ed6a;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
            </div>
             <div class="div-inclusiva">
                  <div class="inclusiva-content">
                    <h1><strong>DATTO es inclusiva</strong></h1>
                    <br>
                    <p><strong>Damos la bienvenida a nuestra comunidad trans y no binaria.</strong></p>

                  <p>Todas las identidades y pronombres de género serán respetados, afirmados y celebrados en DATTO. Si buscás atención específica, nos aseguraremos de que recibas la atención que necesites.
                  </p>
                  <br>
                  <button routerLink="/generos" style="padding: 15px;border-radius: 30px">Más Info</button>
                </div>

            </div>

            <div style="height: 80px;">
              <svg  class="svg-datto-bottom" viewBox="0 0 500 150" preserveAspectRatio="none" ><path style="fill: #e2ed6a;stroke: none;" d="M-66.31,47.86 C126.69,-37.98 377.82,105.09 593.95,-18.25 L500.00,0.00 L0.00,0.00 Z"></path></svg>
            </div>


              <ion-card class="card4">

                <ion-card-content>


                <ion-grid>
                  <ion-row>
                    <ion-col class="no-es-no" size="12" size-lg="4">
                      <img src="../../assets/imgHome/no-es-no.png">
                    </ion-col>

                    <ion-col class="violento-content" size="12" size-lg="8">

                      <h1><strong>¿Cuándo un noviazgo es violento?</strong></h1>
                      <br>
                      <p>
                        La violencia es peligrosa y deja consecuencias en la vida de las personas.
                      </p>
                      <br>
                      <button routerLink="/sexo-afectivas" style="padding: 15px;border-radius: 30px">Como identificar noviazgos violentos</button>


                    </ion-col>

                  </ion-row>

                  <br>


                  <ion-row>
                    <ion-col class="depresion-content" size="12" size-lg="8">
                      <div class="igualdad-content">
                      <h1><strong> Igualdad de genero</strong></h1>
                      <br>
                      <p> La igualdad de género refiere a la igualdad de oportunidades entre niños, niñas, adolescentes, hombres, mujeres y diversidades, en relación al pleno goce de los derechos</p>
                      <br>
                      <button routerLink="/generos" style="padding: 15px;border-radius: 30px">Más Info</button>
                    </div>

                    </ion-col>
                    <ion-col size="12" size-lg="4">
                      <img src="../../assets/imgHome/imgGeneros.png">
                    </ion-col>
                  </ion-row>
                </ion-grid>


               </ion-card-content>

               </ion-card>

              <div>
                <img src="../../assets/imgHome/bgBullying.png">

              </div>

              <div class="bullying-content">
                <img src="../../assets/imgHome/nomasbulling.png">
                <p>
                  Todas las identidades y pronombres de género serán respetados, afirmados y celebrados en Datto. Si buscás atención especifíca, nos aseguraremos de que recibas la atención que necesites.
                </p>
                <br>
                <button routerLink="/acoso">¿Que hacer frente al bullying?</button>

              </div>


              <ion-card class="card5">

                <ion-card-content>


                  <ion-grid>

                    <ion-row>
                      <ion-col class="alimentacion-content" size="12" size-lg="6">
                        <h1> Alimentacion imagenes y estereotipos</h1>
                        <br>
                        <p>
                          Pensar en cuerpos y corporalidades, tiene siempre un componente cultural muy predominante, además del biológico que determina la ﬁsonomía de cada persona.
                        </p>
                        <br>
                        <p>
                          Pensando en el componente cultural, creemos que es de vital trascendencia porque reﬁere a los modos de expresión que una sociedad tiene para comunicarse y que, además, se maniﬁestan simbólicamente en el lenguaje, en la moda musical, de indumentaria y también de los tipos de cuerpo “válidos”.
                        </p>
                        <br>
                        <p>
                          La nutrición en la adolescencia es un tema súper importante que muchas veces está mas vinculado a cómo nos queremos ver, que a cómo nos sentimos a partir del funcionamiento que permite la buena nutrición en el organismo.
                        </p>
                        <br>
                        <button routerLink="/alimentacion" style="padding: 15px;border-radius: 30px">Más Info</button>
                        <br>


                      </ion-col>
                      <ion-col size="12" size-lg="6">
                        <img src="../../assets/imgHome/cuerpos_estereotipos2.png ">
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-card-content>

              </ion-card>

  <app-footer></app-footer>
</ion-content>

