
<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">

  <ion-card class="bienvenidos"> 
    <ion-card-header>
      <ion-card-title class="home__title">Bienvenid@s</ion-card-title>
  
    </ion-card-header>
    <ion-card-content class="home__header-content">
      <img class="home__img-header" src="../../assets/imgHome/genero_menu_1.jpg">
      <p class="home__text-description">Datto es un sitio web, pensado para que lxs adolescentes accedan a información de interés, de manera confiable, segura y oportuna.</p>
      <ion-button color="primary" class="home__btn-cta" expand="block" shape="round">
        Sumate a Datto
      </ion-button>
    </ion-card-content>
  </ion-card>

  
  <h1> Salud sexual </h1>
   

  <ion-slides effect="fade" style="padding: 10px; transition: 400ms;" loop="true" pager="true">

    
 
    <ion-slide>

      <ion-card color="light">
        <ion-card-header>
        <!-- <img src="/src/assets/imgHome/slide1"> -->
        <img src="../../assets/imgHome/slide1.jpg" alt="">
        </ion-card-header>

      <ion-card-content>

        <div style=" width: 100%; text-align: left;" class="anticonceptivos-content">
          <h1>Metodos anticonceptivos</h1>
          <br>
          <p>Una plataforma especializada para integrar la cadena productiva de tu negocio.</p>
          <br>
          <button>Más Info</button>
        </div>
        <br>


      </ion-card-content> 

 

    </ion-card>

      
    </ion-slide> 
    <ion-slide>
      <ion-card color="light">
        <ion-card-header>
          <img src="../../assets/imgHome/slide2.jpg" alt="">
          <!-- <img src="/src/assets/imgHome/slide2"> -->
     
      </ion-card-header>


      <ion-card-content>

        <div style=" width: 100%; text-align: left;" class="prevencion-content" >
          <h1> Prevencion ITS</h1>
          <br>
          <p>  Nunca dejes de cuidar a tus empleados.</p>
          <br>
          <button>Más Info</button>
        
        </div>
        <br>

    

      </ion-card-content> 

      </ion-card>
   </ion-slide>

   <ion-slide>
    <ion-card color="light">

      <ion-card-header>
        <!-- <img src="/src/assets/imgHome/slide3.png"> -->
        <img src="../../assets/imgHome/slide3.jpg" alt="">

      </ion-card-header>




    <ion-card-content>

      <div style=" width: 100%; text-align: left;" class="gestion-content">
        <h1>Gestion menstrual</h1>
        <br>
        <p>Nunca dejes de cuidar a tus empleados.</p>
        <br>
        <button>Más Info</button>

      </div>


    </ion-card-content> 


    </ion-card>

    </ion-slide>


  </ion-slides>


    <ion-grid>

      <ion-row>

            <ion-col size="12">
                  <ion-card style="background-color: rgb(75, 21, 116); color: rgb(255, 255, 255);">
                <ion-card-content>
                  <div style="text-align: left; color:rgb(226, 237, 106)">
                   <h1 style="width: 50%;">Consumo de sustancias</h1>
                   <br>
                  <p>Este espacio acerca herramientas que posibilitan la reflexión y la intervención desde un enfoque de la complejidad, la multidimensionalidad y la interdisciplinariedad que la temática requiere.</p>
                  <br>
                  <ion-button class="button"color="light">
                    <p>Más Info </p>
                  </ion-button>
                </div>

                  
                </ion-card-content> 

                

                </ion-card>
            </ion-col>


            <ion-col size="12">
                  <ion-card>

                    <ion-card-content class="emociones-content">
                       <div> 
                         <h1><strong>Gestion de emociones</strong></h1>
                         <br>
                          <p> Comprender el mundo emocional es importante para poder gestionar el estado de ánimo, lo que ayuda a poder seguir construyendo nuestra identidad, relaciones interpersonales y también el proyecto de vida.</p>
                          <br>
                          <p>
                            Cada un@ tiene una manera diferente de registrar emociones en el cuerpo, y es fundamental conocerlas e identificarlas a tiempo. Desde DATTO queremos escucharte y ayudarte.
                          </p>

                        <br>
                      </div>
                    </ion-card-content> 

                </ion-card>
            </ion-col>

            <ion-col size="12">

                  <ion-card> 
                    <ion-card-content>
                      <div class="depresion-content">
                        <h1><strong>Depresión</strong></h1>
                        <br>
                        <strong>Comprender el mundo emocional es importante para poder gestionar el estado de ánimo, lo que ayuda a poder seguir construyendo nuestra identidad, relaciones interpersonales y también el proyecto de vida.</strong>
                        <br>
                        <br>
                        <strong>
                          Cada un@ tiene una manera diferente de registrar emociones en el cuerpo, y es fundamental conocerlas e identificarlas a tiempo. Desde DATTO queremos escucharte y ayudarte.
                        </strong>
                        <br>
                        <br>
                        <button>Consejos utiles</button>
                        
                        <img src="../../assets/imgHome/Depresión 3.jpg " style="width: 100%;">
                        
                      </div>
                      </ion-card-content> 

         

                    </ion-card>
            </ion-col>


            <ion-col size="12">
                  <ion-card>
                    <ion-card-content class="ansiedad-content">
                      <div>
                        <h1><strong>Ansiedad</strong></h1>
                        
                        <br>
                        <strong>
                          En la vida cotidiana existen emociones, sentimientos y estados de ánimo que se ven modiﬁcados permanentemente.
                       </strong>
                        <br>
                        <br>
                        <strong>
                          Muchas veces suceden de forma tal que no se identiﬁcan y entonces pueden afectarte mientras estás desarrollando tus actividades diarias.
                        </strong>
                        <br>
                        <br>
                        <button>Que hacer?</button>
                        <br>
                        <br>
                        <div>
                          <img src="../../assets/imgHome/Ansiedad.jpg ">
                        </div>
                        
                      </div>
                      </ion-card-content> 


                    </ion-card>
              </ion-col>

            

            <ion-col size="12">

                  <ion-card style="background-color: #e2ed6a">
                <ion-card-content>
                  <div class="inclusiva-content">
                    <h1><strong>DATTO es inclusiva</strong></h1>
                    <br>
                    <h2><strong>Damos la bienvenida a nuestra comunidad trans y no binaria.</strong></h2>
                    <br>
                  <p>Todas las identidades y pronombres de género serán respetados, afirmados y celebrados en DATTO. Si buscás atención específica, nos aseguraremos de que recibas la atención que necesites.                
                  </p>
                  <br>
                  <button>Más Info</button>
                </div>
                  </ion-card-content> 
                </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card>

                <ion-card-content>
                  <div class="violento-content">
                    <h1><strong>¿Cuándo un noviazgo es violento?</strong></h1>
                    <br>
                    <p>
                      La violencia es peligrosa y deja consecuencias en la vida de las personas.
                    </p>
                    <br>
                    <button>Como identificar noviazgos violentos</button>
                  </div>
                  </ion-card-content>

              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card>

                <ion-card-content>
                  <div class="igualdad-content">
                    <h1><strong> Igualdad de genero</strong></h1>
                    <br>
                    <p> La igualdad de género refiere a la igualdad de oportunidades entre niños, niñas, adolescentes, hombres, mujeres y diversidades, en relación al pleno goce de los derechos</p>
                    <br>
                    <button>Más Info</button>
                  </div>
                 </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card style="background-color: black;">

                <ion-card-content>

                  <div class="bullying-content">
                    <p>
                      Todas las identidades y pronombres de género serán respetados, afirmados y celebrados en Datto. Si buscás atención especifíca, nos aseguraremos de que recibas la atención que necesites.
                    </p>
                    <br>
                    <button>¿Que hacer frente al bullying?</button>

                  </div>
                   </ion-card-content>

              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card>

                <ion-card-content>
                  <div class="alimentacion-content">
                    <h1> Alimentacion imagenes y estereotipos</h1>
                    <br>
                    <p>
                       Pensar en cuerpos y corporalidades, tiene siempre un componente cultural muy predominante, además del biológico que determina la ﬁsonomía de cada persona.
                    </p>
                    <br>
                    <p>
                      Pensando en el componente cultural, creemos que es de vital trascendencia porque reﬁere a los modos de expresión que una sociedad tiene para comunicarse y que, además, se maniﬁestan simbólicamente en el lenguaje, en la moda musical, de indumentaria y también de los tipos de cuerpo “válidos”.
                    </p>
                    <br>
                    <p>
                      La nutrición en la adolescencia es un tema súper importante que muchas veces está mas vinculado a cómo nos queremos ver, que a cómo nos sentimos a partir del funcionamiento que permite la buena nutrición en el organismo.
                    </p>
                    <br>
                    <button>Más Info</button>
                    <br>
                    <div>
                      <img src="../../assets/imgHome/cuerpos_estereotipos2.png ">
                    </div>
                  </div>
                 </ion-card-content>
               

              </ion-card>
            </ion-col>



                
      </ion-row>


    </ion-grid>

</ion-content>
